<section class="has-divider text-light jarallax bg-dark" data-jarallax data-speed="0.5" data-overlay>
      <img src="template-assets/img/article-9.jpg" alt="" class="jarallax-img opacity-50">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-6 col-md-8">
            <h1 class="display-4">Blog</h1>
            <p class="lead mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium.</p>
          </div>
        </div>
      </div>
      <div class="divider">
        <svg width="100%" height="96px" viewbox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveaspectratio="none">
          <path d="M0,0 C16.6666667,66 33.3333333,99 50,99 C66.6666667,99 83.3333333,66 100,0 L100,100 L0,100 L0,0 Z"></path>
        </svg>
      </div>
    </section><section>
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="100">
            <a href="#" class="card card-body justify-content-between bg-primary text-light">
              <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                  <div class="mr-2">
                    Links
                  </div>
                  <span class="opacity-70">19th December</span>
                </div>
                <span class="badge bg-primary-alt text-primary">
                  <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                  </svg>

                  27
                </span>
              </div>
              <div>
                <h2>A time-tracking app that isn’t a pain.</h2>
                <span class="text-small opacity-70">http://www.website.io/link</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-1.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Business</a>
                    </div>
                    <span class="text-muted">29th November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    12
                  </span>
                </div>
                <a href="#">
                  <h4>How to build collateral</h4>
                </a>
                <p class="flex-grow-1">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/female-3.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Abby Sims</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="300">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-2.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Design</a>
                    </div>
                    <span class="text-muted">27th November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    23
                  </span>
                </div>
                <a href="#">
                  <h4>Forging your path</h4>
                </a>
                <p class="flex-grow-1">
                  Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/male-4.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Cedric</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="400">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-3.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Business</a>
                    </div>
                    <span class="text-muted">23rd November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    82
                  </span>
                </div>
                <a href="#">
                  <h4>Securing your Series A</h4>
                </a>
                <p class="flex-grow-1">
                  Voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/male-1.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Ben Cameron</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="500">
            <div class="card card-body justify-content-between bg-primary-2 text-light">
              <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                  <div class="mr-2">
                    <a href="#">Quotes</a>
                  </div>
                  <span class="opacity-70">16th November</span>
                </div>
                <span class="badge bg-primary text-light">
                  <svg class="icon icon-sm bg-white" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                  </svg>

                  93
                </span>
              </div>
              <div>
                <h2>“You either get acquired like Trello or live long enough to see yourself become JIRA”</h2>
                <span class="text-small opacity-70">– Anne Souzakis</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="600">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-4.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Finance</a>
                    </div>
                    <span class="text-muted">16th November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    93
                  </span>
                </div>
                <a href="#">
                  <h4>Planning for change</h4>
                </a>
                <p class="flex-grow-1">
                  Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/female-4.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Anne Souzakis</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="700">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-5.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Design</a>
                    </div>
                    <span class="text-muted">10th November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    41
                  </span>
                </div>
                <a href="#">
                  <h4>Designing your startup</h4>
                </a>
                <p class="flex-grow-1">
                  Ciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/male-2.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Anwar K.</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="800">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-6.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Business</a>
                    </div>
                    <span class="text-muted">4th November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    96
                  </span>
                </div>
                <a href="#">
                  <h4>Growth hacks debunked</h4>
                </a>
                <p class="flex-grow-1">
                  Omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/male-5.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">James</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="900">
            <div class="card card-body justify-content-between bg-primary-3 text-light">
              <img src="template-assets/img/article-7.jpg" alt="Image" class="bg-image opacity-20">
              <div class="d-flex justify-content-between mb-3 position-relative">
                <div class="text-small d-flex">
                  <div class="mr-2">
                    <a href="#">Videos</a>
                  </div>
                  <span class="opacity-70">7th November</span>
                </div>
                <span class="badge bg-primary text-light">
                  <svg class="icon icon-sm bg-white" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                  </svg>

                  21
                </span>
              </div>
              <div class="d-flex position-relative">
                <a href="#" class="btn btn-primary btn-round btn-lg flex-shrink-0">
                  <svg class="icon bg-white" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icon For Play</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                      <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"></path>
                    </g>
                  </svg>
                </a>
                <div class="ml-3">
                  <a href="#">
                    <h4 class="mb-1">Planning for change documentary</h4>
                  </a>
                  <span class="text-small opacity-70">– 1hr 22mins</span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex" data-aos="fade-up" data-aos-delay="1000">
            <div class="card card-body bg-primary-2 text-light">
              <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                  <div class="mr-2">
                    <a href="#">Podcasts</a>
                  </div>
                  <span class="opacity-70">1st November</span>
                </div>
                <span class="badge bg-primary text-light">
                  <svg class="icon icon-sm bg-white" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                  </svg>

                  121
                </span>
              </div>
              <div class="d-flex">
                <a href="#" class="btn btn-lg btn-primary btn-round flex-shrink-0">
                  <svg class="icon bg-white" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icon For Volume-full</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                      <path d="M16.3155516,16.1481997 C15.9540268,16.3503696 15.4970619,16.2211868 15.294892,15.859662 C15.0927222,15.4981371 15.2219049,15.0411723 15.5834298,14.8390024 C16.6045379,14.2679841 17.25,13.1909329 17.25,12 C17.25,10.8178416 16.614096,9.74756859 15.6048775,9.17309861 C15.2448979,8.96819005 15.1191879,8.51025767 15.3240965,8.15027801 C15.529005,7.79029835 15.9869374,7.66458838 16.3469171,7.86949694 C17.8200934,8.70806221 18.75,10.2731632 18.75,12 C18.75,13.7396897 17.8061594,15.3146305 16.3155516,16.1481997 Z M16.788778,19.8892305 C16.4155074,20.068791 15.9673493,19.9117581 15.7877887,19.5384876 C15.6082282,19.165217 15.7652611,18.7170589 16.1385317,18.5374983 C18.6312327,17.3383928 20.25,14.815239 20.25,12 C20.25,9.21171818 18.6622363,6.70862302 16.2061077,5.49544344 C15.8347279,5.31200421 15.682372,4.86223455 15.8658113,4.49085479 C16.0492505,4.11947504 16.4990201,3.96711914 16.8703999,4.15055837 C19.8335314,5.61416684 21.75,8.63546229 21.75,12 C21.75,15.3971108 19.7961591,18.4425397 16.788778,19.8892305 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                      <path d="M7,16 L3.60776773,15.3215535 C2.67291934,15.1345839 2,14.3137542 2,13.3603922 L2,10.6396078 C2,9.68624577 2.67291934,8.86541613 3.60776773,8.67844645 L7,8 L10.2928932,4.70710678 C10.6834175,4.31658249 11.3165825,4.31658249 11.7071068,4.70710678 C11.8946432,4.89464316 12,5.14899707 12,5.41421356 L12,18.5857864 C12,19.1380712 11.5522847,19.5857864 11,19.5857864 C10.7347835,19.5857864 10.4804296,19.4804296 10.2928932,19.2928932 L7,16 Z" fill="#000000"></path>
                    </g>
                  </svg>
                </a>
                <div class="ml-3">
                  <a href="#">
                    <h4 class="mb-1">An interesting discussion on design</h4>
                  </a>
                  <span class="text-small opacity-70">– 1hr 22mins</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <a href="#" class="btn btn-outline-white">Previous</a>
          </div>
          <div class="col-auto">
            <nav>
              <ul class="pagination mb-0">
                <li class="page-item active">
<a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
<a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
<a class="page-link" href="#">3</a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-auto">
            <a href="#" class="btn btn-outline-white">Next</a>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-xl-7 col-lg-8 col-md-10">
            <h3 class="h2 mb-5">Get great articles direct to your inbox</h3>
            <form action="/forms/mailchimp.php" data-form-email novalidate>
              <div class="d-sm-flex flex-column flex-sm-row mb-3 justify-content-center">
                <input type="email" name="email" class="mr-sm-1 mb-2 mb-sm-0 form-control form-control-lg" placeholder="Email Address" required>
                <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                <button type="submit" class="ml-sm-1 btn btn-lg btn-primary btn-loading" data-loading-text="Sending">
                  <svg class="icon" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icon For Loading</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g>
                        <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                      </g>
                      <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                    </g>
                  </svg>
                  <span>Subscribe</span>
                </button>
              </div>
              <div>
                <div class="d-none alert alert-success" role="alert" data-success-message>
                  Thanks, a member of our team will be in touch shortly.
                </div>
                <div class="d-none alert alert-danger" role="alert" data-error-message>
                  Please fill all fields correctly.
                </div>
              </div>
            </form>

            <div class="text-small text-muted">
              We’ll never share your details with third parties.
              <br class="visible-md">View our <a href="#">Privacy Policy</a> for more info.
            </div>
          </div>
        </div>
      </div>
    </section>