<section class="controls-inside controls-light p-0" data-flickity='{ "imagesLoaded": true, "wrapAround": true }'>
      <div class="carousel-cell bg-dark text-light overlay min-vh-70 d-flex flex-column justify-content-end">
        <img src="template-assets/img/article-9.jpg" alt="Image" class="bg-image opacity-80">
        <div class="container">
          <div class="row pb-6">
            <div class="col">
              <a href="#">
                <span class="badge badge-primary">Business</span>
                <h1 class="mt-3">Interview with Leap founder Anna Perez</h1>
                <div class="d-flex align-items-center">
                  <img src="template-assets/img/avatars/female-3.jpg" alt="Avatar" class="avatar mr-2">
                  <div>
                    <div class="flex-shrink-0">by Abby Sims</div>
                    <div class="text-small text-muted">29th November</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell bg-dark text-light overlay min-vh-70 d-flex flex-column justify-content-end">
        <img src="template-assets/img/article-10.jpg" alt="Image" class="bg-image opacity-80">
        <div class="container">
          <div class="row pb-6">
            <div class="col">
              <a href="#">
                <span class="badge badge-primary">Design</span>
                <h1 class="mt-3">Productivity in the remote work era</h1>
                <div class="d-flex align-items-center">
                  <img src="template-assets/img/avatars/male-4.jpg" alt="Avatar" class="avatar mr-2">
                  <div>
                    <div class="flex-shrink-0">by Cedric</div>
                    <div class="text-small text-muted">27th November</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-cell bg-dark text-light overlay min-vh-70 d-flex flex-column justify-content-end">
        <img src="template-assets/img/article-11.jpg" alt="Image" class="bg-image opacity-80">
        <div class="container">
          <div class="row pb-6">
            <div class="col">
              <a href="#">
                <span class="badge badge-primary">Business</span>
                <h1 class="mt-3">A complete guide to approaching a VC</h1>
                <div class="d-flex align-items-center">
                  <img src="template-assets/img/avatars/male-1.jpg" alt="Avatar" class="avatar mr-2">
                  <div>
                    <div class="flex-shrink-0">by Ben Cameron</div>
                    <div class="text-small text-muted">23rd November</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section><section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="#" class="bg-primary-3-alt rounded p-4 d-flex align-items-center justify-content-center min-vh-20">
              <span class="text-small text-primary-3">Advertisement</span>
            </a>
          </div>
        </div>
      </div>
    </section><section class="pt-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="h2">Featured</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-lg-8 d-flex">
            <a href="#" class="card card-body overlay border-0 text-light mb-md-0 justify-content-end">
              <div class="position-relative">
                <span class="badge badge-primary">Tech</span>
                <div class="my-3">
                  <h2>Choosing the right build tools for your next project</h2>
                </div>
                <div class="d-flex align-items-center">
                  <img src="template-assets/img/avatars/female-4.jpg" alt="Avatar" class="avatar avatar-sm mr-2">
                  <div>
                    <div class="flex-shrink-0">by Annabelle Roberts</div>
                  </div>
                </div>
              </div>
              <img src="template-assets/img/article-8.jpg" alt="Image" class="rounded bg-image">
            </a>
          </div>
          <div class="col-md-5 col-lg-4">
            <ul class="list-unstyled list-articles">
              <li class="row row-tight">
                <a href="#" class="col-3 col-md-4">
                  <img src="template-assets/img/article-1.jpg" alt="Image" class="rounded">
                </a>
                <div class="col d-flex flex-column justify-content-between">
                  <div>
                    <a href="#">
                      <h6 class="mb-1">How to build collateral</h6>
                    </a>
                    <div class="d-flex text-small">
                      <a href="#">Business</a>
                      <span class="text-muted ml-1">29th November</span>
                    </div>
                  </div>
                  <div>
                    <span class="badge bg-primary-alt text-primary">
                      <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      12
                    </span>
                  </div>
                </div>
              </li>
              <li class="row row-tight">
                <a href="#" class="col-3 col-md-4">
                  <img src="template-assets/img/article-2.jpg" alt="Image" class="rounded">
                </a>
                <div class="col d-flex flex-column justify-content-between">
                  <div>
                    <a href="#">
                      <h6 class="mb-1">Forging your path</h6>
                    </a>
                    <div class="d-flex text-small">
                      <a href="#">Design</a>
                      <span class="text-muted ml-1">27th November</span>
                    </div>
                  </div>
                  <div>
                    <span class="badge bg-primary-alt text-primary">
                      <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      23
                    </span>
                  </div>
                </div>
              </li>
              <li class="row row-tight">
                <a href="#" class="col-3 col-md-4">
                  <img src="template-assets/img/article-3.jpg" alt="Image" class="rounded">
                </a>
                <div class="col d-flex flex-column justify-content-between">
                  <div>
                    <a href="#">
                      <h6 class="mb-1">Securing your Series A</h6>
                    </a>
                    <div class="d-flex text-small">
                      <a href="#">Business</a>
                      <span class="text-muted ml-1">23rd November</span>
                    </div>
                  </div>
                  <div>
                    <span class="badge bg-primary-alt text-primary">
                      <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      82
                    </span>
                  </div>
                </div>
              </li>
              <li class="row row-tight">
                <a href="#" class="col-3 col-md-4">
                  <img src="template-assets/img/article-4.jpg" alt="Image" class="rounded">
                </a>
                <div class="col d-flex flex-column justify-content-between">
                  <div>
                    <a href="#">
                      <h6 class="mb-1">Planning for change</h6>
                    </a>
                    <div class="d-flex text-small">
                      <a href="#">Finance</a>
                      <span class="text-muted ml-1">16th November</span>
                    </div>
                  </div>
                  <div>
                    <span class="badge bg-primary-alt text-primary">
                      <svg class="icon bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      93
                    </span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section><section class="pt-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="h2">Popular</h3>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-8 col-lg-9">
            <div class="pr-lg-4">
              <a href="#" class="card card-body justify-content-between bg-primary text-light">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      Links
                    </div>
                    <span class="opacity-70">19th December</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    27
                  </span>
                </div>
                <div>
                  <h2>A time-tracking app that isn’t a pain.</h2>
                  <span class="text-small opacity-70">http://www.website.io/link</span>
                </div>
              </a>
            </div>
            <div class="pr-lg-4">
              <div class="card card-article-wide flex-md-row no-gutters">
                <a href="#" class="col-md-4">
                  <img src="template-assets/img/article-1.jpg" alt="Image" class="card-img-top">
                </a>
                <div class="card-body d-flex flex-column col-auto p-4">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-small d-flex">
                      <div class="mr-2">
                        <a href="#">Business</a>
                      </div>
                      <span class="text-muted">29th November</span>
                    </div>
                    <span class="badge bg-primary-alt text-primary">
                      <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      12
                    </span>
                  </div>
                  <a href="#" class="flex-grow-1">
                    <h3>How to build collateral</h3>
                  </a>
                  <div class="d-flex align-items-center mt-3">
                    <img src="template-assets/img/avatars/female-3.jpg" alt="Image" class="avatar avatar-sm">
                    <div class="ml-1">
                      <span class="text-small text-muted">By</span>
                      <span class="text-small">Abby Sims</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pr-lg-4">
              <div class="card card-article-wide flex-md-row no-gutters">
                <a href="#" class="col-md-4">
                  <img src="template-assets/img/article-2.jpg" alt="Image" class="card-img-top">
                </a>
                <div class="card-body d-flex flex-column col-auto p-4">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-small d-flex">
                      <div class="mr-2">
                        <a href="#">Design</a>
                      </div>
                      <span class="text-muted">27th November</span>
                    </div>
                    <span class="badge bg-primary-alt text-primary">
                      <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      23
                    </span>
                  </div>
                  <a href="#" class="flex-grow-1">
                    <h3>Forging your path</h3>
                  </a>
                  <div class="d-flex align-items-center mt-3">
                    <img src="template-assets/img/avatars/male-4.jpg" alt="Image" class="avatar avatar-sm">
                    <div class="ml-1">
                      <span class="text-small text-muted">By</span>
                      <span class="text-small">Cedric</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pr-lg-4">
              <div class="card card-article-wide flex-md-row no-gutters">
                <a href="#" class="col-md-4">
                  <img src="template-assets/img/article-3.jpg" alt="Image" class="card-img-top">
                </a>
                <div class="card-body d-flex flex-column col-auto p-4">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-small d-flex">
                      <div class="mr-2">
                        <a href="#">Business</a>
                      </div>
                      <span class="text-muted">23rd November</span>
                    </div>
                    <span class="badge bg-primary-alt text-primary">
                      <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      82
                    </span>
                  </div>
                  <a href="#" class="flex-grow-1">
                    <h3>Securing your Series A</h3>
                  </a>
                  <div class="d-flex align-items-center mt-3">
                    <img src="template-assets/img/avatars/male-1.jpg" alt="Image" class="avatar avatar-sm">
                    <div class="ml-1">
                      <span class="text-small text-muted">By</span>
                      <span class="text-small">Ben Cameron</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-3 d-none d-md-block">
            <div class="sticky-top pb-3">
              <a href="#" class="bg-primary-3-alt rounded p-4 d-flex align-items-center justify-content-center min-vh-30">
                <span class="text-small text-primary-3">Advertisement</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section><section class="bg-primary-alt">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h3 class="h2">Browse Categories</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="100">
            <a href="#" class="card card-body hover-shadow-3d">
              <div class="icon-round mb-3 mb-md-5 icon bg-primary">
                <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Icon For Display#1</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                    <path d="M11,20 L11,17 C11,16.4477153 11.4477153,16 12,16 C12.5522847,16 13,16.4477153 13,17 L13,20 L15.5,20 C15.7761424,20 16,20.2238576 16,20.5 C16,20.7761424 15.7761424,21 15.5,21 L8.5,21 C8.22385763,21 8,20.7761424 8,20.5 C8,20.2238576 8.22385763,20 8.5,20 L11,20 Z" fill="#000000" opacity="0.3"></path>
                    <path d="M3,5 L21,5 C21.5522847,5 22,5.44771525 22,6 L22,16 C22,16.5522847 21.5522847,17 21,17 L3,17 C2.44771525,17 2,16.5522847 2,16 L2,6 C2,5.44771525 2.44771525,5 3,5 Z M4.5,8 C4.22385763,8 4,8.22385763 4,8.5 C4,8.77614237 4.22385763,9 4.5,9 L13.5,9 C13.7761424,9 14,8.77614237 14,8.5 C14,8.22385763 13.7761424,8 13.5,8 L4.5,8 Z M4.5,10 C4.22385763,10 4,10.2238576 4,10.5 C4,10.7761424 4.22385763,11 4.5,11 L7.5,11 C7.77614237,11 8,10.7761424 8,10.5 C8,10.2238576 7.77614237,10 7.5,10 L4.5,10 Z" fill="#000000"></path>
                  </g>
                </svg>
              </div>
              <div>
                <h5 class="mb-1">Technology</h5>
                <span>4 Articles</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="#" class="card card-body hover-shadow-3d bg-primary text-light">
              <div class="icon-round mb-3 mb-md-5 icon bg-white">
                <svg class="icon bg-white" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Icon For Chart-bar#1</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                    <rect fill="#000000" opacity="0.3" x="12" y="4" width="3" height="13" rx="1.5"></rect>
                    <rect fill="#000000" opacity="0.3" x="7" y="9" width="3" height="8" rx="1.5"></rect>
                    <path d="M5,19 L20,19 C20.5522847,19 21,19.4477153 21,20 C21,20.5522847 20.5522847,21 20,21 L4,21 C3.44771525,21 3,20.5522847 3,20 L3,4 C3,3.44771525 3.44771525,3 4,3 C4.55228475,3 5,3.44771525 5,4 L5,19 Z" fill="#000000" fill-rule="nonzero"></path>
                    <rect fill="#000000" opacity="0.3" x="17" y="11" width="3" height="6" rx="1.5"></rect>
                  </g>
                </svg>
              </div>
              <div>
                <h5 class="mb-1">Business</h5>
                <span>12 Articles</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="300">
            <a href="#" class="card card-body hover-shadow-3d bg-primary-2 text-light">
              <div class="icon-round mb-3 mb-md-5 icon bg-white">
                <svg class="icon bg-white" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Icon For Layout-top-panel-2</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                    <path d="M3,4 L20,4 C20.5522847,4 21,4.44771525 21,5 L21,7 C21,7.55228475 20.5522847,8 20,8 L3,8 C2.44771525,8 2,7.55228475 2,7 L2,5 C2,4.44771525 2.44771525,4 3,4 Z M10,10 L20,10 C20.5522847,10 21,10.4477153 21,11 L21,19 C21,19.5522847 20.5522847,20 20,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,11 C9,10.4477153 9.44771525,10 10,10 Z" fill="#000000"></path>
                    <rect fill="#000000" opacity="0.3" x="2" y="10" width="5" height="10" rx="1"></rect>
                  </g>
                </svg>
              </div>
              <div>
                <h5 class="mb-1">Design</h5>
                <span>9 Articles</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-3 d-flex" data-aos="fade-up" data-aos-delay="400">
            <a href="#" class="card card-body hover-shadow-3d bg-primary-3 text-light">
              <div class="icon-round mb-3 mb-md-5 icon bg-white">
                <svg class="icon bg-white" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <title>Icon For Coffee#1</title>
                  <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                    <path d="M8.40093151,17 L5,17 C3.34314575,17 2,15.1568542 2,13.5 C2,11.8431458 3.34314575,10 5,10 L6,10 L6,8 L21,8 L21,11.5 C21,15.6421356 17.6421356,19 13.5,19 C11.5309185,19 9.73907026,18.2411745 8.40093151,17 Z M6.86504659,15 C6.38614142,14.0940164 6.08736465,13.0781211 6.01640228,12 L5,12 C4.44771525,12 4,12.9477153 4,13.5 C4,14.0522847 4.44771525,15 5,15 L6.86504659,15 Z" fill="#000000"></path>
                    <rect fill="#000000" opacity="0.3" x="6" y="21" width="15" height="2" rx="1"></rect>
                    <path d="M8.11576273,0 L9.27322553,1.15267194 C8.41777098,2.01168201 8.42065331,3.40153019 9.27966338,4.25698473 C9.35322262,4.3302395 9.4318859,4.39818368 9.51506091,4.46030566 L10,4.82249831 L9.02250371,6.13126634 L8.53756462,5.76907368 C8.39249331,5.66072242 8.25529121,5.54221626 8.12699144,5.41444753 C6.62873232,3.92238985 6.62370505,1.49825912 8.11576273,0 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                    <path d="M13.1157627,1 L14.2732255,2.15267194 C13.417771,3.01168201 13.4206533,4.40153019 14.2796634,5.25698473 C14.3532226,5.3302395 14.4318859,5.39818368 14.5150609,5.46030566 L15,5.82249831 L14.0225037,7.13126634 L13.5375646,6.76907368 C13.3924933,6.66072242 13.2552912,6.54221626 13.1269914,6.41444753 C11.6287323,4.92238985 11.6237051,2.49825912 13.1157627,1 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                    <path d="M18.1157627,0 L19.2732255,1.15267194 C18.417771,2.01168201 18.4206533,3.40153019 19.2796634,4.25698473 C19.3532226,4.3302395 19.4318859,4.39818368 19.5150609,4.46030566 L20,4.82249831 L19.0225037,6.13126634 L18.5375646,5.76907368 C18.3924933,5.66072242 18.2552912,5.54221626 18.1269914,5.41444753 C16.6287323,3.92238985 16.6237051,1.49825912 18.1157627,0 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                  </g>
                </svg>
              </div>
              <div>
                <h5 class="mb-1">Lifestyle</h5>
                <span>6 Articles</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </section><section class="py-6">
      <div class="container">
        <div class="row">
          <div class="col">
            <a href="#" class="bg-primary-3-alt rounded p-4 d-flex align-items-center justify-content-center min-vh-20">
              <span class="text-small text-primary-3">Advertisement</span>
            </a>
          </div>
        </div>
      </div>
    </section><section class="p-0">
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="h2">Latest</h3>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-md-6 col-lg-4 d-flex">
            <a href="#" class="card card-body justify-content-between bg-primary text-light">
              <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                  <div class="mr-2">
                    Links
                  </div>
                  <span class="opacity-70">19th December</span>
                </div>
                <span class="badge bg-primary-alt text-primary">
                  <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                  </svg>

                  27
                </span>
              </div>
              <div>
                <h2>A time-tracking app that isn’t a pain.</h2>
                <span class="text-small opacity-70">http://www.website.io/link</span>
              </div>
            </a>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-1.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Business</a>
                    </div>
                    <span class="text-muted">29th November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    12
                  </span>
                </div>
                <a href="#">
                  <h4>How to build collateral</h4>
                </a>
                <p class="flex-grow-1">
                  Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/female-3.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Abby Sims</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-2.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Design</a>
                    </div>
                    <span class="text-muted">27th November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    23
                  </span>
                </div>
                <a href="#">
                  <h4>Forging your path</h4>
                </a>
                <p class="flex-grow-1">
                  Perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/male-4.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Cedric</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-3.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Business</a>
                    </div>
                    <span class="text-muted">23rd November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    82
                  </span>
                </div>
                <a href="#">
                  <h4>Securing your Series A</h4>
                </a>
                <p class="flex-grow-1">
                  Voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/male-1.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Ben Cameron</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
            <div class="card card-body justify-content-between bg-primary-2 text-light">
              <div class="d-flex justify-content-between mb-3">
                <div class="text-small d-flex">
                  <div class="mr-2">
                    <a href="#">Quotes</a>
                  </div>
                  <span class="opacity-70">16th November</span>
                </div>
                <span class="badge bg-primary text-light">
                  <svg class="icon icon-sm bg-white" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                  </svg>

                  93
                </span>
              </div>
              <div>
                <h2>“You either get acquired like Trello or live long enough to see yourself become JIRA”</h2>
                <span class="text-small opacity-70">– Anne Souzakis</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex">
            <div class="card">
              <a href="#">
                <img src="template-assets/img/article-4.jpg" alt="Image" class="card-img-top">
              </a>
              <div class="card-body d-flex flex-column">
                <div class="d-flex justify-content-between mb-3">
                  <div class="text-small d-flex">
                    <div class="mr-2">
                      <a href="#">Finance</a>
                    </div>
                    <span class="text-muted">16th November</span>
                  </div>
                  <span class="badge bg-primary-alt text-primary">
                    <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                    </svg>

                    93
                  </span>
                </div>
                <a href="#">
                  <h4>Planning for change</h4>
                </a>
                <p class="flex-grow-1">
                  Unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                </p>
                <div class="d-flex align-items-center mt-3">
                  <img src="template-assets/img/avatars/female-4.jpg" alt="Image" class="avatar avatar-sm">
                  <div class="ml-1">
                    <span class="text-small text-muted">By</span>
                    <span class="text-small">Anne Souzakis</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-xl-7 col-lg-8 col-md-10">
            <h3 class="h2 mb-5">Get great articles direct to your inbox</h3>
            <form action="/forms/mailchimp.php" data-form-email novalidate>
              <div class="d-sm-flex flex-column flex-sm-row mb-3 justify-content-center">
                <input type="email" name="email" class="mr-sm-1 mb-2 mb-sm-0 form-control form-control-lg" placeholder="Email Address" required>
                <div data-recaptcha data-sitekey="INSERT_YOUR_RECAPTCHA_V2_SITEKEY_HERE" data-size="invisible" data-badge="bottomleft"></div>
                <button type="submit" class="ml-sm-1 btn btn-lg btn-primary btn-loading" data-loading-text="Sending">
                  <svg class="icon" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icon For Loading</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g>
                        <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                      </g>
                      <path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "></path>
                    </g>
                  </svg>
                  <span>Subscribe</span>
                </button>
              </div>
              <div>
                <div class="d-none alert alert-success" role="alert" data-success-message>
                  Thanks, a member of our team will be in touch shortly.
                </div>
                <div class="d-none alert alert-danger" role="alert" data-error-message>
                  Please fill all fields correctly.
                </div>
              </div>
            </form>

            <div class="text-small text-muted">
              We’ll never share your details with third parties.
              <br class="visible-md">View our <a href="#">Privacy Policy</a> for more info.
            </div>
          </div>
        </div>
      </div>
    </section>