

<div class="row pt-5 py-5 layer-2">
      <div class="container">

        <div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/marketplace">The Collections</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Spotify Extras</li>
        </ol>
      </nav>
      <br>
    </div>
  </div>
</div>

  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Spotify Extras</h1>
      <p class="lead mb-0">We've curated some bespoke company extras that you're able to purchase with your credit.</p>
    </div>
  </div>
</div>

<section class="pt-0">
  <div class="container">



    <div class="row" data-isotope-collection data-isotope-id="projects">

       <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="#">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h5 class="mb-0">WFH Fridays</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 30 Credits/£</div>
        </a>
      </div>


      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="#">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h5 class="mb-0">Holiday</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 100 Credits/£</div>
        </a>
      </div>

     
      
    </div>
  </div>
</section>