<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Credit <span class="medium"><i class="fa fa-diamond" aria-hidden="true"></i> 150 Available</span></h1>
      <p class="lead mb-0">Manage your credit and get the most out of Perkbox!</p>
    </div>
  </div>
</div>



<section class="narrow">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-8 col-lg-8">
            <div class="pr-lg-4">
              <div class="card shadow border-0">
                <div class="card-body py-5">
                  <h3>Credit History</h3>
                  <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Description</th>
                    <th scope="col">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">22/3/2019</th>
                    <td>Credit Back from card-linked</td>
                    <td><a href="#"><span class="text-muted">+50 Credits <span class="badge badge-pill badge-secondary">Pending</span></a></td>
                  </tr>
                  <tr>
                    <th scope="row">22/3/2019</th>
                    <td><a href="/pages/recognition"> Credit Reward</a> from Your Manager</td>
                    <td><a href="/pages/recognition"> +50 Credits</a></td>
                  </tr>
                  <tr>
                    <th scope="row">22/3/2019</th>
                    <td><a href="/pages/dental"> Credit Gift</a> from Your Company</td>
                    <td><a href="/pages/dental"> +100 Credits</a></td>
                  </tr>
                </tbody>
              </table>
        </div>
        
      </div>
            </div>
            </div>

          <div class="col-md-4 col-lg-4 d-none d-md-block">
            <div class="sticky-top">
              <div class="card card-sm card-body shadow-3d">
                <div data-target="#panel-1" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
                  <span class="h6 mb-0">How much is credit worth?</span>
                  <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>

                </div>
                <div class="collapse" id="panel-1">
                  <div class="pt-3">
                    <p class="mb-0">
                      <p class="description">1 Credit is worth £1</p>
                      <a href="">
                      </a>
                    </p>
                  </div>
                </div>
              </div>

              <div class="card card-sm card-body shadow-3d">
                <div data-target="#panel-2" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-2">
                  <span class="h6 mb-0">Where Can I Spent My Credit?</span>
                  <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>

                </div>
                  <div class="collapse" id="panel-2">
                    <div class="pt-3">
                      <p class="description">
                        <p>In <a href="/pages/marketplace"> The Collections</a>
                            <p><i>All items can be purchased with your own money, credit, or both.</i></p>
                    
                  </div>
                </div>
              </div>

              <div class="card card-sm card-body shadow-3d">
                <div data-target="#panel-3" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-3">
                  <span class="h6 mb-0">How can I get more credit?</span>
                  <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
                    <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
                  </svg>

                </div>
                  <div class="collapse" id="panel-3">
                    <div class="pt-3">
                      <ul>
                          <li>As a gift or reward for high achievement</li>
                          <li>By <a href="/pages/profile#pills-card"> linking your card</a></li>
                          </ul>

                      
                    
                  </div>
                </div>
              </div>

              

              



            
          </div>
        </div>
      </div>
    </section>
