<div class="container">
  <div class="row my-3">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/perks">Company Perks</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">25 Credits</li>
        </ol>
      </nav>
      <br>
      <h1 class="display-5">25 Credits</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>25 Credits</h3>
      <p class="text-muted">Added by Your Manager for <span class="badge badge-pill badge-secondary">Physical Wellbeing</span></p>
      <p>This is where we can write the description text so people know what the perk is about and it gives them context as to why they’ve been given it.</p>
      <h5>How to get access?</h5>

      <p><i><mark>Criteria: 20,000 Steps in 1 week.</mark></i></p>
        <ol>
              <li>Connect your phone</li>
              <li>Walk 20,000 in 1 week</li>
              <li>Your manager will be notified</li>
              <li>You'll receive 25 credits</li>
              <li>Use credits in Perkbox Financial Wellbeing, or Learning & Development</li>
            </ol>
      <a href="#" class="btn btn-primary">Connect To Phone</a>
    </div>
  </div>
</div>
