<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>Utilities</h1>
                <div class="lead">
                  <p>In addition to the default set of <a href="http://getbootstrap.com/docs/4.3/utilities/borders/">Bootstrap Utility Classes</a>, Leap includes a range of utility classes to make creating new components easier.</p>
                </div>
              </div>

              <article id="background-colors" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Background Colors</p>
                
                <div class="mb-4">
                  <div class="d-flex">
                    <div class="m-2 rounded p-4 bg-primary" data-toggle="tooltip" title="bg-primary"></div>
                    <div class="m-2 rounded p-4 bg-primary-2" data-toggle="tooltip" title="bg-primary-2"></div>
                    <div class="m-2 rounded p-4 bg-primary-3" data-toggle="tooltip" title="bg-primary-3"></div>
                    <div class="m-2 rounded p-4 bg-primary-alt" data-toggle="tooltip" title="bg-primary-alt"></div>
                    <div class="m-2 rounded p-4 bg-primary-2-alt" data-toggle="tooltip" title="bg-primary-2-alt"></div>
                    <div class="m-2 rounded p-4 bg-primary-3-alt" data-toggle="tooltip" title="bg-primary-3-alt"></div>
                  </div>
                </div>
                <div>
                  <p>These classes are in addition the the <a href="http://getbootstrap.com/docs/4.3/utilities/colors/">Bootstrap Color Utilities</a>
                  </p>

                </div>

                <dl class="row docs-dl">
                  <dt class="col-3">
<code>.bg-primary</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to adjust background color</p>
                  </dd>
                  <dt class="col-3">
<code>.bg-primary-2</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to adjust background color</p>
                  </dd>
                  <dt class="col-3">
<code>.bg-primary-3</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to adjust background color</p>
                  </dd>
                  <dt class="col-3">
<code>.bg-primary-alt</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to adjust to a lightened background color</p>
                  </dd>
                  <dt class="col-3">
<code>.bg-primary-2-alt</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to adjust to a lightened background color</p>
                  </dd>
                  <dt class="col-3">
<code>.bg-primary-3-alt</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to adjust to a lightened background color</p>
                  </dd>
                </dl>
              </article>

              <article id="blend-modes" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Blend Modes</p>
                
                <div class="mb-4">
                  <div class="card card-body bg-primary border-0 o-hidden min-vh-40">
                    <img src="../assets/img/article-5.jpg" alt="Image" class="bg-image blend-mode-multiply">
                  </div>
                </div>
                <div>

                </div>

                <dl class="row docs-dl">
                  <dt class="col-3">
<code>.blend-mode-multiply</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to add <code>mix-blend-mode: multiply;</code>
                    </p>
                  </dd>
                </dl>
              </article>

              <article id="height" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Height</p>
                
                <div class="mb-4">
                  <div class="card card-body min-vh-30 shadow justify-content-center align-items-center">
                    <span class="h5 mb-0">I occupy 30% of the viewport height.</span>
                  </div>
                </div>
                <div>

                </div>

                <dl class="row docs-dl">
                  <dt class="col-3">
<code>.min-vh-(10 - 100)</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply in increments of 10 to an element adjust to set its height to a fraction of the viewport's height. eg: <code>.min-vh-30</code> will occupy 30% of the viewport's height.</p>
                  </dd>
                </dl>
              </article>

              <article id="layers" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Layers</p>
                
                <div>

                </div>

                <dl class="row docs-dl">
                  <dt class="col-3">
<code>.layer-(1 - 4)</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to set its <code>z-index</code> value to the value indicated by the numerator. eg: <code>.layer-2</code> would set the element's <code>z-index</code> to 2</p>
                  </dd>
                </dl>
              </article>

              <article id="opacity" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Opacity</p>
                
                <div class="mb-4">
                  <div class="d-flex flex-wrap">

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-10 text-small">
                      opacity-10
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-20 text-small">
                      opacity-20
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-30 text-small">
                      opacity-30
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-40 text-small">
                      opacity-40
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-50 text-small">
                      opacity-50
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-60 text-small">
                      opacity-60
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-70 text-small">
                      opacity-70
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-80 text-small">
                      opacity-80
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-90 text-small">
                      opacity-90
                    </div>

                    <div class="bg-primary text-light m-1 rounded p-2 opacity-100 text-small">
                      opacity-100
                    </div>

                  </div>
                </div>
                <div>

                </div>

                <dl class="row docs-dl">
                  <dt class="col-3">
<code>.opacity-(0 - 100)</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to set its <code>opacity</code> value to the value indicated by the numerator. eg: <code>.opacity-20</code> would set the element's <code>opacity</code> to .2</p>
                  </dd>
                </dl>
              </article>

              <article id="shadows" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Shadows</p>
                
                <div class="mb-4">
                  <div class="card card-body shadow-3d p-4 justify-content-center align-items-center">
                    <span class="h6 mb-0">This card has the <code>.shadow-3d</code> class applied</span>
                  </div>
                </div>
                <div>
                  <p>These classes are in addition the the <a href="http://getbootstrap.com/docs/4.3/utilities/shadows/">Bootstrap Shadow Utilities</a>
                  </p>

                </div>

                <dl class="row docs-dl">
                  <dt class="col-3">
<code>.shadow-3d</code>
                  </dt>
                  <dd class="col-9">
                    <p>Apply to element to apply a 3d shadow effect</p>
                  </dd>
                </dl>
              </article>

              <article id="text" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Text</p>
                
                <div>
                  <p>These classes are in addition the the <a href="http://getbootstrap.com/docs/4.3/utilities/text/">Bootstrap Text Utilities</a>
                  </p>

                </div>

                <dl class="row docs-dl">
                  <dt class="col-3">
<code>.text-strikethrough</code>
                  </dt>
                  <dd class="col-9">
                    <p>Style the text with <code>text-decoration: line-through;</code>
                    </p>
                  </dd>
                </dl>
              </article>

              <article id="transforms" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Transforms</p>
                
                <div class="mb-4">
                  <div class="d-flex flex-column align-items-start">
                    <h5 class="flip-x text-primary">I am flipped on the x-axis</h5>
                    <h5 class="flip-y text-primary-2">I am flipped on the y-axis</h5>
                    <h5 class="rotate-left text-primary">I am rotated left</h5>
                    <h5 class="rotate-right text-primary-2">I am rotated right</h5>
                  </div>
                </div>
                <div>

                </div>

                <dl class="row docs-dl">
                  <dt class="col-3">
<code>.flip-x</code>
                  </dt>
                  <dd class="col-9">
                    <p>Flips the element on its X axis</p>
                  </dd>
                  <dt class="col-3">
<code>.flip-y</code>
                  </dt>
                  <dd class="col-9">
                    <p>Flips the element on its Y axis</p>
                  </dd>
                  <dt class="col-3">
<code>.rotate-left</code>
                  </dt>
                  <dd class="col-9">
                    <p>Rotates the element 1 degree to the left</p>
                  </dd>
                  <dt class="col-3">
<code>.rotate-right</code>
                  </dt>
                  <dd class="col-9">
                    <p>Rotates the element 1 degree to the right</p>
                  </dd>
                </dl>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#background-colors" class="nav-link text-small" data-smooth-scroll>Background Colors</a>
                </li>

                <li class="nav-item">
                  <a href="#blend-modes" class="nav-link text-small" data-smooth-scroll>Blend Modes</a>
                </li>

                <li class="nav-item">
                  <a href="#height" class="nav-link text-small" data-smooth-scroll>Height</a>
                </li>

                <li class="nav-item">
                  <a href="#layers" class="nav-link text-small" data-smooth-scroll>Layers</a>
                </li>

                <li class="nav-item">
                  <a href="#opacity" class="nav-link text-small" data-smooth-scroll>Opacity</a>
                </li>

                <li class="nav-item">
                  <a href="#shadows" class="nav-link text-small" data-smooth-scroll>Shadows</a>
                </li>

                <li class="nav-item">
                  <a href="#text" class="nav-link text-small" data-smooth-scroll>Text</a>
                </li>

                <li class="nav-item">
                  <a href="#transforms" class="nav-link text-small" data-smooth-scroll>Transforms</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>