<div class="row">
      <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
        <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
          <h1>Customising Scripts</h1>
          <div class="lead">
            <p>A guide to customising javascript in Leap</p>
          </div>
        </div>

        <article id="js" class="mb-4 mb-md-6">
          <h3>
            </h3>
<p>JS</p>
          
          <div>
            <p>..... Scripts .....</p>

          </div>
        </article>

      </div>
      <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a href="#js" class="nav-link text-small" data-smooth-scroll>JS</a>
          </li>

        </ul>
      </div>
    </div>