<section class="bg-primary-3 header-inner p-0 jarallax position-relative o-hidden" data-overlay>
      <div class="container py-0 layer-2">
        <div class="row my-3 text-light">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Elements</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Pricing</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row my-4 my-md-6 text-light" data-aos="fade-up">
          <div class="col-lg-9 col-xl-6">
            <h1 class="display-4">Pricing</h1>
            <p class="lead mb-0">A collection of pricing arrangements suitable for a range of price offerings.</p>
          </div>
        </div>
      </div>
      <div class="decoration right middle-y scale-4">
        <svg class="bg-primary" width="181" height="248" viewbox="0 0 181 248" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M173.496 137.406C174.74 140.125 174.201 142.961 172.992 145.955C171.785 148.945 171.244 152.203 170.371 155.332C169.545 158.285 169.023 161.391 167.74 164.135C164.455 171.167 160.851 178.053 157.302 184.959C156.15 187.203 154.769 189.328 153.507 191.517C150.778 196.252 146.98 200.155 143.411 204.207C139.247 208.934 134.907 213.528 130.36 217.884C126.981 221.119 123.356 224.19 119.477 226.79C110.78 232.623 101.875 238.142 91.7499 241.311C88.3119 242.386 84.9839 243.811 81.5509 244.904C73.1449 247.579 64.4319 248.129 55.8069 247.077C43.0409 245.519 34.2129 238.431 30.1099 226.075C28.8639 222.324 28.1059 218.372 27.5139 214.454C26.8169 209.821 26.5859 205.12 26.0709 200.456C25.3349 193.802 24.3459 187.22 21.4659 181.048C18.4739 174.631 16.5169 167.857 15.4639 160.864C14.0029 151.18 11.2059 141.854 8.4269 132.5C6.2689 125.236 4.1689 117.936 3.2239 110.374C3.0229 108.764 2.7159 107.161 2.3649 105.576C1.5039 101.679 1.03089 97.749 1.08989 93.75C1.11089 92.31 1.1309 90.823 0.8169 89.433C-0.1261 85.264 0.427893 81.211 1.17589 77.083C2.60189 69.223 4.9509 61.659 7.8319 54.234C11.6759 44.329 17.4339 35.662 24.7729 28.024C27.4019 25.289 30.1459 22.662 32.7379 19.892C41.5149 10.511 52.7829 5.93202 64.9919 3.34302C76.9139 0.815015 89.0599 0.543025 101.144 1.31003C118.3 2.39903 134.746 6.51404 149.367 15.95C158.662 21.948 165.805 29.942 169.615 40.639C172.851 49.726 174.459 59.13 175.758 68.625C176.248 72.201 176.719 75.792 177.459 79.32C179.471 88.912 180.406 98.573 180.119 108.383C179.885 116.393 178.273 124.157 176.322 131.861C175.854 133.709 174.568 135.353 173.496 137.406ZM114.193 74.056C116.129 74.66 116.129 74.66 116.709 73.132C115.756 73.482 114.975 73.769 114.193 74.056Z" fill="black"></path>
        </svg>

      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Plans</h2>
          </div>
        </div>
        <div class="row align-items-center">
          <div class="col-md-4">
            <div class="card card-body align-items-center ">
              <div class="pt-md-2">
                <h4>Basic</h4>
              </div>
              <div class="d-flex align-items-start pb-md-2">
                <span class="h3">$</span>
                <span class="display-4">49</span>
              </div>
              <span class="text-small text-muted">Per user, per month</span>
              <ul class="text-center list-unstyled my-2 my-md-4">
                <li class="py-1">
                  <span>10k Visitors/mo</span>
                </li>
                <li class="py-1">
                  <span>10 Funnels, 50 Pages</span>
                </li>
                <li class="py-1">
                  <span>Unlimited Transactions</span>
                </li>
                <li class="py-1">
                  <span>Analytics</span>
                </li>
                <li class="py-1">
                  <span>Integrations</span>
                </li>
                <li class="py-1">
                  <span class="text-muted text-strikethrough">Audience Data</span>
                </li>
                <li class="py-1">
                  <span class="text-muted text-strikethrough">Premium Templates</span>
                </li>
                <li class="py-1">
                  <span class="text-muted text-strikethrough">White Labelling</span>
                </li>
              </ul>
              <a href="#" class="btn btn-outline-primary">
    Get Basic
  </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-body align-items-center shadow-3d">
              <span class="badge badge-top badge-dark">Most Popular</span>
              <div class="pt-md-2">
                <h4>Professional</h4>
              </div>
              <div class="d-flex align-items-start pb-md-2">
                <span class="h3">$</span>
                <span class="display-4">69</span>
              </div>
              <span class="text-small text-muted">Per user, per month</span>
              <ul class="text-center list-unstyled my-2 my-md-4">
                <li class="py-1">
                  <span>10k Visitors/mo</span>
                </li>
                <li class="py-1">
                  <span>10 Funnels, 50 Pages</span>
                </li>
                <li class="py-1">
                  <span>Unlimited Transactions</span>
                </li>
                <li class="py-1">
                  <span>Analytics</span>
                </li>
                <li class="py-1">
                  <span>Integrations</span>
                </li>
                <li class="py-1">
                  <span>Audience Data</span>
                </li>
                <li class="py-1">
                  <span>Premium Templates</span>
                </li>
                <li class="py-1">
                  <span class="text-muted text-strikethrough">White Labelling</span>
                </li>
              </ul>
              <a href="#" class="btn btn-primary">
    Get Pro
  </a>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-body align-items-center ">
              <div class="pt-md-2">
                <h4>Ultimate</h4>
              </div>
              <div class="d-flex align-items-start pb-md-2">
                <span class="h3">$</span>
                <span class="display-4">89</span>
              </div>
              <span class="text-small text-muted">Per user, per month</span>
              <ul class="text-center list-unstyled my-2 my-md-4">
                <li class="py-1">
                  <span>10k Visitors/mo</span>
                </li>
                <li class="py-1">
                  <span>10 Funnels, 50 Pages</span>
                </li>
                <li class="py-1">
                  <span>Unlimited Transactions</span>
                </li>
                <li class="py-1">
                  <span>Analytics</span>
                </li>
                <li class="py-1">
                  <span>Integrations</span>
                </li>
                <li class="py-1">
                  <span>Audience Data</span>
                </li>
                <li class="py-1">
                  <span>Premium Templates</span>
                </li>
                <li class="py-1">
                  <span>White Labelling</span>
                </li>
              </ul>
              <a href="#" class="btn btn-outline-primary">
    Get Ultimate
  </a>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Table</h2>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <table class="table table-hover pricing-table table-responsive-md">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">
                    <span class="h4">Basic</span>
                    <div class="d-flex pt-md-3">
                      <span class="h3">$</span>
                      <span class="display-4">49</span>
                    </div>
                    <span class="text-small text-muted">Per user, per month</span>
                    <a href="#" class="btn d-block mt-4 btn-outline-primary">Get Basic</a>
                  </th>
                  <th scope="col">
                    <span class="h4">Pro</span>
                    <div class="d-flex pt-md-3">
                      <span class="h3">$</span>
                      <span class="display-4">69</span>
                    </div>
                    <span class="text-small text-muted">Per user, per month</span>
                    <a href="#" class="btn d-block mt-4 btn-primary">Get Pro</a>
                  </th>
                  <th scope="col">
                    <span class="h4">Ultimate</span>
                    <div class="d-flex pt-md-3">
                      <span class="h3">$</span>
                      <span class="display-4">89</span>
                    </div>
                    <span class="text-small text-muted">Per user, per month</span>
                    <a href="#" class="btn d-block mt-4 btn-outline-primary">Get Ultimate</a>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Bandwidth</span>
                    <span class="text-small text-muted">On a per site basis</span>
                  </th>
                  <td>
                    <span>50GB</span>
                  </td>
                  <td>
                    <span>100GB</span>
                  </td>
                  <td>
                    <span>Unlimited</span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Page Views</span>
                    <span class="text-small text-muted">Fair use policy applies</span>
                  </th>
                  <td>
                    <span>20,000</span>
                  </td>
                  <td>
                    <span>100,000</span>
                  </td>
                  <td>
                    <span>Unlimited</span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Contracts</span>
                    <span class="text-small text-muted">With Digital Signature</span>
                  </th>
                  <td>
                    <span>100</span>
                  </td>
                  <td>
                    <span>1,000</span>
                  </td>
                  <td>
                    <span>Unlimited</span>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Integrations</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td>
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Segmentation</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td></td>
                  <td>
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">White Labelling</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td></td>
                  <td></td>
                  <td>
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <h2>Table - Competitors</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-10">
            <table class="table pricing-table pricing-table-competitors">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col" class="bg-primary-alt">
                    <img src="template-assets/img/logo.svg" alt="Image">
                  </th>
                  <th scope="col">
                    <img src="template-assets/img/dropbox.svg" alt="Image">
                  </th>
                  <th scope="col">
                    <img src="template-assets/img/invision.svg" alt="Image">
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Integrations</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td class="bg-primary-alt">
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Segmentation</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td class="bg-primary-alt">
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">White Labelling</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td class="bg-primary-alt">
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Document Signing</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td class="bg-primary-alt">
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Personalised Support</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td class="bg-primary-alt">
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td></td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Storage</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td class="bg-primary-alt">
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td></td>
                  <td></td>
                </tr>
                <tr>
                  <th scope="row">
                    <span class="h6 mb-0 d-block">Funnels</span>
                    <span class="text-small text-muted"></span>
                  </th>
                  <td class="bg-primary-alt">
                    <div class="icon-round icon-round-xs bg-success">
                      <svg class="icon bg-light" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td>
                    <div class="icon-round icon-round-xs bg-primary-3-alt">
                      <svg class="icon bg-primary-3" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M18.1206 5.4111C18.5021 4.92016 19.1753 4.86046 19.6241 5.27776C20.073 5.69506 20.1276 6.43133 19.746 6.92227L10.6794 18.5889C10.2919 19.0876 9.60523 19.1401 9.15801 18.7053L4.35802 14.0386C3.91772 13.6106 3.87806 12.8732 4.26944 12.3916C4.66082 11.91 5.33503 11.8666 5.77533 12.2947L9.76023 16.1689L18.1206 5.4111Z" fill="#212529"></path>
                      </svg>

                    </div>
                  </td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <h2>Single Option</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <div class="card card-lg card-body flex-sm-row align-items-center pricing-ticket bg-primary text-light">
              <div class="mx-2 text-center text-sm-left mb-3 mb-sm-0">
                <span class="h1 d-block">All Access</span>
                <p class="lead">
                  Every workshop, talk and event, all weekend.
                </p>
                <a href="#" class="btn btn-lg mt-2 btn-white">Purchase Now</a>
              </div>
              <div class="mx-2 text-center">
                <div class="d-flex align-items-center">
                  <span class="h3 mb-0">$</span>
                  <span class="display-3">259</span>
                </div>
                <span class="text-small">Price Includes GST.</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8 col-xl-7">
            <h2>Adjustable Slider</h2>
            <form>
              <div>
                <label class="h5">Select your number of users</label>
                <input type="text" data-ion-rangeslider data-values="1,2,3,4,5,6,7,8,9,10,11+" data-from="2" data-step="1" data-grid="true" data-grid-snap="true" data-on-change="mrUpdatePrice" data-unit-selector=".js-users-word" data-unit-single="User" data-unit-plural="Users" data-from-selector=".js-users-per-month" data-hide-from-to="true">
              </div>
              <div class="mt-5 card card-body justify-content-center text-center shadow-3d">
                <div class="text-muted">
                  <span class="js-users-per-month">3</span>
                  <span class="js-users-word">Users</span>
                </div>
                <div class="d-flex justify-content-center my-3">
                  <span class="h3 pt-1 mr-1 js-dollar-sign">$</span>
                  <span class="display-3 js-price-per-month">120</span>
                </div>
                <div class="text-small text-muted js-pricing-charge-description">Total charge per month</div>
                <button class="btn btn-lg btn-primary mt-3 js-pricing-submit-button" type="submit">Get started</button>
              </div>
            </form>

          </div>
        </div>
      </div>
    </section>