<section class="bg-primary-3 header-inner p-0 jarallax position-relative o-hidden" data-overlay>
      <div class="container py-0 layer-2">
        <div class="row my-3 text-light">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Elements</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Forms</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row my-4 my-md-6 text-light" data-aos="fade-up">
          <div class="col-lg-9 col-xl-6">
            <h1 class="display-4">Forms</h1>
            <p class="lead mb-0">Examples and usage guidelines for form control styles, layout options, and custom components for creating a wide variety of forms.</p>
          </div>
        </div>
        <div class="alert alert-primary mb-5">
          <div class="d-flex">
            <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Icon For Selected-file</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"></path>
              </g>
            </svg>
            <div class="ml-2 flex-grow-1">
              This page demonstrates Forms functionality, <a target="_blank" href="http://getbootstrap.com/docs/4.3/components/forms/">See Bootstrap Documentation</a> for a detailed technical explanation.
            </div>
          </div>
        </div>
      </div>
      <div class="decoration right middle-y scale-4">
        <svg class="bg-primary" width="181" height="248" viewbox="0 0 181 248" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M173.496 137.406C174.74 140.125 174.201 142.961 172.992 145.955C171.785 148.945 171.244 152.203 170.371 155.332C169.545 158.285 169.023 161.391 167.74 164.135C164.455 171.167 160.851 178.053 157.302 184.959C156.15 187.203 154.769 189.328 153.507 191.517C150.778 196.252 146.98 200.155 143.411 204.207C139.247 208.934 134.907 213.528 130.36 217.884C126.981 221.119 123.356 224.19 119.477 226.79C110.78 232.623 101.875 238.142 91.7499 241.311C88.3119 242.386 84.9839 243.811 81.5509 244.904C73.1449 247.579 64.4319 248.129 55.8069 247.077C43.0409 245.519 34.2129 238.431 30.1099 226.075C28.8639 222.324 28.1059 218.372 27.5139 214.454C26.8169 209.821 26.5859 205.12 26.0709 200.456C25.3349 193.802 24.3459 187.22 21.4659 181.048C18.4739 174.631 16.5169 167.857 15.4639 160.864C14.0029 151.18 11.2059 141.854 8.4269 132.5C6.2689 125.236 4.1689 117.936 3.2239 110.374C3.0229 108.764 2.7159 107.161 2.3649 105.576C1.5039 101.679 1.03089 97.749 1.08989 93.75C1.11089 92.31 1.1309 90.823 0.8169 89.433C-0.1261 85.264 0.427893 81.211 1.17589 77.083C2.60189 69.223 4.9509 61.659 7.8319 54.234C11.6759 44.329 17.4339 35.662 24.7729 28.024C27.4019 25.289 30.1459 22.662 32.7379 19.892C41.5149 10.511 52.7829 5.93202 64.9919 3.34302C76.9139 0.815015 89.0599 0.543025 101.144 1.31003C118.3 2.39903 134.746 6.51404 149.367 15.95C158.662 21.948 165.805 29.942 169.615 40.639C172.851 49.726 174.459 59.13 175.758 68.625C176.248 72.201 176.719 75.792 177.459 79.32C179.471 88.912 180.406 98.573 180.119 108.383C179.885 116.393 178.273 124.157 176.322 131.861C175.854 133.709 174.568 135.353 173.496 137.406ZM114.193 74.056C116.129 74.66 116.129 74.66 116.709 73.132C115.756 73.482 114.975 73.769 114.193 74.056Z" fill="black"></path>
        </svg>

      </div>
    </section><div class="container">
      <div class="row">
        <div class="col-12">
          <div class="alert alert-warning my-5">
            <div class="d-flex">
              <svg class="icon bg-warning" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title>Icon For Info-circle</title>
                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                  <circle fill="#000000" opacity="0.3" cx="12" cy="12" r="10"></circle>
                  <rect fill="#000000" x="11" y="10" width="2" height="7" rx="1"></rect>
                  <rect fill="#000000" x="11" y="7" width="2" height="2" rx="1"></rect>
                </g>
              </svg>
              <div class="ml-2 flex-grow-1">
                <a target="_blank" href="documentation/js-form-email.html">See Forms Documentation</a> for information on form submission, validation, reCAPTCHA and server-side form handling.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><section>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8">
            <h2>Form Group</h2>
            <form>
              <div class="form-group">
                <label for="input-group-example">Input Label:</label>
                <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" placeholder="Placeholder text">
                <small id="input-group-help" class="form-text text-muted">Place some helper text here.</small>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8">
            <h2>Input Sizes</h2>
            <form>
              <div class="form-group">
                <input type="text" class="form-control" id="input-group-example-std" aria-describedby="input-group-example-std" placeholder="Standard placeholder text">
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-sm" id="input-group-example-sm" aria-describedby="input-group-example-sm" placeholder="Small placeholder text">
              </div>
              <div class="form-group">
                <input type="text" class="form-control form-control-lg" id="input-group-example-lg" aria-describedby="input-group-example-lg" placeholder="Large placeholder text">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8">
            <h2>Input Group</h2>
            <form>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon-1">
                    <svg class="icon" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Search</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                        <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                        <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"></path>
                      </g>
                    </svg>
                  </span>
                </div>
                <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="basic-addon-1">
              </div>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon-2">
                <div class="input-group-append">
                  <span class="input-group-text" id="basic-addon-2">@example.com</span>
                </div>
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">$</span>
                </div>
                <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">.00</span>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8">
            <h2>Textarea</h2>
            <form>
              <div class="form-group">
                <label for="textarea-example-1">Example textarea</label>
                <textarea class="form-control" id="textarea-example-1" rows="3"></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8">
            <h2>Select</h2>
            <form>
              <div class="form-group">
                <select class="custom-select">
                  <option selected>Select Menu</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                </svg>

              </div>
              <div class="form-group">
                <select class="custom-select custom-select-lg">
                  <option selected>Select Menu Lg</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                </svg>

              </div>
            </form>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8">
            <h2>Checkboxes</h2>
            <form>
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="custom-checkbox-example-1">
                <label class="custom-control-label" for="custom-checkbox-example-1">Check this custom checkbox</label>
              </div>
              <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Toggle this switch element</label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8">
            <h2>Radio</h2>
            <form>
              <div class="form-group">
                <div class="custom-control custom-radio mb-2">
                  <input type="radio" id="custom-radio-example-1" name="custom-radio" class="custom-control-input">
                  <label class="custom-control-label" for="custom-radio-example-1">Toggle this custom radio</label>
                </div>
                <div class="custom-control custom-radio">
                  <input type="radio" id="custom-radio-2" name="custom-radio" class="custom-control-input">
                  <label class="custom-control-label" for="custom-radio-2">Or toggle this other custom radio</label>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-8">
            <h2>Range Input</h2>
            <form>
              <div>
                <label for="custom-range-example-1">Example range</label>
                <input type="range" class="custom-range" id="custom-range-example-1" min="0" max="10" value="6">
              </div>
              <div class="custom-range-labels">
                <span>0</span>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
                <span>8</span>
                <span>9</span>
                <span>10</span>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>