<section class="bg-primary-3 header-inner p-0 jarallax position-relative o-hidden" data-overlay>
      <div class="container py-0 layer-2">
        <div class="row my-3 text-light">
          <div class="col">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a href="#">Elements</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Cards</li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="row my-4 my-md-6 text-light" data-aos="fade-up">
          <div class="col-lg-9 col-xl-6">
            <h1 class="display-4">Cards</h1>
            <p class="lead mb-0">Bootstrap’s cards provide a flexible and extensible content container with multiple variants and options.</p>
          </div>
        </div>
        <div class="alert alert-primary mb-5">
          <div class="d-flex">
            <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <title>Icon For Selected-file</title>
              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <polygon points="0 0 24 0 24 24 0 24" opacity="0"></polygon>
                <path d="M4.85714286,1 L11.7364114,1 C12.0910962,1 12.4343066,1.12568431 12.7051108,1.35473959 L17.4686994,5.3839416 C17.8056532,5.66894833 18,6.08787823 18,6.52920201 L18,19.0833333 C18,20.8738751 17.9795521,21 16.1428571,21 L4.85714286,21 C3.02044787,21 3,20.8738751 3,19.0833333 L3,2.91666667 C3,1.12612489 3.02044787,1 4.85714286,1 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                <path d="M6.85714286,3 L14.7364114,3 C15.0910962,3 15.4343066,3.12568431 15.7051108,3.35473959 L20.4686994,7.3839416 C20.8056532,7.66894833 21,8.08787823 21,8.52920201 L21,21.0833333 C21,22.8738751 20.9795521,23 19.1428571,23 L6.85714286,23 C5.02044787,23 5,22.8738751 5,21.0833333 L5,4.91666667 C5,3.12612489 5.02044787,3 6.85714286,3 Z M8,12 C7.44771525,12 7,12.4477153 7,13 C7,13.5522847 7.44771525,14 8,14 L15,14 C15.5522847,14 16,13.5522847 16,13 C16,12.4477153 15.5522847,12 15,12 L8,12 Z M8,16 C7.44771525,16 7,16.4477153 7,17 C7,17.5522847 7.44771525,18 8,18 L11,18 C11.5522847,18 12,17.5522847 12,17 C12,16.4477153 11.5522847,16 11,16 L8,16 Z" fill="#000000" fill-rule="nonzero"></path>
              </g>
            </svg>
            <div class="ml-2 flex-grow-1">
              This page demonstrates Cards functionality, <a target="_blank" href="http://getbootstrap.com/docs/4.3/components/card/">See Bootstrap Documentation</a> for a detailed technical explanation.
            </div>
          </div>
        </div>
      </div>
      <div class="decoration right middle-y scale-4">
        <svg class="bg-primary" width="181" height="248" viewbox="0 0 181 248" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M173.496 137.406C174.74 140.125 174.201 142.961 172.992 145.955C171.785 148.945 171.244 152.203 170.371 155.332C169.545 158.285 169.023 161.391 167.74 164.135C164.455 171.167 160.851 178.053 157.302 184.959C156.15 187.203 154.769 189.328 153.507 191.517C150.778 196.252 146.98 200.155 143.411 204.207C139.247 208.934 134.907 213.528 130.36 217.884C126.981 221.119 123.356 224.19 119.477 226.79C110.78 232.623 101.875 238.142 91.7499 241.311C88.3119 242.386 84.9839 243.811 81.5509 244.904C73.1449 247.579 64.4319 248.129 55.8069 247.077C43.0409 245.519 34.2129 238.431 30.1099 226.075C28.8639 222.324 28.1059 218.372 27.5139 214.454C26.8169 209.821 26.5859 205.12 26.0709 200.456C25.3349 193.802 24.3459 187.22 21.4659 181.048C18.4739 174.631 16.5169 167.857 15.4639 160.864C14.0029 151.18 11.2059 141.854 8.4269 132.5C6.2689 125.236 4.1689 117.936 3.2239 110.374C3.0229 108.764 2.7159 107.161 2.3649 105.576C1.5039 101.679 1.03089 97.749 1.08989 93.75C1.11089 92.31 1.1309 90.823 0.8169 89.433C-0.1261 85.264 0.427893 81.211 1.17589 77.083C2.60189 69.223 4.9509 61.659 7.8319 54.234C11.6759 44.329 17.4339 35.662 24.7729 28.024C27.4019 25.289 30.1459 22.662 32.7379 19.892C41.5149 10.511 52.7829 5.93202 64.9919 3.34302C76.9139 0.815015 89.0599 0.543025 101.144 1.31003C118.3 2.39903 134.746 6.51404 149.367 15.95C158.662 21.948 165.805 29.942 169.615 40.639C172.851 49.726 174.459 59.13 175.758 68.625C176.248 72.201 176.719 75.792 177.459 79.32C179.471 88.912 180.406 98.573 180.119 108.383C179.885 116.393 178.273 124.157 176.322 131.861C175.854 133.709 174.568 135.353 173.496 137.406ZM114.193 74.056C116.129 74.66 116.129 74.66 116.709 73.132C115.756 73.482 114.975 73.769 114.193 74.056Z" fill="black"></path>
        </svg>

      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Basic Example</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4 d-flex">

                <div class="card card-body">
                  <div class="mb-3 mb-lg-5 flex-grow-1">
                    <span class="h2 mb-0">Color Matching</span>
                  </div>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                  </p>
                  <a href="#" class="hover-arrow">Learn More</a>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 d-flex">
                <div class="card card-body">
                  <div class="mb-3 mb-lg-5 flex-grow-1">
                    <span class="h2 mb-0">Build responsive websites</span>
                  </div>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                  </p>
                  <a href="#" class="hover-arrow">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Icon 1</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4 d-flex">
                <div class="card card-body">
                  <div class="icon-round mb-3 mb-md-4 bg-primary">
                    <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Crop</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                        <path d="M10,6 L14.5,6 C16.709139,6 18,7.290861 18,9.5 L18,14 L16,14 L16,9.5 C16,8.3954305 15.6045695,8 14.5,8 L10,8 L10,6 Z M8,6 L8,8 L4,8 C3.44771525,8 3,7.55228475 3,7 C3,6.44771525 3.44771525,6 4,6 L8,6 Z M18,16 L18,20 C18,20.5522847 17.5522847,21 17,21 C16.4477153,21 16,20.5522847 16,20 L16,16 L18,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                        <path d="M7,5 C6.44771525,5 6,4.55228475 6,4 C6,3.44771525 6.44771525,3 7,3 L17.5,3 C19.709139,3 21,4.290861 21,6.5 L21,17 C21,17.5522847 20.5522847,18 20,18 C19.4477153,18 19,17.5522847 19,17 L19,6.5 C19,5.3954305 18.6045695,5 17.5,5 L7,5 Z" fill="#000000" fill-rule="nonzero" transform="translate(13.500000, 10.500000) rotate(-180.000000) translate(-13.500000, -10.500000) "></path>
                      </g>
                    </svg>
                  </div>
                  <h4>Card Title</h4>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                  </p>
                  <a href="#">Learn More</a>
                </div>
              </div>
              <div class="col-md-6 col-lg-4 d-flex">
                <div class="card card-body bg-primary text-light">
                  <div class="icon-round mb-3 mb-md-4 icon bg-white">
                    <svg class="icon bg-white" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Homepod</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                        <path d="M17.9284376,4.46474822 C19.1973992,5.56488124 20,7.18871188 20,9 L20,16 C20,19.3137085 17.3137085,22 14,22 L10,22 C6.6862915,22 4,19.3137085 4,16 L4,9 C4,7.18871188 4.80260084,5.56488124 6.07156236,4.46474822 C6.51827272,5.90091027 9.0024302,7 12,7 C14.9975698,7 17.4817273,5.90091027 17.9284376,4.46474822 Z" fill="#000000" opacity="0.3"></path>
                        <path d="M15.3482135,3.66753404 C14.5236045,3.25522953 13.3167437,3 12,3 C10.6832563,3 9.47639552,3.25522953 8.6517865,3.66753404 C8.42616493,3.78034482 8.24918686,3.89542836 8.12520418,4 C8.24918686,4.10457164 8.42616493,4.21965518 8.6517865,4.33246596 C9.47639552,4.74477047 10.6832563,5 12,5 C13.3167437,5 14.5236045,4.74477047 15.3482135,4.33246596 C15.5738351,4.21965518 15.7508131,4.10457164 15.8747958,4 C15.7508131,3.89542836 15.5738351,3.78034482 15.3482135,3.66753404 Z" fill="#000000"></path>
                      </g>
                    </svg>
                  </div>
                  <h4>Card Title</h4>
                  <p>
                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
                  </p>
                  <a href="#">Learn More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Icon 2</h2>
            <div class="row">
              <div class="col-md-4 col-xl-3 d-flex">
                <div class="card card-icon-2 card-body justify-content-between">
                  <div class="icon-round mb-3 mb-md-4 bg-primary">
                    <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Cardboard-vr</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                        <polygon fill="#000000" opacity="0.3" points="6 4 18 4 20 6.5 4 6.5"></polygon>
                        <path d="M5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L20.999994,17.0000172 C20.999994,18.1045834 20.1045662,19.0000112 19,19.0000112 C17.4805018,19.0000037 16.4805051,19 16,19 C15,19 14.5,17 12,17 C9.5,17 9.5,19 8,19 C7.31386312,19 6.31387037,19.0000034 5.00002173,19.0000102 L5.00002173,19.0000216 C3.89544593,19.0000273 3.00000569,18.1045963 3,17.0000205 C3,17.000017 3,17.0000136 3,17.0000102 L3,8 C3,6.8954305 3.8954305,6 5,6 Z M8,14 C9.1045695,14 10,13.1045695 10,12 C10,10.8954305 9.1045695,10 8,10 C6.8954305,10 6,10.8954305 6,12 C6,13.1045695 6.8954305,14 8,14 Z M16,14 C17.1045695,14 18,13.1045695 18,12 C18,10.8954305 17.1045695,10 16,10 C14.8954305,10 14,10.8954305 14,12 C14,13.1045695 14.8954305,14 16,14 Z" fill="#000000"></path>
                      </g>
                    </svg>
                  </div>
                  <h5 class="mb-0">Smart home devices and more</h5>
                </div>
              </div>
              <div class="col-md-4 col-xl-3 d-flex">
                <a href="#" class="card card-icon-2 card-body justify-content-between shadow-3d hover-bg-primary-3">
                  <div class="icon-round mb-3 mb-md-4 icon bg-primary-2">
                    <svg class="icon bg-primary-2" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Crop</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                        <path d="M10,6 L14.5,6 C16.709139,6 18,7.290861 18,9.5 L18,14 L16,14 L16,9.5 C16,8.3954305 15.6045695,8 14.5,8 L10,8 L10,6 Z M8,6 L8,8 L4,8 C3.44771525,8 3,7.55228475 3,7 C3,6.44771525 3.44771525,6 4,6 L8,6 Z M18,16 L18,20 C18,20.5522847 17.5522847,21 17,21 C16.4477153,21 16,20.5522847 16,20 L16,16 L18,16 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                        <path d="M7,5 C6.44771525,5 6,4.55228475 6,4 C6,3.44771525 6.44771525,3 7,3 L17.5,3 C19.709139,3 21,4.290861 21,6.5 L21,17 C21,17.5522847 20.5522847,18 20,18 C19.4477153,18 19,17.5522847 19,17 L19,6.5 C19,5.3954305 18.6045695,5 17.5,5 L7,5 Z" fill="#000000" fill-rule="nonzero" transform="translate(13.500000, 10.500000) rotate(-180.000000) translate(-13.500000, -10.500000) "></path>
                      </g>
                    </svg>
                  </div>
                  <h5 class="mb-0">Smart home devices and more</h5>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Icon 3</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4 d-flex">
                <div class="card card-icon-3 card-body justify-content-between">
                  <div class="icon-round mb-3 mb-md-4 bg-primary">
                    <svg class="icon bg-primary" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <title>Icon For Airpods</title>
                      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                        <path d="M17,12.9170416 L17,20.5 C17,21.3284271 16.3284271,22 15.5,22 C14.6715729,22 14,21.3284271 14,20.5 L14,11.472213 C14.8261591,12.2116454 15.8584259,12.7255217 17,12.9170416 Z" fill="#000000" opacity="0.3"></path>
                        <path d="M10,11.472213 L10,20.5 C10,21.3284271 9.32842712,22 8.5,22 C7.67157288,22 7,21.3284271 7,20.5 L7,12.9170416 C8.14157414,12.7255217 9.17384092,12.2116454 10,11.472213 Z" fill="#000000" opacity="0.3"></path>
                        <path d="M18,12 C15.2385763,12 13,9.76142375 13,7 C13,4.23857625 15.2385763,2 18,2 C20.7614237,2 23,4.23857625 23,7 C23,9.76142375 20.7614237,12 18,12 Z M14.75,6.5 C14.3357864,6.5 14,6.83578644 14,7.25 C14,7.66421356 14.3357864,8 14.75,8 L15.25,8 C15.6642136,8 16,7.66421356 16,7.25 C16,6.83578644 15.6642136,6.5 15.25,6.5 L14.75,6.5 Z M21,5 C20.4477153,5 20,5.44771525 20,6 L20,8 C20,8.55228475 20.4477153,9 21,9 C21.5522847,9 22,8.55228475 22,8 L22,6 C22,5.44771525 21.5522847,5 21,5 Z" fill="#000000"></path>
                        <path d="M6,12 C3.23857625,12 1,9.76142375 1,7 C1,4.23857625 3.23857625,2 6,2 C8.76142375,2 11,4.23857625 11,7 C11,9.76142375 8.76142375,12 6,12 Z M8.75,6.5 C8.33578644,6.5 8,6.83578644 8,7.25 C8,7.66421356 8.33578644,8 8.75,8 L9.25,8 C9.66421356,8 10,7.66421356 10,7.25 C10,6.83578644 9.66421356,6.5 9.25,6.5 L8.75,6.5 Z M3,5 C2.44771525,5 2,5.44771525 2,6 L2,8 C2,8.55228475 2.44771525,9 3,9 C3.55228475,9 4,8.55228475 4,8 L4,6 C4,5.44771525 3.55228475,5 3,5 Z" fill="#000000"></path>
                      </g>
                    </svg>
                  </div>
                  <span class="badge badge-primary">Badge Text</span>
                  <div>
                    <h3>Card Title</h3>
                    <p class="lead">
                      Accusantium doloremque laudantium, totam
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Icon 4</h2>
            <div class="row">
              <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="card card-sm card-body flex-row align-items-center">
                  <svg class="" width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12 4L0 11.723L12 19.3324L24 11.723L12 4ZM36 4L24 11.723L36 19.3324L48 11.723L36 4ZM0 27.0554L12 34.7784L24 27.0554L12 19.3324L0 27.0554ZM36 19.3324L24 27.0554L36 34.7784L48 27.0554L36 19.3324ZM12 37.277L24 45L36 37.277L24 29.6676L12 37.277Z" fill="#0069FB"></path>
                  </svg>

                  <div class="ml-3">
                    <h5 class="mb-0">Dropbox</h5>
                    <span>Productivity</span>
                  </div>
                </div>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <a href="#" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">
                  <svg class="" width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M43.6487 0H4.35131C1.94813 0 0 1.94813 0 4.35131V43.6487C0 46.0519 1.94813 48 4.35131 48H43.6487C46.0519 48 48 46.0519 48 43.6487V4.35131C48 1.94813 46.0519 0 43.6487 0Z" fill="#DC395F"></path>
                    <path d="M16.0416 15.1022C17.6372 15.1022 18.9739 13.8516 18.9739 12.2124C18.9739 10.5744 17.6372 9.32401 16.0416 9.32401C14.446 9.32401 13.1096 10.5744 13.1096 12.2124C13.1096 13.8514 14.446 15.1022 16.0416 15.1022ZM9.96171 30.5747C9.7894 31.3078 9.70296 32.0994 9.70296 32.7452C9.70296 35.2898 11.0828 36.9789 14.0151 36.9789C16.447 36.9789 18.4185 35.5348 19.8381 33.2029L18.9713 36.6816H23.8003L26.5603 25.6118C27.2503 22.809 28.587 21.3542 30.6139 21.3542C32.2093 21.3542 33.201 22.3464 33.201 23.9844C33.201 24.459 33.1579 24.9759 32.9854 25.5368L31.5623 30.6249C31.3466 31.3581 31.2608 32.0916 31.2608 32.781C31.2608 35.1966 32.6833 36.9634 35.6588 36.9634C38.203 36.9634 40.2295 35.3256 41.3507 31.4014L39.4536 30.669C38.5048 33.2979 37.6855 33.7733 37.0386 33.7733C36.3917 33.7733 36.0467 33.3424 36.0467 32.4804C36.0467 32.0923 36.1333 31.6616 36.2623 31.143L37.6425 26.1859C37.9873 25.0219 38.1169 23.9897 38.1169 23.0413C38.1169 19.3329 35.8744 17.3976 33.1579 17.3976C30.6139 17.3976 28.0264 19.6924 26.733 22.1076L27.6814 17.7726H20.3081L19.2731 21.5908H22.723L20.5986 30.0958C18.9304 33.8042 15.8661 33.8644 15.4815 33.7783C14.85 33.6358 14.4461 33.396 14.4461 32.5755C14.4461 32.1021 14.5324 31.422 14.748 30.6021L17.9824 17.7726H9.78939L8.75439 21.5908H12.1607L9.96189 30.5747" fill="white"></path>
                  </svg>

                  <div class="ml-3">
                    <h5 class="mb-0">Invision</h5>
                    <span>Productivity</span>
                  </div>
                </a>
              </div>
              <div class="col-sm-6 col-md-4 col-lg-3">
                <a href="#" class="card card-sm card-body flex-row align-items-center hover-bg-primary-2 hover-shadow-3d">
                  <svg class="icon icon-lg bg-primary-2" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <title>Icon For Layout-3d</title>
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                      <path d="M1.5,5 L4.5,5 C5.32842712,5 6,5.67157288 6,6.5 L6,17.5 C6,18.3284271 5.32842712,19 4.5,19 L1.5,19 C0.671572875,19 1.01453063e-16,18.3284271 0,17.5 L0,6.5 C-1.01453063e-16,5.67157288 0.671572875,5 1.5,5 Z M18.5,5 L22.5,5 C23.3284271,5 24,5.67157288 24,6.5 L24,17.5 C24,18.3284271 23.3284271,19 22.5,19 L18.5,19 C17.6715729,19 17,18.3284271 17,17.5 L17,6.5 C17,5.67157288 17.6715729,5 18.5,5 Z" fill="#000000"></path>
                      <rect fill="#000000" opacity="0.3" x="8" y="5" width="7" height="14" rx="1.5"></rect>
                    </g>
                  </svg>
                  <div class="ml-3">
                    <h5 class="mb-0">Flickity</h5>
                    <span>Touch Slider</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Customer 1</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card card-customer-1 card-body align-items-start">
                  <div class="mb-4 mb-md-5">
                    <svg class="" width="48" height="48" viewbox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12 4L0 11.723L12 19.3324L24 11.723L12 4ZM36 4L24 11.723L36 19.3324L48 11.723L36 4ZM0 27.0554L12 34.7784L24 27.0554L12 19.3324L0 27.0554ZM36 19.3324L24 27.0554L36 34.7784L48 27.0554L36 19.3324ZM12 37.277L24 45L36 37.277L24 29.6676L12 37.277Z" fill="#0069FB"></path>
                    </svg>

                  </div>
                  <div class="mb-3 mb-md-4">
                    <h4>“We couldn’t have done it without the team from Leap.”</h4>
                    <span>
                      Joanne Sims, CEO
                    </span>
                  </div>
                  <a href="#">Read Story</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Customer 2</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card">
                  <a href="#">
                    <img src="template-assets/img/article-3.jpg" alt="Image" class="card-img-top">
                  </a>
                  <div class="card-body align-items-start">
                    <div class="mb-3">
                      <img src="template-assets/img/logos/invision.svg" alt="Logo" class="icon icon-md">
                    </div>
                    <p>
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <a href="#">Read Story</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Customer 3</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card card-body">
                  <div class="d-flex mb-3">
                    <svg class="icon bg-warning" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3616 17.7407L8.27722 19.888C7.78838 20.145 7.18375 19.957 6.92675 19.4682C6.82441 19.2735 6.7891 19.0505 6.82627 18.8338L7.60632 14.2858L4.30199 11.0648C3.90651 10.6793 3.89841 10.0462 4.28391 9.65073C4.43742 9.49325 4.63856 9.39076 4.8562 9.35913L9.42268 8.69559L11.4649 4.55766C11.7093 4.0624 12.3089 3.85906 12.8042 4.10349C13.0014 4.20082 13.161 4.36044 13.2583 4.55766L15.3005 8.69559L19.867 9.35913C20.4136 9.43855 20.7922 9.94599 20.7128 10.4925C20.6812 10.7102 20.5787 10.9113 20.4212 11.0648L17.1169 14.2858L17.8969 18.8338C17.9903 19.3781 17.6247 19.8951 17.0804 19.9884C16.8636 20.0256 16.6406 19.9903 16.446 19.888L12.3616 17.7407Z" fill="#212529"></path>
                    </svg>
                    <svg class="icon bg-warning" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3616 17.7407L8.27722 19.888C7.78838 20.145 7.18375 19.957 6.92675 19.4682C6.82441 19.2735 6.7891 19.0505 6.82627 18.8338L7.60632 14.2858L4.30199 11.0648C3.90651 10.6793 3.89841 10.0462 4.28391 9.65073C4.43742 9.49325 4.63856 9.39076 4.8562 9.35913L9.42268 8.69559L11.4649 4.55766C11.7093 4.0624 12.3089 3.85906 12.8042 4.10349C13.0014 4.20082 13.161 4.36044 13.2583 4.55766L15.3005 8.69559L19.867 9.35913C20.4136 9.43855 20.7922 9.94599 20.7128 10.4925C20.6812 10.7102 20.5787 10.9113 20.4212 11.0648L17.1169 14.2858L17.8969 18.8338C17.9903 19.3781 17.6247 19.8951 17.0804 19.9884C16.8636 20.0256 16.6406 19.9903 16.446 19.888L12.3616 17.7407Z" fill="#212529"></path>
                    </svg>
                    <svg class="icon bg-warning" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3616 17.7407L8.27722 19.888C7.78838 20.145 7.18375 19.957 6.92675 19.4682C6.82441 19.2735 6.7891 19.0505 6.82627 18.8338L7.60632 14.2858L4.30199 11.0648C3.90651 10.6793 3.89841 10.0462 4.28391 9.65073C4.43742 9.49325 4.63856 9.39076 4.8562 9.35913L9.42268 8.69559L11.4649 4.55766C11.7093 4.0624 12.3089 3.85906 12.8042 4.10349C13.0014 4.20082 13.161 4.36044 13.2583 4.55766L15.3005 8.69559L19.867 9.35913C20.4136 9.43855 20.7922 9.94599 20.7128 10.4925C20.6812 10.7102 20.5787 10.9113 20.4212 11.0648L17.1169 14.2858L17.8969 18.8338C17.9903 19.3781 17.6247 19.8951 17.0804 19.9884C16.8636 20.0256 16.6406 19.9903 16.446 19.888L12.3616 17.7407Z" fill="#212529"></path>
                    </svg>
                    <svg class="icon bg-warning" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3616 17.7407L8.27722 19.888C7.78838 20.145 7.18375 19.957 6.92675 19.4682C6.82441 19.2735 6.7891 19.0505 6.82627 18.8338L7.60632 14.2858L4.30199 11.0648C3.90651 10.6793 3.89841 10.0462 4.28391 9.65073C4.43742 9.49325 4.63856 9.39076 4.8562 9.35913L9.42268 8.69559L11.4649 4.55766C11.7093 4.0624 12.3089 3.85906 12.8042 4.10349C13.0014 4.20082 13.161 4.36044 13.2583 4.55766L15.3005 8.69559L19.867 9.35913C20.4136 9.43855 20.7922 9.94599 20.7128 10.4925C20.6812 10.7102 20.5787 10.9113 20.4212 11.0648L17.1169 14.2858L17.8969 18.8338C17.9903 19.3781 17.6247 19.8951 17.0804 19.9884C16.8636 20.0256 16.6406 19.9903 16.446 19.888L12.3616 17.7407Z" fill="#212529"></path>
                    </svg>
                    <svg class="icon bg-warning" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M12.3616 17.7407L8.27722 19.888C7.78838 20.145 7.18375 19.957 6.92675 19.4682C6.82441 19.2735 6.7891 19.0505 6.82627 18.8338L7.60632 14.2858L4.30199 11.0648C3.90651 10.6793 3.89841 10.0462 4.28391 9.65073C4.43742 9.49325 4.63856 9.39076 4.8562 9.35913L9.42268 8.69559L11.4649 4.55766C11.7093 4.0624 12.3089 3.85906 12.8042 4.10349C13.0014 4.20082 13.161 4.36044 13.2583 4.55766L15.3005 8.69559L19.867 9.35913C20.4136 9.43855 20.7922 9.94599 20.7128 10.4925C20.6812 10.7102 20.5787 10.9113 20.4212 11.0648L17.1169 14.2858L17.8969 18.8338C17.9903 19.3781 17.6247 19.8951 17.0804 19.9884C16.8636 20.0256 16.6406 19.9903 16.446 19.888L12.3616 17.7407Z" fill="#212529"></path>
                    </svg>
                  </div>
                  <div class="my-md-2 flex-grow-1">
                    <h4>
                      “I couldn’t have done it without the team from Leap.”
                    </h4>
                  </div>
                  <div class="avatar-author align-items-center">
                    <img src="template-assets/img/avatars/female-4.jpg" alt="Avatar" class="avatar">
                    <div class="ml-2">
                      <h6>Anne Pearce</h6>
                      <span>Developer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Customer 4</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4 d-flex">
                <div class="card card-body">
                  <div class="mb-3 mb-md-4">
                    <img src="template-assets/img/avatars/male-1.jpg" alt="Avatar" class="avatar avatar-lg">
                  </div>
                  <div class="flex-grow-1 pt-md-3">
                    <h4>
                      “I couldn’t have done it without the team from Leap.”
                    </h4>
                  </div>
                  <div class="avatar-author d-block">
                    <h6>Benjamin Cameron</h6>
                    <span>Designer</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Customer 5</h2>
            <div class="row">
              <div class="col-md-6">
                <div class="card card-body flex-row py-4">
                  <img src="template-assets/img/avatars/male-2.jpg" alt="Avatar" class="avatar avatar-lg">
                  <div class="ml-3">
                    <h4>
                      “The team were only too happy to help me getting started.”
                    </h4>
                    <div class="avatar-author d-block">
                      <h6>Anil Kumar</h6>
                      <span>Designer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Customer 7</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card card-body">
                  <div class="flex-grow-1 mb-3">
                    <p class="lead">
                      “Finally, I’ve found a template that covers all bases for a bootstrapped startup. We were able to launch in days, not months.”
                    </p>
                  </div>
                  <div class="avatar-author align-items-center">
                    <img src="template-assets/img/avatars/female-4.jpg" alt="Avatar" class="avatar">
                    <div class="ml-2">
                      <h6>Anne Pearce</h6>
                      <span>Developer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Customer 8</h2>
            <div class="row">
              <div class="col">
                <a href="#" class="card card-article-wide flex-md-row no-gutters hover-shadow-3d">
                  <div class="col-md-5 col-lg-6">
                    <img src="https://images.unsplash.com/photo-1525130413817-d45c1d127c42?ixlib=rb-0.3.5&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;s=22b665e08fd207619e91753d4f2236b3&amp;auto=format&amp;fit=crop&amp;w=2100&amp;q=80" alt="Image" class="card-img-top">
                  </div>
                  <div class="card-body d-flex flex-column justify-content-between col-auto p-4 p-lg-5">
                    <div>
                      <img src="template-assets/img/logos/dropbox.svg" alt="Logo" class="icon icon-md mb-4">
                      <div class="h3">This company achieved a seriously good result using this product.</div>
                    </div>
                    <p class="lead mb-0 text-primary font-weight-bold">Read Story</p>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Blog - Article</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card">
                  <a href="#">
                    <img src="https://source.unsplash.com/user/mahkeo/800x500" alt="Image" class="card-img-top">
                  </a>
                  <div class="card-body d-flex flex-column">
                    <div class="d-flex justify-content-between mb-3">
                      <div class="text-small d-flex">
                        <div class="mr-2">
                          <a href="#">Category</a>
                        </div>
                        <span class="text-muted">14 June</span>
                      </div>
                      <span class="badge bg-primary-alt text-primary">
                        <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                        </svg>

                        21
                      </span>
                    </div>
                    <a href="#">
                      <h4>Article title goes here</h4>
                    </a>
                    <p class="flex-grow-1">
                      Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium.
                    </p>
                    <div class="d-flex align-items-center mt-3">
                      <img src="template-assets/img/avatars/male-2.jpg" alt="Image" class="avatar avatar-sm">
                      <div class="ml-1">
                        <span class="text-small text-muted">By</span>
                        <span class="text-small">Ben Sims</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Blog - Quote</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <div class="card card-body justify-content-between bg-primary-3 text-light">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-small d-flex">
                      <div class="mr-2">
                        <a href="#">Quotes</a>
                      </div>
                      <span class="opacity-70">14 June</span>
                    </div>
                    <span class="badge bg-primary text-light">
                      <svg class="icon icon-sm bg-white" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      21
                    </span>
                  </div>
                  <div>
                    <h2>“You either get acquired like Trello or live long enough to see yourself become JIRA”</h2>
                    <span class="text-small opacity-70">– Harvey Dent (via Tareq I.)</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Blog - Link</h2>
            <div class="row">
              <div class="col-md-6 col-lg-4">
                <a href="#" class="card card-body justify-content-between bg-primary text-light">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-small d-flex">
                      <div class="mr-2">
                        Links
                      </div>
                      <span class="opacity-70">14 June</span>
                    </div>
                    <span class="badge bg-primary-alt text-primary">
                      <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      21
                    </span>
                  </div>
                  <div>
                    <h2>A time-tracking app that isn’t a pain.</h2>
                    <span class="text-small opacity-70">http://www.website.io/link</span>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Blog - Audio</h2>
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <div class="card card-body bg-primary-2 text-light">
                  <div class="d-flex justify-content-between mb-3">
                    <div class="text-small d-flex">
                      <div class="mr-2">
                        <a href="#">Audio</a>
                      </div>
                      <span class="opacity-70">14 June</span>
                    </div>
                    <span class="badge bg-primary text-light">
                      <svg class="icon icon-sm bg-white" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      21
                    </span>
                  </div>
                  <div class="d-flex">
                    <a href="#" class="btn btn-lg btn-primary btn-round flex-shrink-0">
                      <svg class="icon bg-white" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Icon For Volume-full</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                          <path d="M16.3155516,16.1481997 C15.9540268,16.3503696 15.4970619,16.2211868 15.294892,15.859662 C15.0927222,15.4981371 15.2219049,15.0411723 15.5834298,14.8390024 C16.6045379,14.2679841 17.25,13.1909329 17.25,12 C17.25,10.8178416 16.614096,9.74756859 15.6048775,9.17309861 C15.2448979,8.96819005 15.1191879,8.51025767 15.3240965,8.15027801 C15.529005,7.79029835 15.9869374,7.66458838 16.3469171,7.86949694 C17.8200934,8.70806221 18.75,10.2731632 18.75,12 C18.75,13.7396897 17.8061594,15.3146305 16.3155516,16.1481997 Z M16.788778,19.8892305 C16.4155074,20.068791 15.9673493,19.9117581 15.7877887,19.5384876 C15.6082282,19.165217 15.7652611,18.7170589 16.1385317,18.5374983 C18.6312327,17.3383928 20.25,14.815239 20.25,12 C20.25,9.21171818 18.6622363,6.70862302 16.2061077,5.49544344 C15.8347279,5.31200421 15.682372,4.86223455 15.8658113,4.49085479 C16.0492505,4.11947504 16.4990201,3.96711914 16.8703999,4.15055837 C19.8335314,5.61416684 21.75,8.63546229 21.75,12 C21.75,15.3971108 19.7961591,18.4425397 16.788778,19.8892305 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"></path>
                          <path d="M7,16 L3.60776773,15.3215535 C2.67291934,15.1345839 2,14.3137542 2,13.3603922 L2,10.6396078 C2,9.68624577 2.67291934,8.86541613 3.60776773,8.67844645 L7,8 L10.2928932,4.70710678 C10.6834175,4.31658249 11.3165825,4.31658249 11.7071068,4.70710678 C11.8946432,4.89464316 12,5.14899707 12,5.41421356 L12,18.5857864 C12,19.1380712 11.5522847,19.5857864 11,19.5857864 C10.7347835,19.5857864 10.4804296,19.4804296 10.2928932,19.2928932 L7,16 Z" fill="#000000"></path>
                        </g>
                      </svg>
                    </a>
                    <div class="ml-3">
                      <a href="#">
                        <h4 class="mb-1">An interesting discussion on design</h4>
                      </a>
                      <span class="text-small opacity-70">– 1hr 22mins</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Blog - Video</h2>
            <div class="row">
              <div class="col-md-8 col-lg-6">
                <div class="card card-body justify-content-between bg-primary-3 text-light">
                  <img src="https://source.unsplash.com/user/mahkeo/800x500" alt="Image" class="bg-image opacity-20">
                  <div class="d-flex justify-content-between mb-3 position-relative">
                    <div class="text-small d-flex">
                      <div class="mr-2">
                        <a href="#">Video</a>
                      </div>
                      <span class="opacity-70">14 June</span>
                    </div>
                    <span class="badge bg-primary text-light">
                      <svg class="icon icon-sm bg-white" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                      </svg>

                      21
                    </span>
                  </div>
                  <div class="d-flex position-relative">
                    <a href="#" class="btn btn-primary btn-round btn-lg flex-shrink-0">
                      <svg class="icon bg-white" width="24px" height="24px" viewbox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <title>Icon For Play</title>
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                          <rect opacity="0" x="0" y="0" width="24" height="24"></rect>
                          <path d="M9.82866499,18.2771971 L16.5693679,12.3976203 C16.7774696,12.2161036 16.7990211,11.9002555 16.6175044,11.6921539 C16.6029128,11.6754252 16.5872233,11.6596867 16.5705402,11.6450431 L9.82983723,5.72838979 C9.62230202,5.54622572 9.30638833,5.56679309 9.12422426,5.7743283 C9.04415337,5.86555116 9,5.98278612 9,6.10416552 L9,17.9003957 C9,18.1765381 9.22385763,18.4003957 9.5,18.4003957 C9.62084305,18.4003957 9.73759731,18.3566309 9.82866499,18.2771971 Z" fill="#000000"></path>
                        </g>
                      </svg>
                    </a>
                    <div class="ml-3">
                      <a href="#">
                        <h4 class="mb-1">An interesting discussion on design</h4>
                      </a>
                      <span class="text-small opacity-70">– 1hr 22mins</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col">
            <h2>Card Blog - Article Wide</h2>
            <div class="row">
              <div class="col-lg-8">
                <div class="card card-article-wide flex-md-row no-gutters">
                  <a href="#" class="col-md-4">
                    <img src="https://source.unsplash.com/user/mahkeo/600x800" alt="Image" class="card-img-top">
                  </a>
                  <div class="card-body d-flex flex-column col-auto p-4">
                    <div class="d-flex justify-content-between mb-3">
                      <div class="text-small d-flex">
                        <div class="mr-2">
                          <a href="#">Category</a>
                        </div>
                        <span class="text-muted">14 June</span>
                      </div>
                      <span class="badge bg-primary-alt text-primary">
                        <svg class="icon icon-sm bg-primary" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.5 5C14.8905 5 13.0082 6.82463 12 8C10.9918 6.82463 9.1095 5 7.5 5C4.651 5 3 7.22218 3 10.0504C3 13.1835 6 16.5 12 20C18 16.5 21 13.25 21 10.25C21 7.42177 19.349 5 16.5 5Z" fill="#212529"></path>
                        </svg>

                        21
                      </span>
                    </div>
                    <a href="#" class="flex-grow-1">
                      <h3>Article title goes here</h3>
                    </a>
                    <div class="d-flex align-items-center mt-3">
                      <img src="template-assets/img/avatars/male-2.jpg" alt="Image" class="avatar avatar-sm">
                      <div class="ml-1">
                        <span class="text-small text-muted">By</span>
                        <span class="text-small">Ben Sims</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>