<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>File Structure</h1>
                <div class="lead">
                  <p>A guide to understanding how Leap is structured.</p>
                </div>
              </div>

              <article id="pages" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Page Templates</p>
                
                <div>
                  <p>📁 <code>pages</code> is the source for html pages and contains the example HTML templates supplied with Leap.</p>
                  <p>Contained in <code>pages</code> is a precompiled static site, equivalent to what you see in the online demo.</p>
                  <p>Pages are named according to their purpose, and you can open any of the files in your browser to see it in action, or modify the markup to suit your needs.</p>
                  <p>As this is the source for html pages, Gulp copies all <code>.html</code> files from <code>pages</code> to <code>dist/pages</code> during development.</p>
                  <p>This documentation is also housed in <code>pages</code> to share the theme's assets, but the <code>documentation</code> files are not required in your projects, and you may move or make another copy of them elsewhere. These docs are
                    also available [online](http://leap.mediumra.re/documentation/).</p>

                </div>
              </article>

              <article id="assets" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Assets</p>
                
                <div>
                  <p>📁 <code>pages/assets</code> contains all of the assets referenced in the html pages.</p>
                  <p>Precompiled versions of the required JS and CSS are supplied in their respective folders to support the self-contained 'static site'. During development, Gulp will compile <code>bootstrap.js</code>, <code>theme.js</code> and <code>theme.css</code> to <code>dist/pages/assets</code> when
                    running the dev server.</p>
                  <p>Any images, css, fonts or videos used in the theme are contained in <code>pages/assets</code>.</p>
                  <ul>
                    <li>CSS which is not compiled into <code>theme.css</code> should be stored in <code>pages/assets/css</code>.</li>
                    <li>Plugin javascript that is not compiled into <code>bootstrap.js</code> or <code>theme.js</code> should be stored in <code>pages/assets/js</code>.</li>
                    <li>Images used in html pages should be stored in <code>pages/assets/img</code>.</li>
                    <li>Fonts used in html pages should be stored in <code>pages/assets/fonts</code>.</li>
                    <li>Videos used in html pages should be stored in <code>pages/assets/video</code>.</li>
                  </ul>

                </div>
              </article>

              <article id="scss-and-css" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>SCSS / CSS</p>
                
                <div>
                  <p>📁 <code>scss</code> contains the source for all bootstrap and theme css. You will see the following in <code>scss</code>:</p>
                  <ul>
                    <li>
<code>bootstrap</code> - contains the full scss source for the version of bootstrap shipped with the theme. Leap version 1.0.1 ships with Bootstrap 4.3.1. This will be updated as further Bootstrap versions are released.</li>
                    <li>
<code>custom</code> - contains the theme overrides made by Medium Rare for Leap and some plugin CSS.</li>
                    <li>
<code>theme.scss</code> - compiles bootstrap SCSS with Leap overrides into one CSS file.</li>
                    <li>
<code>user.scss</code> - a place for you to add your own custom CSS rules to keep them separate from the core theme files, which aids updating.</li>
                    <li>
<code>user-variables.scss</code> - a place for you to add your own custom SCSS variables to override the Bootstrap and Leap values. This prevents the need to edit core theme files which aids updates.</li>
                  </ul>

                </div>
              </article>

              <article id="javascript" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>JS</p>
                
                <div>
                  <p>📁 <code>js</code> contains the source for all bootstrap and theme javascript. You will see the following in <code>js</code>:</p>
                  <ul>
                    <li>
<code>bootstrap</code> - contains the full javascript source for the version of bootstrap shipped with the theme. Leap version 1.0.1 ships with Bootstrap 4.3.1. This will be updated as further Bootstrap versions are released.</li>
                    <li>
<code>mrare</code> - contains custom plugins and additional scripts required by Leap.</li>
                  </ul>
                  <p>Bootstrap javascript is compiled into <code>bootstrap.js</code>. Leap-specific scripts are compiled into <code>theme.js</code>.</p>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#pages" class="nav-link text-small" data-smooth-scroll>Pages</a>
                </li>

                <li class="nav-item">
                  <a href="#assets" class="nav-link text-small" data-smooth-scroll>Assets</a>
                </li>

                <li class="nav-item">
                  <a href="#scss-and-css" class="nav-link text-small" data-smooth-scroll>SCSS and CSS</a>
                </li>

                <li class="nav-item">
                  <a href="#javascript" class="nav-link text-small" data-smooth-scroll>Javascript</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>