<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Everyday Savings</h1>
      <p class="lead mb-0">Save money on the things that matter most to you. Earn back credit when you spend locally.</p>
    </div>
  </div>
</div>

<div class="container">
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link btn active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Free Discount Codes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Earn Free Credit</a>
    </li>
  </ul>
  <div class="tab-content" id="pills-tabContent">
    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
      <hr>
      <br>
      <%= render 'layouts/filtersdiscounts' %>

      <div class="container">
<div class="row" data-isotope-collection data-isotope-id="projects">
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/adidas">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h4 class="mb-0">Adidas <span class="discount float-right">5% Off</span></h4>
          <div class="text-small text-muted">Online Discount Code</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/apple">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h4 class="mb-0">Apple <span class="discount float-right">20% Off</span></h4>
          <div class="text-small text-muted">Online Discount Code</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/netflix2">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h4 class="mb-0">Netflix <span class="discount float-right">10% Off</span></h4>
          <div class="text-small text-muted">Online Discount Code</div>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/virgin">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Virgin <span class="discount float-right">5% Off</span></h4>
          <div class="text-small text-muted">In-Store Discount Code</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
        <a href="/pages/nike">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h4 class="mb-0">Nike <span class="discount float-right">5% Off</span></h4>
          <div class="text-small text-muted">In-Store Discount Code</div>
        </a>
      </div>
    </div>
  </div>

    </div>


    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
      <hr>
      <br>
      <%= render 'layouts/filtersearn' %>

      <div class="row">
      
        <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
          <a href="/pages/bill">
            <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
            <h4 class="mb-0">Bill's Restaurant</h4>
            <div class="text-small text-muted">Link Your Card</div>
          </a>
        </div>
        <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Art Direction">
          <a href="/pages/franco">
            <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
            <h4 class="mb-0">Franco Manca</h4>
            <div class="text-small text-muted">Link Your Card</div>
          </a>
        </div>

    </div>


    </div>
  </div>
</div>

  </div>
