<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>Gulp</h1>
                <div class="lead">
                  <p>Using the gulpfile provided with Leap.</p>
                </div>
              </div>

              <article id="build--serve--watch" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Build, Serve and Watch: <code>gulp</code>
                  </p>
                
                <div>
                  <p>Running <code>gulp</code> in the Leap folder will compile the sources to <code>dist</code> then start a local <a href="https://www.browsersync.io/">Browsersync</a> instance on port <code>3000</code> to serve and refresh your pages as you edit.</p>
                  <p>The default task runs the following operations:</p>
                  <ul>
                    <li>
<strong>clean:dist</strong> : The <code>dist</code> folder is emptied. All files in <code>dist</code> are deleted.</li>
                    <li>
<strong>html</strong>: All <code>.html</code> files are copied from <code>pages</code> to <code>dist</code>. Only newer files are copied.</li>
                    <li>
<strong>sass-min</strong>: Compiles <code>theme.css</code> and <code>theme.min.css</code> from <code>scss/theme.scss</code> to the <code>dist/assets/css</code> along with appropriate <code>.map</code> files.</li>
                    <li>
<strong>bootstrap-js</strong>: Compiles and minifies all Bootstrap javascript files to <code>bootstrap.js</code> and <code>bootstrap.min.js</code> in the <code>dist/assets/js</code> folder.</li>
                    <li>
<strong>mrare-js</strong>: Compiles and minifies all Medium Rare javascript files to <code>theme.js</code> and <code>theme.min.js</code> in the <code>dist/assets/js</code> folder.</li>
                    <li>
<strong>copy-assets</strong>: Copies any newer files from <code>pages/assets</code> to <code>dist/pages/assets</code>.</li>
                    <li>
<strong>serve</strong>: Starts a Browsersync instance on port <code>3000</code> served from <code>dist</code>, defaults to <code>index.html</code>.</li>
                    <li>
<strong>watch</strong>: Monitors the following files and runs the corresponding tasks:
                      <ul>
                        <li>
<code>pages/*.html</code>, then runs the <strong>html</strong> task.</li>
                        <li>
<code>scss/*.scss</code>, then runs the <strong>sass-min</strong> task.</li>
                        <li>
<code>js/bootstrap/*.js</code>: then runs the <strong>bootstrap-js</strong> task.</li>
                        <li>
<code>js/mrare/*.js</code>: then runs the <strong>mrare-js</strong> task.</li>
                        <li>
<code>assets/*.*</code>: then runs the <strong>copy-assets</strong> task.</li>
                      </ul>
                    </li>
                  </ul>
                  <p><strong>NOTE:</strong> Medium Rare javascript is linted through <a href="https://github.com/adametry/gulp-eslint">gulp-eslint</a> according to the <a href="https://www.npmjs.com/package/eslint-config-airbnb">Airbnb rules preset</a>, and
                    is configured in the <code>.eslintrc.json</code> file in the project root. If the linting fails, the Gulp process will quit with an error. If you edit any Medium Rare javascript files and encounter a linting error, simply correct the
                    error and re-run <code>gulp</code>. This is done to prevent distribution of unlinted code.</p>
                  <p>The Browsersync server and Gulp's <strong>watch</strong> task will continue to run until instructed to quit via Ctrl+C or if the terminal/command window is closed.</p>
                  <p>When the server process quits, the <code>dist</code> folder is left intact with the latest version of compiled files within.</p>

                </div>
              </article>

              <article id="build-only" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Build Only: <code>gulp build</code>
                  </p>
                
                <div>
                  <p>Compiles a full, clean copy of the theme to the dist folder. Does not run <strong>watch</strong> or <strong>serve</strong> (Browsersync) tasks.</p>

                </div>
              </article>

              <article id="update-dependencies" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Updating dependencies: <code>gulp deps</code>
                  </p>
                
                <div>
                  <p>Conveniently pull in updates to plugin files by running <code>npm update</code>. This downloads the latest files from <a href="https://docs.npmjs.com/getting-started/updating-local-packages">npm</a> and places them in the <code>node_modules</code> folder.</p>
                  <p>The files must then be moved from <code>node_modules</code> to <code>assets</code>, <code>js</code>, or <code>scss</code>. To automatically move the updated files from <code>node_modules</code> to your source and assets folders, run <code>gulp deps</code>.</p>
                  <p>Some packages which are not available on npm cannot be updated in this way and must be downloaded and updated manually.</p>
                  <p>Bootstrap scss and javascript files are not yet updated in this way as some changes may break the theme. We will release periodic updates to the theme package to provide stable updates for Bootstrap.</p>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#build--serve--watch" class="nav-link text-small" data-smooth-scroll>Build / Serve / Watch</a>
                </li>

                <li class="nav-item">
                  <a href="#build-only" class="nav-link text-small" data-smooth-scroll>Build Only</a>
                </li>

                <li class="nav-item">
                  <a href="#update-dependencies" class="nav-link text-small" data-smooth-scroll>Update dependencies</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>