

<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">Welcome, Bill</h1>
      <p class="lead mb-0">Based on <a href="/pages/profile">your interests and motivations</a>, here's a curated list of items to get you going!</p>
    </div>
  </div>
</div>


<section class="narrow">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <a href="/pages/asos">
            <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
            <h4 class="mb-0">Asos Giftcard</h4>
            <div class="text-small text-muted">Wellbeing</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <a href="/pages/holiday2">
            <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
            <h4 class="mb-0">2 Days Holiday</h4>
            <div class="text-small text-muted">Work-Life Balance</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <a href="/pages/peer">
            <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
            <h4 class="mb-0">Team Lunch</h4>
            <div class="text-small text-muted">Peer Relationships</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <a href="/pages/dental">
            <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
            <h4 class="mb-0">Dental Care</h4>
            <div class="text-small text-muted">Quality Of Life</div>
          </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <a href="/pages/perks" class="hover-arrow">View Your Perks</a>
      </div>
    </div>
  </div>
</section>

<section class="narrow">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <a href="#">
            <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
            <h4 class="mb-0">Lynda.com</h4>
            <div class="text-small text-muted">Online subscription</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <a href="#">
            <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
            <h4 class="mb-0">Skillshare.com</h4>
            <div class="text-small text-muted">Online subscription</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <a href="#">
            <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
            <h4 class="mb-0">Udemy.com</h4>
            <div class="text-small text-muted">Online subscription</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <a href="#">
            <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
            <h4 class="mb-0">Amazon </h4>
            <div class="text-small text-muted">Gift Card</div>
          </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <a href="#" class="hover-arrow">View Learning & Development</a>
      </div>
    </div>
  </div>
</section>


<section class="narrow">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <a href="#">
            <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
            <h4 class="mb-0">Netflix</h4>
            <div class="text-small text-muted">Lifestyle & Entertainment</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <a href="#">
            <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
            <h4 class="mb-0">Apple</h4>
            <div class="text-small text-muted">Technology</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <a href="#">
            <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
            <h4 class="mb-0">Youtube</h4>
            <div class="text-small text-muted">Lifestyle & Entertainment</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <a href="#">
            <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
            <h4 class="mb-0">Spotify</h4>
            <div class="text-small text-muted">Lifestyle & Entertainment</div>
          </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <a href="/pages/learning" class="hover-arrow">View Lifestyle & Wellbeing</a>
      </div>
    </div>
  </div>
</section>


<section class="narrow">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
          <a href="#">
            <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
            <h4 class="mb-0">Cycle To Work</h4>
            <div class="text-small text-muted">Physical Wellbeing</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
          <a href="#">
            <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
            <h4 class="mb-0">EAP</h4>
            <div class="text-small text-muted">Emotional Wellbeing</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
          <a href="#">
            <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
            <h4 class="mb-0">Dental Online</h4>
            <div class="text-small text-muted">Physical Wellbeing</div>
          </a>
      </div>
      <div class="col-md-6 col-lg-3 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
          <a href="#">
            <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
            <h4 class="mb-0">Financial Advice</h4>
            <div class="text-small text-muted">Financial Wellbeing</div>
          </a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <a href="/pages/learning" class="hover-arrow">View Premium Workplace Perks</a>
      </div>
    </div>
  </div>
</section>