<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>Dropdowns (Grid)</h1>
                <div class="lead">
                  <p>Use native Bootstrap grid content in a dropdown menu.</p>
                </div>
              </div>

              <article id="about-the-plugin" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>About the Plugin</p>
                
                <div>
                  <p>We extended the Bootstrap dropdowns plugin to provide dropdowns with the flexibility of Bootstrap's grid. Using familiar markup and data attributes, you can nest any type of content in a dropdown, including other dropdowns!</p>
                  <p>This allows for multi-level dropdown menus and so-called "Mega Menus".</p>
                  <p>Dropdowns may be triggered on <code>click</code> or <code>hover</code>, and automatically position themselves to fit in the window.</p>

                </div>
              </article>

              <article id="initializing" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Initializing</p>
                
                <div class="alert alert-info">
                  <p>The demo pages already include the following code. These steps are only necessary if you are building a page from scratch. Remove these references if you are not using this plugin to improve page load times.</p>

                </div>
                <div>
                  <ol>
                    <li>
                      <h6>Load the plugin code in <code>index.js</code>
                      </h6>
                      <p>Declare the following import statement in <code>js/mrare/index.js</code>. This ensures that the initializer code is included in the <code>theme.js</code> bundle.</p>
                      <pre><code class="language-javascript">import mrDropdownGrid from './dropdown-grid';</code></pre>
                    </li>
                    <li>
                      <h6>Export the necessary object from theme.js</h6>
                      <p>Edit the export object in <code>js/mrare/index.js</code> to include the following:</p>
                      <pre><code class="language-javascript">export {
 mrDropdownGrid,
};</code></pre>
                    </li>
                  </ol>

                </div>
              </article>

              <article id="basic-usage" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Basic Usage</p>
                
                <div>
                  <p>Grid Dropdowns follow the same structure as a Bootstrap dropdown with the following differences:</p>
                  <ul>
                    <li>Use <code>data-toggle="dropdown-grid"</code> instead of <code>data-toggle="dropdown"</code>.</li>
                    <li>Immediate child of <code>div.dropdown-menu</code> may be <code>div.container</code> or <code>div.row</code>
                    </li>
                    <li>Immediate child of <code>div.dropdown-menu</code> must have attribute <code>data-dropdown-content</code>
                    </li>
                  </ul>
                  <p>In this example, the dropdown is full-width, so <code>div.dropdown-menu</code> contains a <code>div.container &gt; div.row &gt; div.col</code> structure.</p>
                  <pre><code class="language-html">&lt;div class="dropdown"&gt;
  &lt;button class="btn btn-primary dropdown-toggle" data-toggle="dropdown-grid" type="button" aria-expanded="false" aria-haspopup="true"&gt;
    &lt;span&gt;Dropdown&lt;/span&gt;
    &lt;!-- Arrow icon SVG in dropdown toggle --&gt;
    &lt;svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"&gt;&lt;path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"&gt;&lt;/path&gt;&lt;/svg&gt;
  &lt;/button&gt;
  &lt;div class="dropdown-menu bg-primary-3 text-light border-bottom"&gt;
    &lt;div class="container py-5" data-dropdown-content&gt;
      &lt;div class="row"&gt;
        &lt;div class="col"&gt;
          &lt;div class="p-3 m-1 rounded bg-primary"&gt;.col&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col"&gt;
          &lt;div class="p-3 m-1 rounded bg-primary"&gt;.col&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col"&gt;
          &lt;div class="p-3 m-1 rounded bg-primary"&gt;.col&lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="col"&gt;
          &lt;div class="p-3 m-1 rounded bg-primary"&gt;.col&lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
              </article>

              <article id="options" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Options</p>
                
                <div>
                  <p>In addition to triggering on <code>click</code>, Grid Dropdowns may also be triggered on <code>hover</code>. See below table for how to enable hover option.</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Data attribute</th>
                        <th>Default</th>
                        <th>Usage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>data-dropdown-grid-hover</code>
                        </td>
                        <td>
<code>false</code>
                        </td>
                        <td>Apply <code>data-dropdown-grid-hover="true"</code> on the page <code>&lt;body&gt;</code> to enable hover for all Grid Dropdowns on the page</td>
                      </tr>
                      <tr>
                        <td>
<code>data-hover</code>
                        </td>
                        <td>
<code>false</code>
                        </td>
                        <td>Apply <code>data-hover</code> to individual <code>[data-toggle="dropdown-grid"]</code> elements with <code>true</code> or <code>false</code> to override the page default.</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </article>

              <article id="nested-dropdowns" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Nested Dropdowns</p>
                
                <div>
                  <p>Grid Dropdowns may be nested inside Grid Dropdowns to create multi-level dropdown menus.</p>
                  <p>In this case, the class <code>row</code> is added to <code>div.dropdown-menu</code> and its immediate child is <code>div.col-auto</code>. This is necessary to display the dropdown menus at their natural width.</p>
                  <pre><code class="language-html">&lt;!-- Level 1 --&gt;
&lt;div class="dropdown"&gt;
  &lt;button class="btn btn-primary dropdown-toggle" data-toggle="dropdown-grid" type="button" aria-expanded="false" aria-haspopup="true"&gt;
    &lt;span&gt;Dropdown&lt;/span&gt;
    &lt;!-- Arrow icon SVG in dropdown toggle --&gt;
    &lt;svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"&gt;&lt;path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"&gt;&lt;/path&gt;&lt;/svg&gt;
  &lt;/button&gt;
  &lt;div class="dropdown-menu row"&gt;
    &lt;div class="col-auto" data-dropdown-content&gt;
      &lt;div class="card card-sm card-body shadow"&gt;
        &lt;h6&gt;Level 1 Heading&lt;/h6&gt;
        &lt;a href="#" class="dropdown-item"&gt;Link&lt;/a&gt;
        &lt;!-- Level 2 --&gt;
        &lt;div class="dropdown"&gt;
          &lt;a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown-grid" aria-expanded="false" aria-haspopup="true"&gt;
            &lt;span&gt;Next Level&lt;/span&gt;
            &lt;!-- Arrow icon SVG in dropdown toggle --&gt;
            &lt;svg class="icon bg-dark opacity-20" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"&gt;&lt;path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"&gt;&lt;/path&gt;&lt;/svg&gt;
          &lt;/a&gt;
          &lt;div class="dropdown-menu row"&gt;
            &lt;div class="col-auto" data-dropdown-content&gt;
              &lt;div class="card card-sm card-body shadow"&gt;
                &lt;a href="#" class="dropdown-item"&gt;Level 2 Link&lt;/a&gt;                        
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- End level 2 --&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;!-- End Level 1 --&gt;</code></pre>

                </div>
              </article>

              <article id="rich-content-dropdowns" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Rich Content Dropdowns</p>
                
                <div>
                  <p>Any content may be nested inside Grid Dropdowns allowing maximum flexibility and mobile responsiveness.</p>
                  <p>In this case, the class <code>row</code> is added to <code>div.dropdown-menu</code> and its immediate child is <code>div.col-auto</code>. This is necessary to display the dropdown menus at their natural width.</p>
                  <pre><code class="language-html">&lt;div class="dropdown"&gt;
  &lt;button class="btn btn-primary dropdown-toggle" data-toggle="dropdown-grid" type="button" aria-expanded="false" aria-haspopup="true"&gt;
    &lt;span&gt;Dropdown&lt;/span&gt;
    &lt;!-- Arrow icon SVG in dropdown toggle --&gt;
    &lt;svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"&gt;&lt;path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"&gt;&lt;/path&gt;&lt;/svg&gt;
  &lt;/button&gt;
  &lt;div class="dropdown-menu row"&gt;
    &lt;div class="col-xl-6 col-lg-7 col-md-8" data-dropdown-content&gt;
      &lt;div class="card card-body shadow p-0"&gt;
        &lt;h6 class="mb-0 dropdown-content"&gt;Product Features&lt;/h6&gt;
        &lt;hr class="m-0"&gt;
        &lt;div class="row no-gutters"&gt;
          &lt;div class="col-md"&gt;
            &lt;a href="#" class="d-flex m-3"&gt;
              &lt;!-- Timer icon SVG --&gt;
              &lt;svg class="icon icon-lg bg-primary-2" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"&gt;&lt;title&gt;Icon For Timer&lt;/title&gt;&lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;&lt;rect opacity="0" x="0" y="0" width="24" height="24"&gt;&lt;/rect&gt;&lt;path d="M12,21 C7.581722,21 4,17.418278 4,13 C4,8.581722 7.581722,5 12,5 C16.418278,5 20,8.581722 20,13 C20,17.418278 16.418278,21 12,21 Z" fill="#000000" opacity="0.3"&gt;&lt;/path&gt;&lt;path d="M13,5.06189375 C12.6724058,5.02104333 12.3386603,5 12,5 C11.6613397,5 11.3275942,5.02104333 11,5.06189375 L11,4 L10,4 C9.44771525,4 9,3.55228475 9,3 C9,2.44771525 9.44771525,2 10,2 L14,2 C14.5522847,2 15,2.44771525 15,3 C15,3.55228475 14.5522847,4 14,4 L13,4 L13,5.06189375 Z" fill="#000000"&gt;&lt;/path&gt;&lt;path d="M16.7099142,6.53272645 L17.5355339,5.70710678 C17.9260582,5.31658249 18.5592232,5.31658249 18.9497475,5.70710678 C19.3402718,6.09763107 19.3402718,6.73079605 18.9497475,7.12132034 L18.1671361,7.90393167 C17.7407802,7.38854954 17.251061,6.92750259 16.7099142,6.53272645 Z" fill="#000000"&gt;&lt;/path&gt;&lt;path d="M11.9630156,7.5 L12.0369844,7.5 C12.2982526,7.5 12.5154733,7.70115317 12.5355117,7.96165175 L12.9585886,13.4616518 C12.9797677,13.7369807 12.7737386,13.9773481 12.4984096,13.9985272 C12.4856504,13.9995087 12.4728582,14 12.4600614,14 L11.5399386,14 C11.2637963,14 11.0399386,13.7761424 11.0399386,13.5 C11.0399386,13.4872031 11.0404299,13.4744109 11.0414114,13.4616518 L11.4644883,7.96165175 C11.4845267,7.70115317 11.7017474,7.5 11.9630156,7.5 Z" fill="#000000"&gt;&lt;/path&gt;&lt;/g&gt;&lt;/svg&gt;
              &lt;div class="ml-2"&gt;
                &lt;span class="h6 mb-0"&gt;Time Tracking&lt;/span&gt;
                &lt;div class="text-small text-muted"&gt;Keep on top of things&lt;/div&gt;
              &lt;/div&gt;
            &lt;/a&gt;
            &lt;a href="#" class="d-flex m-3"&gt;
              &lt;!-- Layout icon SVG --&gt;
              &lt;svg class="icon icon-lg bg-primary-2" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"&gt;    &lt;title&gt;Icon For Layout-top-panel-2&lt;/title&gt;    &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;        &lt;rect opacity="0" x="0" y="0" width="24" height="24"&gt;&lt;/rect&gt;        &lt;path d="M3,4 L20,4 C20.5522847,4 21,4.44771525 21,5 L21,7 C21,7.55228475 20.5522847,8 20,8 L3,8 C2.44771525,8 2,7.55228475 2,7 L2,5 C2,4.44771525 2.44771525,4 3,4 Z M10,10 L20,10 C20.5522847,10 21,10.4477153 21,11 L21,19 C21,19.5522847 20.5522847,20 20,20 L10,20 C9.44771525,20 9,19.5522847 9,19 L9,11 C9,10.4477153 9.44771525,10 10,10 Z" fill="#000000"&gt;&lt;/path&gt;        &lt;rect fill="#000000" opacity="0.3" x="2" y="10" width="5" height="10" rx="1"&gt;&lt;/rect&gt;    &lt;/g&gt;&lt;/svg&gt;
              &lt;div class="ml-2"&gt;
                &lt;span class="h6 mb-0"&gt;Multiple Layouts&lt;/span&gt;
                &lt;div class="text-small text-muted"&gt;Customise interface layout&lt;/div&gt;
              &lt;/div&gt;
            &lt;/a&gt;
          &lt;/div&gt;
          &lt;div class="col-md"&gt;
            &lt;a href="#" class="d-flex m-3"&gt;
              &lt;!-- Page icon SVG --&gt;
              &lt;svg class="icon icon-lg bg-primary-2" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"&gt;    &lt;title&gt;Icon For File&lt;/title&gt;    &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;        &lt;polygon points="0 0 24 0 24 24 0 24" opacity="0"&gt;&lt;/polygon&gt;        &lt;path d="M5.85714286,2 L13.7364114,2 C14.0910962,2 14.4343066,2.12568431 14.7051108,2.35473959 L19.4686994,6.3839416 C19.8056532,6.66894833 20,7.08787823 20,7.52920201 L20,20.0833333 C20,21.8738751 19.9795521,22 18.1428571,22 L5.85714286,22 C4.02044787,22 4,21.8738751 4,20.0833333 L4,3.91666667 C4,2.12612489 4.02044787,2 5.85714286,2 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"&gt;&lt;/path&gt;        &lt;rect fill="#000000" x="6" y="11" width="9" height="2" rx="1"&gt;&lt;/rect&gt;        &lt;rect fill="#000000" x="6" y="15" width="5" height="2" rx="1"&gt;&lt;/rect&gt;    &lt;/g&gt;&lt;/svg&gt;
              &lt;div class="ml-2"&gt;
                &lt;span class="h6 mb-0"&gt;Wiki&lt;/span&gt;
                &lt;div class="text-small text-muted"&gt;Document your product&lt;/div&gt;
              &lt;/div&gt;
            &lt;/a&gt;
            &lt;a href="#" class="d-flex m-3"&gt;
              &lt;!-- Box icon SVG --&gt;
              &lt;svg class="icon icon-lg bg-primary-2" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"&gt;    &lt;title&gt;Icon For Box#2&lt;/title&gt;    &lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;        &lt;rect opacity="0" x="0" y="0" width="24" height="24"&gt;&lt;/rect&gt;        &lt;path d="M4,9.67471899 L10.880262,13.6470401 C10.9543486,13.689814 11.0320333,13.7207107 11.1111111,13.740321 L11.1111111,21.4444444 L4.49070127,17.526473 C4.18655139,17.3464765 4,17.0193034 4,16.6658832 L4,9.67471899 Z M20,9.56911707 L20,16.6658832 C20,17.0193034 19.8134486,17.3464765 19.5092987,17.526473 L12.8888889,21.4444444 L12.8888889,13.6728275 C12.9050191,13.6647696 12.9210067,13.6561758 12.9368301,13.6470401 L20,9.56911707 Z" fill="#000000"&gt;&lt;/path&gt;        &lt;path d="M4.21611835,7.74669402 C4.30015839,7.64056877 4.40623188,7.55087574 4.5299008,7.48500698 L11.5299008,3.75665466 C11.8237589,3.60013944 12.1762411,3.60013944 12.4700992,3.75665466 L19.4700992,7.48500698 C19.5654307,7.53578262 19.6503066,7.60071528 19.7226939,7.67641889 L12.0479413,12.1074394 C11.9974761,12.1365754 11.9509488,12.1699127 11.9085461,12.2067543 C11.8661433,12.1699127 11.819616,12.1365754 11.7691509,12.1074394 L4.21611835,7.74669402 Z" fill="#000000" opacity="0.3"&gt;&lt;/path&gt;    &lt;/g&gt;&lt;/svg&gt;
              &lt;div class="ml-2"&gt;
                &lt;span class="h6 mb-0"&gt;API Reference&lt;/span&gt;
                &lt;div class="text-small text-muted"&gt;Enhance your product&lt;/div&gt;
              &lt;/div&gt;
            &lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;hr class="m-0"&gt;
        &lt;div class="px-3 py-2 d-flex justify-content-between align-items-center"&gt;
          &lt;span class="text-small"&gt;Get a demo from our friendly team&lt;/span&gt;
          &lt;a href="#" class="btn btn-sm btn-outline-primary-2"&gt;Get a demo&lt;/a&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#about-the-plugin" class="nav-link text-small" data-smooth-scroll>About the Plugin</a>
                </li>

                <li class="nav-item">
                  <a href="#initializing" class="nav-link text-small" data-smooth-scroll>Initializing</a>
                </li>

                <li class="nav-item">
                  <a href="#basic-usage" class="nav-link text-small" data-smooth-scroll>Basic Usage</a>
                </li>

                <li class="nav-item">
                  <a href="#options" class="nav-link text-small" data-smooth-scroll>Options</a>
                </li>

                <li class="nav-item">
                  <a href="#nested-dropdowns" class="nav-link text-small" data-smooth-scroll>Nested Dropdowns</a>
                </li>

                <li class="nav-item">
                  <a href="#rich-content-dropdowns" class="nav-link text-small" data-smooth-scroll>Rich Content Dropdowns</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>