<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>Fancybox</h1>
                <div class="lead">
                  <p>Lightbox script for displaying images, videos and more. Touch enabled, responsive and fully customizable.</p>
                </div>
              </div>

              <article id="about-the-plugin" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>About the Plugin</p>
                
                <div class="mb-3">
<a class="btn btn-sm btn-primary mr-2" target="_blank" href="https://fancyapps.com/fancybox/3/">Website</a><a class="btn btn-sm btn-primary mr-2" target="_blank" href="https://github.com/fancyapps/fancybox">GitHub</a><a class="btn btn-sm btn-primary mr-2" target="_blank" href="https://www.npmjs.com/package/@fancyapps/fancybox">npm</a>
                </div>
                <div>

                </div>
              </article>

              <article id="initializing" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Initializing</p>
                
                <div class="alert alert-info">
                  <p>The demo pages already include the following code. These steps are only necessary if you are building a page from scratch. Remove these references if you are not using this plugin to improve page load times.</p>

                </div>
                <div>
                  <ol>
                    <li>
                      <h6>Include the library in your page</h6>
                      <ul>
                        <li>
                          <p>Copy the script tag below and paste in the foot of your page. Add this where you see the other library scripts. This line should be inserted <em>after</em>  <code>jquery.js</code> and <em>before</em>  <code>theme.js</code>.</p>
                          <pre><code class="language-html">&lt;!-- Fancybox (handles image and video lightbox and galleries) --&gt;
&lt;script type="text/javascript" src="assets/js/jquery.fancybox.min.js"&gt;&lt;/script&gt;</code></pre>
                          <p>Alternatively you may wish to load this resource from a CDN to potentially improve page load times.</p>
                          <pre><code class="language-html">&lt;!-- Fancybox (handles image and video lightbox and galleries) --&gt;
&lt;script type="text/javascript" src="https://unpkg.com/@fancyapps/fancybox@3.5.2"&gt;&lt;/script&gt;</code></pre>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h6>Load the required CSS in <code>components.scss</code>
                      </h6>
                      <ul>
                        <li>Declare the following import statement in <code>scss/custom/components.scss</code>:</li>
                      </ul>
                      <pre><code class="language-css">@import "components/optional/fancybox";</code></pre>
                    </li>
                  </ol>

                </div>
              </article>

              <article id="basic-usage" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Basic Usage</p>
                
                <div>
                  <p>The most basic way to use fancybox is by adding the <code>data-fancybox</code> attribute to your element.</p>
                  <p>This will automatically bind a <code>click</code> event handler that will start fancybox. Use <code>href</code> or <code>data-src</code> attribute to specify source of your content.</p>
                  <pre><code class="language-html">&lt;a href="image.jpg" data-fancybox data-caption="Caption for single image"&gt;
  &lt;img src="thumbnail.jpg" alt="Thumbnail Image" /&gt;
&lt;/a&gt;</code></pre>
                  <p>Consult the <a href="http://fancyapps.com/fancybox/3/docs/#usage" target="_blank">Fancybox Documentation</a> for more detail.</p>

                </div>
              </article>

              <article id="options" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Options</p>
                
                <div>
                  <p>Options can be passed into each instance as JSON data in the <code>data-options</code> attribute.</p>
                  <p>The example below sets <code>loop</code> to <code>true</code> which enables endless looping of gallery images.</p>
                  <p>Note the use of single quotes around the JSON object.</p>
                  <pre><code class="language-html">&lt;a href="image_1.jpg" data-fancybox="gallery1" data-options='{"loop":true}' data-caption="Caption #1" &gt;
  &lt;img src="thumbnail_1.jpg" alt="Image 1" /&gt;
&lt;/a&gt;</code></pre>
                  <p>Consult the <a href="http://fancyapps.com/fancybox/3/docs/#usage" target="_blank">Fancybox Documentation</a> for a full list of available options.</p>

                </div>
                <div class="alert alert-info">
                  <p><strong>NOTE:</strong> It is necessary to add the same options JSON to each item in the gallery to enable looping.</p>

                </div>
              </article>

              <article id="galleries" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Galleries</p>
                
                <div>
                  <p>Group images together in a gallery by giving each image the same string in the <code>data-fancybox</code> attribute.</p>
                  <p>This example creates two galleries <code>gallery1</code> and <code>gallery2</code> with two images in each.</p>
                  <pre><code class="language-html">&lt;a href="image_1.jpg" data-fancybox="gallery1" data-caption="Caption #1"&gt;
  &lt;img src="thumbnail_1.jpg" alt="Image 1" /&gt;
&lt;/a&gt;

&lt;a href="image_2.jpg" data-fancybox="gallery1" data-caption="Caption #2"&gt;
  &lt;img src="thumbnail_2.jpg" alt="Image 2" /&gt;
&lt;/a&gt;

&lt;a href="image_3.jpg" data-fancybox="gallery2" data-caption="Caption #3"&gt;
  &lt;img src="thumbnail_3.jpg" alt="Image 3" /&gt;
&lt;/a&gt;

&lt;a href="image_4.jpg" data-fancybox="gallery2" data-caption="Caption #4"&gt;
  &lt;img src="thumbnail_4.jpg" alt="Image 4" /&gt;
&lt;/a&gt;</code></pre>
                  <p>Consult the <a href="http://fancyapps.com/fancybox/3/docs/#usage" target="_blank">Fancybox Documentation</a> for more detail.</p>

                </div>
              </article>

              <article id="video" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Video</p>
                
                <div>
                  <p>YouTube and Vimeo videos can be used with fancybox by providing the Youtube or Vimeo URL. Link to an MP4 video directly or use trigger element to display a hidden <code>&lt;video&gt;</code> element.</p>
                  <p>Use <code>data-width</code> and <code>data-height</code> attributes to customize video dimensions and <code>data-ratio</code> for the aspect ratio.</p>
                  <pre><code class="language-html">&lt;a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk"&gt;
    YouTube video
&lt;/a&gt;

&lt;a data-fancybox href="https://vimeo.com/191947042"&gt;
    Vimeo video
&lt;/a&gt;

&lt;a data-fancybox data-width="640" data-height="360" href="video.mp4"&gt;
    Direct link to MP4 video
&lt;/a&gt;

&lt;a data-fancybox href="#myVideo"&gt;
    HTML5 video element
&lt;/a&gt;

&lt;video width="640" height="320" controls id="myVideo" style="display:none;"&gt;
    &lt;source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.mp4" type="video/mp4"&gt;
    &lt;source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.webm" type="video/webm"&gt;
    &lt;source src="https://www.html5rocks.com/en/tutorials/video/basics/Chrome_ImF.ogv" type="video/ogg"&gt;
    Your browser doesn't support HTML5 video tag.
&lt;/video&gt;</code></pre>
                  <p>Consult the <a href="http://fancyapps.com/fancybox/3/docs/#usage" target="_blank">Fancybox Documentation</a> for more detail.</p>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#about-the-plugin" class="nav-link text-small" data-smooth-scroll>About the Plugin</a>
                </li>

                <li class="nav-item">
                  <a href="#initializing" class="nav-link text-small" data-smooth-scroll>Initializing</a>
                </li>

                <li class="nav-item">
                  <a href="#basic-usage" class="nav-link text-small" data-smooth-scroll>Basic Usage</a>
                </li>

                <li class="nav-item">
                  <a href="#options" class="nav-link text-small" data-smooth-scroll>Options</a>
                </li>

                <li class="nav-item">
                  <a href="#galleries" class="nav-link text-small" data-smooth-scroll>Galleries</a>
                </li>

                <li class="nav-item">
                  <a href="#video" class="nav-link text-small" data-smooth-scroll>Video</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>