<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>Google Maps</h1>
                <div class="lead">
                  <p>Provides an easy markup-driven interface to the Google Maps API</p>
                </div>
              </div>

              <article id="about-the-plugin" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>About the Plugin</p>
                
                <div>
                  <p>We created this plugin to simplify embedding Google Maps through markup.</p>
                  <p>The required Google Maps API javascript is loaded automatically and Maps instances are initialized on page load.</p>
                  <h6>Features</h6>
                  <ul>
                    <li>Geocoded or Lat/long map center location</li>
                    <li>Multiple map markers</li>
                    <li>Geocoded or or Lat/long map marker location</li>
                    <li>Same icon for all markers or custom marker icon per marker</li>
                    <li>HTML info window per marker</li>
                    <li>Configurable zoom controls position</li>
                    <li>Set zoom level</li>
                    <li>Custom map styles</li>
                  </ul>

                </div>
              </article>

              <article id="initializing" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Initializing</p>
                
                <div class="alert alert-info">
                  <p>The demo pages already include the following code. These steps are only necessary if you are building a page from scratch. Remove these references if you are not using this plugin to improve page load times.</p>

                </div>
                <div>
                  <ol>
                    <li>
                      <p>Declare the following import statement in <code>js/mrare/index.js</code>. This ensures that the initializer code is included in the <code>theme.js</code> bundle.</p>
                      <pre><code class="language-javascript">import mrMaps from './maps';</code></pre>
                    </li>
                    <li>
                      <p>Ensure the following line appears in the <code>export</code> object:</p>
                      <pre><code class="language-javascript">export {
mrMaps,
};</code></pre>
                    </li>
                  </ol>

                </div>
              </article>

              <article id="basic-usage" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Basic Usage</p>
                
                <div>
                  <p>To set up a map, create a <code>&lt;div&gt;</code> with data attribute <code>data-maps-api-key</code>. Insert your Google maps API key as the value.</p>
                  <p>The main <code>&lt;div&gt;</code> requires a <code>min-height</code> to be set, so add a height <a href="css-utility-classes.html" target="_blank">utility class</a> like so: <code>class="min-vh-50"</code>.</p>
                  <p>For easy map positioning, provide an address for the center of the map in the <code>data-address</code> attribute on the same <code>&lt;div&gt;</code>.</p>
                  <p>Add an empty <code>&lt;div&gt;</code> with class <code>map-marker</code> to add a marker to the map. Add the <code>data-address</code> attribute and provide an address as the value.</p>
                  <p>This will create a Map, center it at the provided address and add a marker at the specified address. This is the most basic functionality and will use the default marker image at <code>assets/img/map-marker.png</code>.</p>
                  <pre><code class="language-html">&lt;div class="min-vh-50" data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn New York" data-map-zoom="14"&gt;
  &lt;div class="map-marker" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn, New York"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
                  <p>Map elements that you include in your HTML are 'digested' and transformed into Google Map instances upon page load.</p>

                </div>
              </article>

              <article id="centering-the-map" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Centering the Map</p>
                
                <div>
                  <p>The center of the map is set by either <code>data-address</code> or <code>data-latlong</code> attribute on the main map <code>&lt;div&gt;</code>.</p>
                  <p>Only choose <strong>one</strong> of the following options for each map.</p>
                  <h5>Using an address</h5>
                  <p>Add <code>data-address</code> to the map's containing <code>&lt;div&gt;</code> and specify your desired center address in a format that is readable by Google Maps. Provide as much detail as possible for the Geocoder to pinpoint the address.
                    Try the address in the Google Maps app on your PC or mobile device. If the Google Maps app finds the address accurately, you can safely use the same address string in your <code>data-address</code> attribute.</p>
                  <p>Using <code>data-address</code> will incur API fees as each individual call to the Google Maps Geocoder is itemised on your bill.</p>
                  <pre><code class="language-html">&lt;div class="min-vh-50" data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn New York"&gt;&lt;/div&gt;</code></pre>
                  <h5>Using latitude / longitude</h5>
                  <p>Add <code>data-latlong</code> to the map's containing <code>&lt;div&gt;</code> and specify the latitude and longitude of the desired location in comma-separated format.</p>
                  <p>You can find the latitude / longitude of an address by using a service such as <a href="https://www.latlong.net" target="_blank">LatLong.net</a>.</p>
                  <pre><code class="language-html">&lt;div class="min-vh-50" data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-latlong="40.667412,-73.947960"&gt;&lt;/div&gt;</code></pre>

                </div>
              </article>

              <article id="setting-zoom" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Setting Zoom</p>
                
                <div>
                  <p>The default zoom level for the map is <code>17</code>. To set the map's zoom level, add <code>data-zoom</code> to the map's containing <code>&lt;div&gt;</code> with a number as the value.</p>
                  <p>The number you provide must be between <code>1</code> and <code>20</code>.</p>
                  <p>As stated in the <a href="https://developers.google.com/maps/documentation/javascript/tutorial#zoom-levels" target="_blank">Google Maps JS API Documentation</a>:</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Zoom Level</th>
                        <th>What you will see</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>1</code>
                        </td>
                        <td>World</td>
                      </tr>
                      <tr>
                        <td>
<code>5</code>
                        </td>
                        <td>Landmass/continent</td>
                      </tr>
                      <tr>
                        <td>
<code>10</code>
                        </td>
                        <td>City</td>
                      </tr>
                      <tr>
                        <td>
<code>15</code>
                        </td>
                        <td>Streets</td>
                      </tr>
                      <tr>
                        <td>
<code>20</code>
                        </td>
                        <td>Buildings</td>
                      </tr>
                    </tbody>
                  </table>
                  <p>This example shows setting the zoom level to <code>20</code>:</p>
                  <pre><code class="language-html">&lt;div class="min-vh-50"
     data-map-zoom="20"
     data-zoom-controls="BOTTOM_RIGHT" 
     data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" 
     data-address="389 Greenpoint Ave, Crown Heights, Brooklyn New York"&gt;
&lt;/div&gt;</code></pre>

                </div>
              </article>

              <article id="zoom-controls" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Zoom Controls</p>
                
                <div>
                  <p>By default, the map's zoom controls are hidden. To show the zoom controls on the map, add <code>data-zoom-controls</code> attribute to the containing map <code>&lt;div&gt;</code> and provide a position string as the value.</p>
                  <p>Supported strings:</p>
                  <table>
                    <thead>
                      <tr>
                        <th>String</th>
                        <th>Positioning</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>BOTTOM_CENTER</code>
                        </td>
                        <td>Elements are positioned in the center of the bottom row.</td>
                      </tr>
                      <tr>
                        <td>
<code>BOTTOM_LEFT</code>
                        </td>
                        <td>Elements are positioned in the bottom left and flow towards the middle. Elements are positioned to the right of the Google logo.</td>
                      </tr>
                      <tr>
                        <td>
<code>BOTTOM_RIGHT</code>
                        </td>
                        <td>Elements are positioned in the bottom right and flow towards the middle. Elements are positioned to the left of the copyrights.</td>
                      </tr>
                      <tr>
                        <td>
<code>LEFT_BOTTOM</code>
                        </td>
                        <td>Elements are positioned on the left, above bottom-left elements, and flow upwards.</td>
                      </tr>
                      <tr>
                        <td>
<code>LEFT_CENTER</code>
                        </td>
                        <td>Elements are positioned in the center of the left side.</td>
                      </tr>
                      <tr>
                        <td>
<code>LEFT_TOP</code>
                        </td>
                        <td>Elements are positioned on the left, below top-left elements, and flow downwards.</td>
                      </tr>
                      <tr>
                        <td>
<code>RIGHT_BOTTOM</code>
                        </td>
                        <td>Elements are positioned on the right, above bottom-right elements, and flow upwards.</td>
                      </tr>
                      <tr>
                        <td>
<code>RIGHT_CENTER</code>
                        </td>
                        <td>Elements are positioned in the center of the right side.</td>
                      </tr>
                      <tr>
                        <td>
<code>RIGHT_TOP</code>
                        </td>
                        <td>Elements are positioned on the right, below top-right elements, and flow downwards.</td>
                      </tr>
                      <tr>
                        <td>
<code>TOP_CENTER</code>
                        </td>
                        <td>Elements are positioned in the center of the top row.</td>
                      </tr>
                      <tr>
                        <td>
<code>TOP_LEFT</code>
                        </td>
                        <td>Elements are positioned in the top left and flow towards the middle.</td>
                      </tr>
                      <tr>
                        <td>
<code>TOP_RIGHT</code>
                        </td>
                        <td>Elements are positioned in the top right and flow towards the middle.</td>
                      </tr>
                    </tbody>
                  </table>
                  <p>The following diagram places the string initials visually:</p>
                  <pre><code class="language-text">  +----------------+ 
  + TL    TC    TR + 
  + LT          RT + 
  +                + 
  + LC          RC + 
  +                + 
  + LB          RB + 
  + BL    BC    BR + 
  +----------------+ </code></pre>
                  <p>For example, to make the zoom controls appear in the bottom, right corner of the map, use the following:</p>
                  <pre><code class="language-html">&lt;div class="min-vh-50" data-zoom-controls="BOTTOM_RIGHT" data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn New York" data-map-zoom="14"&gt;&lt;/div&gt;</code></pre>
                  <p>More detail on other positioning strings can be found at the <a href="https://developers.google.com/maps/documentation/javascript/controls#ControlPositioning" target="_blank">Google Maps JS API Documentation</a>.</p>

                </div>
              </article>

              <article id="markers" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Markers</p>
                
                <div>
                  <p>You may add many markers to your map. Each marker is represented by a <code>div.map-marker</code> element as a direct child of the map.</p>
                  <ul>
                    <li>Markers can be positioned using either <code>data-address</code> or <code>data-latlong</code>.</li>
                    <li>Each marker may use its own image specified by the <code>data-marker-image</code> attribute.</li>
                    <li>Markers contain Info Windows (see Info Windows section below).</li>
                  </ul>
                  <h5>Multiple Markers</h5>
                  <p>In this example, each marker is positioned using an address, and the marker image will default to the asset located at <code>assets/img/map-marker.png</code>.</p>
                  <pre><code class="language-html">&lt;div data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn New York" data-map-zoom="14"&gt;
  &lt;div class="map-marker" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn, New York"&gt;&lt;/div&gt;
  &lt;div class="map-marker" data-address="2213 Montgomery Street, San Francisco, California"&gt;&lt;/div&gt;
  &lt;div class="map-marker" data-address="4928 Lincoln Boulevard, Santa Monica, Los Angeles, California"&gt;&lt;/div&gt;
&lt;/div&gt;</code></pre>
                  <h5>Positioning Markers</h5>
                  <ul>
                    <li>
                      <h6>Using an address</h6>
                      <p>Add <code>data-address</code> to the marker's <code>&lt;div&gt;</code> and specify your desired marker address in a format that is readable by Google Maps. Provide as much detail as possible for the Geocoder to pinpoint the address.
                        Try the address in the Google Maps app on your PC or mobile device. If the Google Maps app finds the address accurately, you can safely use the same address string in your <code>data-address</code> attribute.</p>
                      <pre><code class="language-html">&lt;div class="map-marker" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn, New York"&gt;&lt;/div&gt;</code></pre>
                    </li>
                    <li>
                      <h6>Using latitude / longitude</h6>
                      <p>Add <code>data-latlong</code> to the marker's <code>&lt;div&gt;</code> and specify the latitude and longitude of the desired location in comma-separated format.</p>
                      <p>You can find the latitude / longitude of an address by using a service such as <a href="https://www.latlong.net" target="_blank">LatLong.net</a>.</p>
                      <pre><code class="language-html">&lt;div class="map-marker" data-latlong="40.667412,-73.947960"&gt;&lt;/div&gt;</code></pre>
                      <p>Each marker that uses <code>data-address</code> will incur API fees as each individual call to the Google Maps Geocoder is itemised on your bill. Markers using <code>data-latlong</code> are not charged.</p>
                    </li>
                  </ul>
                  <h5>Setting Marker Title</h5>
                  <p>The marker title is a small popover that appears when the user hovers on the marker. Set the marker title text by adding <code>data-marker-title</code> attribute and setting your text as the value:</p>
                  <pre><code class="language-html">  &lt;div class="map-marker" data-title="Brooklyn Branch" data-latlong="40.667412,-73.947960"&gt;&lt;/div&gt;</code></pre>
                  <h5>Setting Marker Image</h5>
                  <ul>
                    <li>
                      <p>Setting <code>data-marker-image</code> on the map's containing <code>&lt;div&gt;</code> will set the default for all markers in the map to the same image.</p>
                    </li>
                    <li>
                      <p>Setting <code>data-marker-image</code> on the <code>div.map-marker</code> overrides the default set on the map <code>&lt;div&gt;</code> for that single map marker.</p>
                    </li>
                  </ul>
                  <p>If <code>data-marker-image</code> is not specified on either the marker <code>div.map-marker</code> or the main map <code>&lt;div&gt;</code>, the default <code>assets/img/map-marker.png</code> will be used for all markers on the map.</p>

                </div>
              </article>

              <article id="info-windows" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Info Windows</p>
                
                <div>
                  <p>An info window displays content (usually text or images) in a popup window above the map, at a given location. The info window has a content area and a tapered stem.</p>
                  <p>The tip of the stem is attached to a specified location on the map. The info window will always point to a map marker.</p>
                  <p>You may use any markup inside the <strong>info window</strong> to display information about the marker's location.</p>
                  <p>Bootstrap markup is also allowed in Info Windows.</p>
                  <p>This example includes an <strong>info window</strong> on the <strong>map marker</strong>.</p>
                  <pre><code class="language-html">&lt;div data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn New York" data-map-zoom="14"&gt;
  &lt;div class="map-marker" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn, New York"&gt;
    &lt;div class="info-window" data-max-width="400"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row"&gt;
          &lt;div class="col-12"&gt;
            &lt;h5&gt;Info windows are great!&lt;/h5&gt;
          &lt;/div&gt;
          &lt;div class="col-4"&gt;
            &lt;img alt="Logo" class="w-100" src="template-assets/img/logo.svg"&gt;
          &lt;/div&gt;
          &lt;div class="col-8 pb-2"&gt;
            &lt;p&gt;
              We've made info windows easy, so you can use any HTML in this info window on your map.
            &lt;/p&gt;
            &lt;h6 class="mb-0"&gt;Address&lt;/h6&gt;
            &lt;address&gt;
              389 Greenpoint Ave Crown Heights, Brooklyn New York
            &lt;/address&gt;
            &lt;a target="_blank" href="#purchase"&gt;... More Info&lt;/a&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  <h5>Options</h5>
                  <p>The following options may be applied to a <code>div.info-window</code> as data attributes:</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Data attribute</th>
                        <th>Default</th>
                        <th>Usage</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>data-max-width</code>
                        </td>
                        <td>
<code>250</code>
                        </td>
                        <td>Sets the width of the info window (in pixels) within the map container.</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </article>

              <article id="map-style" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Map Style</p>
                
                <div>
                  <p>The map may be styled using a JSON array of objects recognised by Google Maps. You can create styles and download pre-made styles using an online service such as <a href="https://snazzymaps.com" target="_blank">Snazzy Maps</a>
                  </p>
                  <p>To set the style of your map there are two options:</p>
                  <ul>
                    <li>Embed the style JSON in your HTML (styles on a per-map basis).</li>
                    <li>Provide the style in Javascript by editing <code>js/mrare/maps-style.js</code> (provides a default style for all maps).</li>
                  </ul>
                  <p>Both methods accept the same JSON formatted array structure. See below for detailed instructions on each method.</p>

                </div>
              </article>

              <article id="map-style-in-html" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Map Style in HTML</p>
                
                <div>
                  <p>The script will look for a <code>&lt;div&gt;</code> with class <code>map-style</code> nested as a direct child of the main map <code>&lt;div&gt;</code>.</p>
                  <p>The text content of the div is expected to be properly formatted JSON and is parsed on page load.</p>
                  <p>This example uses the <a href="https://snazzymaps.com/style/134/light-dream" target="_blank">Light Dream</a> preset found on Snazzy Maps. The text was copied directly from the code box on Snazzy Maps and pasted as the only text inside
                    the <code>div.map-style</code>. If the text is valid JSON, the style will work as expected.</p>
                  <pre><code class="language-html">&lt;div data-maps-api-key="INSERT_YOUR_GOOGLE_MAPS_API_KEY_HERE" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn New York" data-map-zoom="14"&gt;
  &lt;div class="map-marker" data-address="389 Greenpoint Ave, Crown Heights, Brooklyn, New York"&gt;
  &lt;/div&gt;
  &lt;div class="map-style"&gt;
    [
        {
            "featureType": "landscape",
            "stylers": [
                {
                    "hue": "#FFBB00"
                },
                {
                    "saturation": 43.400000000000006
                },
                {
                    "lightness": 37.599999999999994
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "road.highway",
            "stylers": [
                {
                    "hue": "#FFC200"
                },
                {
                    "saturation": -61.8
                },
                {
                    "lightness": 45.599999999999994
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "stylers": [
                {
                    "hue": "#FF0300"
                },
                {
                    "saturation": -100
                },
                {
                    "lightness": 51.19999999999999
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "road.local",
            "stylers": [
                {
                    "hue": "#FF0300"
                },
                {
                    "saturation": -100
                },
                {
                    "lightness": 52
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "water",
            "stylers": [
                {
                    "hue": "#0078FF"
                },
                {
                    "saturation": -13.200000000000003
                },
                {
                    "lightness": 2.4000000000000057
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "poi",
            "stylers": [
                {
                    "hue": "#00FF6A"
                },
                {
                    "saturation": -1.0989010989011234
                },
                {
                    "lightness": 11.200000000000017
                },
                {
                    "gamma": 1
                }
            ]
        }
    ]
  &lt;/div&gt;
&lt;/div&gt;</code></pre>

                </div>
              </article>

              <article id="map-style-in-javascript" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Map Style in Javascript</p>
                
                <div>
                  <p>If you prefer to keep the style out of your HTML and leave it in javascript, copy the JSON formatted array to the <code>js/mrare/maps-style.js</code> file.</p>
                  <p>This example uses the <a href="https://snazzymaps.com/style/134/light-dream" target="_blank">Light Dream</a> preset found on Snazzy Maps.</p>
                  <p>The javascript in <code>maps-style.js</code> must declare a variable <code>mrMapStyle</code>, assign it an array and export it.</p>
                  <p>This example shows a properly formatted style array in <code>maps-style.js</code>. Note that the array can be pasted straight in from Snazzy Maps, even though the Snazzy maps array is JSON.</p>
                  <pre><code class="language-javascript">const mrMapStyle = [
        {
            "featureType": "landscape",
            "stylers": [
                {
                    "hue": "#FFBB00"
                },
                {
                    "saturation": 43.400000000000006
                },
                {
                    "lightness": 37.599999999999994
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "road.highway",
            "stylers": [
                {
                    "hue": "#FFC200"
                },
                {
                    "saturation": -61.8
                },
                {
                    "lightness": 45.599999999999994
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "road.arterial",
            "stylers": [
                {
                    "hue": "#FF0300"
                },
                {
                    "saturation": -100
                },
                {
                    "lightness": 51.19999999999999
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "road.local",
            "stylers": [
                {
                    "hue": "#FF0300"
                },
                {
                    "saturation": -100
                },
                {
                    "lightness": 52
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "water",
            "stylers": [
                {
                    "hue": "#0078FF"
                },
                {
                    "saturation": -13.200000000000003
                },
                {
                    "lightness": 2.4000000000000057
                },
                {
                    "gamma": 1
                }
            ]
        },
        {
            "featureType": "poi",
            "stylers": [
                {
                    "hue": "#00FF6A"
                },
                {
                    "saturation": -1.0989010989011234
                },
                {
                    "lightness": 11.200000000000017
                },
                {
                    "gamma": 1
                }
            ]
        }
    ];

export default mrMapStyle;
</code></pre>

                </div>
              </article>

              <article id="events" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Events</p>
                
                <div>
                  <p>When the map has been initialized, it can then be manipulated through the Google Maps API.</p>
                  <p>The maps script emits an event <code>loaded.mr.maps</code>.</p>
                  <p>You can access map instances by listening for the <code>loaded.mr.maps</code> event which will fire when the map has been centred at the specified location. The Google Map instance is passed in to the event as <code>map</code>.</p>
                  <p>The below example runs the same code on all maps on the page. It will then programatically set the map center over Canada and change the zoom level to 3.</p>
                  <pre><code class="language-javascript">$(document).on('loaded.mr.maps', function(evt){
  evt.map.setCenter(new google.maps.LatLng(62.2270,105.3809));
  evt.map.setZoom(3);
});</code></pre>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#about-the-plugin" class="nav-link text-small" data-smooth-scroll>About the Plugin</a>
                </li>

                <li class="nav-item">
                  <a href="#initializing" class="nav-link text-small" data-smooth-scroll>Initializing</a>
                </li>

                <li class="nav-item">
                  <a href="#basic-usage" class="nav-link text-small" data-smooth-scroll>Basic Usage</a>
                </li>

                <li class="nav-item">
                  <a href="#centering-the-map" class="nav-link text-small" data-smooth-scroll>Centering the Map</a>
                </li>

                <li class="nav-item">
                  <a href="#setting-zoom" class="nav-link text-small" data-smooth-scroll>Setting Zoom</a>
                </li>

                <li class="nav-item">
                  <a href="#zoom-controls" class="nav-link text-small" data-smooth-scroll>Zoom Controls</a>
                </li>

                <li class="nav-item">
                  <a href="#markers" class="nav-link text-small" data-smooth-scroll>Markers</a>
                </li>

                <li class="nav-item">
                  <a href="#info-windows" class="nav-link text-small" data-smooth-scroll>Info Windows</a>
                </li>

                <li class="nav-item">
                  <a href="#map-style" class="nav-link text-small" data-smooth-scroll>Map Style</a>
                </li>

                <li class="nav-item">
                  <a href="#map-style-in-html" class="nav-link text-small" data-smooth-scroll>Map Style in HTML</a>
                </li>

                <li class="nav-item">
                  <a href="#map-style-in-javascript" class="nav-link text-small" data-smooth-scroll>Map Style in Javascript</a>
                </li>

                <li class="nav-item">
                  <a href="#events" class="nav-link text-small" data-smooth-scroll>Events</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>