<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>Google reCAPTCHA v2</h1>
                <div class="lead">
                  <p>Provides an easy-to-use anti-spam measure for forms. Supports <strong>I am not a Robot</strong> checkbox and <strong>Invisible reRECAPTCHA</strong>.</p>
                </div>
              </div>

              <article id="resources" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>About the Plugin</p>
                
                <div class="mb-3">
<a class="btn btn-sm btn-primary mr-2" target="_blank" href="https://developers.google.com/recaptcha/">Website</a><a class="btn btn-sm btn-primary mr-2" target="_blank" href="https://www.google.com/recaptcha/admin/site">Admin panel</a>
                </div>
                <div>
                  <p>Our reCAPTCHA module provides an easy-to-use interface to the Google reCAPTCHA v2 API.</p>
                  <p>Requires a Google account and reCAPTCHA API keys.</p>

                </div>
              </article>

              <article id="initializing" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Initializing</p>
                
                <div>
                  <p>The required scripts are included automatically by the <code>form-email</code> module. This will handle reCAPTCHA functionality for any type of form that is submitted through our <a href="php-swiftmailer.html" target="_blank">SMTP</a> and
                    <a href="php-mailchimp.html" target="_blank">mailchimp</a> <strong>form handlers</strong>.</p>
                  <p>Each reCAPTCHA <code>&lt;div&gt;</code> is converted to a reCAPTCHA widget upon page load.</p>
                  <p>The following line must be declared in <code>scss/custom/components.scss</code>:</p>
                  <pre><code class="language-scss">@import "components/optional/forms";</code></pre>
                  <p>This style component hides the <strong>invisible reCAPTCHA</strong> badge and makes other adjustments to spacing for reCAPTCHA widgets.</p>

                </div>
              </article>

              <article id="obtain-site-keys" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Obtain Site Key and Secret Key</p>
                
                <div>
                  <p>Before you start, <a href="http://www.google.com/recaptcha/admin" target="_blank">sign up for an API key pair</a> for your site.</p>
                  <p>The key pair consists of a <strong>site key</strong> and <strong>secret key</strong>. The site key is used in the <code>&lt;form&gt;</code> HTML on your pages. The secret key authorizes communication between our form handlers and the reCAPTCHA
                    server to verify the user's response. The secret key needs to be kept safe for security purposes.</p>

                </div>
              </article>

              <article id="basic-usage" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Basic Usage</p>
                
                <div>
                  <p>Add an empty <code>&lt;div&gt;</code> to your form where you would like the reCAPTCHA widget to appear. The <code>&lt;div&gt;</code> will be populated with the widget upon page load.</p>
                  <p>The widget will populate with the familiar "I am not a robot" mechanism.</p>
                  <ul>
                    <li>The div must have <code>data-recaptcha</code> attribute.</li>
                    <li>The div must have <code>data-sitekey</code> with your reCAPTCHA site key as its value.</li>
                    <li>Only one <code>[data-recaptcha]</code> may be initialized per form.</li>
                  </ul>
                  <p>Obtain your <code>site key</code> from the Google reCAPTCHA admin panel where your keys are managed.</p>
                  <pre><code class="language-html">&lt;form action="/forms/mailchimp.php" data-form-email novalidate&gt;
  &lt;div class="form-row"&gt;
    &lt;div class="col-12"&gt;
      &lt;input type="email" class="form-control mb-2" placeholder="Email Address" name="email" required&gt;
    &lt;/div&gt;
    &lt;div class="col-12"&gt;
      &lt;div data-recaptcha data-sitekey="ENTER-YOUR-RECAPTCHA-SITE-KEY-HERE"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class="col-12"&gt;
      &lt;div class="d-none alert alert-success" role="alert" data-success-message&gt;
        Thanks, a member of our team will be in touch shortly.
      &lt;/div&gt;
      &lt;div class="d-none alert alert-danger" role="alert" data-error-message&gt;
        Please fill all fields correctly.
      &lt;/div&gt;
      &lt;button type="submit" class="btn btn-primary btn-loading btn-block" data-loading-text="Sending"&gt;
        &lt;!-- Icon for loading animation --&gt;
        &lt;svg class="icon" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"&gt;&lt;title&gt;Icon For Loading&lt;/title&gt;&lt;g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"&gt;&lt;g&gt;&lt;polygon points="0 0 24 0 24 24 0 24" opacity="0"&gt;&lt;/polygon&gt;&lt;/g&gt;&lt;path d="M12,4 L12,6 C8.6862915,6 6,8.6862915 6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,10.9603196 17.7360885,9.96126435 17.2402578,9.07513926 L18.9856052,8.09853149 C19.6473536,9.28117708 20,10.6161442 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 C4,7.581722 7.581722,4 12,4 Z" fill="#000000" fill-rule="nonzero" transform="translate(12.000000, 12.000000) scale(-1, 1) translate(-12.000000, -12.000000) "&gt;&lt;/path&gt;&lt;/g&gt;&lt;/svg&gt;
        &lt;span&gt;Subscribe&lt;/span&gt;
      &lt;/button&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/form&gt;</code></pre>

                </div>
              </article>

              <article id="options" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Options</p>
                
                <div>
                  <p>Options are provided to the reCAPTCHA API via data attributes on the <code>div[data-recaptcha]</code>.</p>
                  <p>Below are the options for the <strong>Checkbox</strong> widget.</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Data attribute</th>
                        <th>Default</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>data-sitekey</code>
                        </td>
                        <td></td>
                        <td>Required. Place the site key obtained from your Google reCAPTCHA admin panel here.</td>
                      </tr>
                      <tr>
                        <td>
<code>data-theme</code>
                        </td>
                        <td>
<code>light</code>
                        </td>
                        <td>Accepts <code>"light"</code> or <code>"dark"</code>. Changes background shade of the widget.</td>
                      </tr>
                      <tr>
                        <td>
<code>data-size</code>
                        </td>
                        <td>
<code>normal</code>
                        </td>
                        <td>Accepts <code>"compact"</code> or <code>"normal"</code> for checkbox widget. Use <code>"invisible"</code> to create an invisible reCAPTCHA instance (see below).</td>
                      </tr>
                      <tr>
                        <td>
<code>data-tabindex</code>
                        </td>
                        <td>
<code>0</code>
                        </td>
                        <td>Optional. The tabindex of the widget. If other elements in your page use tabindex, it should be set to make user navigation easier.</td>
                      </tr>
                    </tbody>
                  </table>
                  <p>Below are the options for <strong>Invisible Recaptcha</strong>.</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Data attribute</th>
                        <th>Default</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>data-sitekey</code>
                        </td>
                        <td></td>
                        <td>Required. Place the site key obtained from your Google reCAPTCHA admin panel here.</td>
                      </tr>
                      <tr>
                        <td>
<code>data-size</code>
                        </td>
                        <td></td>
                        <td>Must be <code>"invisible"</code> for an invisible reCAPTCHA instance.</td>
                      </tr>
                      <tr>
                        <td>
<code>data-badge</code>
                        </td>
                        <td>
<code>bottomright</code>
                        </td>
                        <td>Accepts <code>"bottomright"</code>, <code>"bottomleft"</code>, <code>"inline"</code>. <code>inline</code> lets you position the badge using CSS.</td>
                      </tr>
                      <tr>
                        <td>
<code>data-tabindex</code>
                        </td>
                        <td>
<code>0</code>
                        </td>
                        <td>Optional. The tabindex of the widget. If other elements in your page use tabindex, it should be set to make user navigation easier.</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </article>

              <article id="invisible-recaptcha" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Invisible reCAPTCHA</p>
                
                <div>
                  <p>By default. invisible reCAPTCHA replaces the standard <strong>Checkbox widget</strong> with a small badge that floats at the edge of the window. The theme script will hide the badge to avoid interference on the page. This is to provide
                    a frictionless experience and avoids cluttering the form with a widget.</p>
                  <p>When the user submits the form, they are presented with a challenge. Upon completing the challenge, the form is submitted.</p>

                </div>
                <div class="alert alert-info">
                  <p>When using Invisible reCAPTCHA You must provide a statement on your page notifying the user that the page uses Google reCAPTCHA. You must also provide a link to the Google <a href="https://www.google.com/policies/privacy/" target="_blank">Privacy Policy</a> and
                    <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a>.</p>

                </div>
              </article>

              <article id="server-side-verification" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Server-side Verification</p>
                
                <div>
                  <p>The reCAPTCHA response from the user must also be verified on the server at form submission time. This functionality is handled in our supplied <a href="php-swiftmailer.html" target="_blank">SMTP</a> and <a href="php-mailchimp.html" target="_blank">MailChimp</a> form
                    handlers.</p>
                  <p>Simply copy your reCAPTCHA secret key into the provided form handler configuration to enable server-side verification.</p>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#resources" class="nav-link text-small" data-smooth-scroll>Resources</a>
                </li>

                <li class="nav-item">
                  <a href="#initializing" class="nav-link text-small" data-smooth-scroll>Initializing</a>
                </li>

                <li class="nav-item">
                  <a href="#obtain-site-keys" class="nav-link text-small" data-smooth-scroll>Obtain site keys</a>
                </li>

                <li class="nav-item">
                  <a href="#basic-usage" class="nav-link text-small" data-smooth-scroll>Basic Usage</a>
                </li>

                <li class="nav-item">
                  <a href="#options" class="nav-link text-small" data-smooth-scroll>Options</a>
                </li>

                <li class="nav-item">
                  <a href="#invisible-recaptcha" class="nav-link text-small" data-smooth-scroll>Invisible reCAPTCHA</a>
                </li>

                <li class="nav-item">
                  <a href="#server-side-verification" class="nav-link text-small" data-smooth-scroll>Server-side Verification</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>