<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>Twitter Feeds</h1>
                <div class="lead">
                  <p>Pull in the latest tweets from any Twitter account and display them in your page, and optionally in a slider.</p>
                </div>
              </div>

              <article id="about-the-plugin" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>About the Plugin</p>
                
                <div class="mb-3">
<a class="btn btn-sm btn-primary mr-2" target="_blank" href="https://github.com/jasonmayes/Twitter-Post-Fetcher">GitHub</a><a class="btn btn-sm btn-primary mr-2" target="_blank" href="https://www.npmjs.com/package/twitter-fetcher">npm</a>
                </div>
                <div>
                  <p>Twitter Fetcher pulls in a feed of tweets and parses them for ease of use. Our wrapper function makes it easy to populate an element with tweets using data attributes.</p>

                </div>
              </article>

              <article id="initializing" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Initializing</p>
                
                <div class="alert alert-info">
                  <p>The demo pages already include the following code. These steps are only necessary if you are building a page from scratch. Remove these references if you are not using this plugin to improve page load times.</p>

                </div>
                <div>
                  <ol>
                    <li>
                      <h6>Include the library in your page</h6>
                      <ul>
                        <li>
                          <p>Copy the script tag below and paste in the foot of your page. Add this where you see the other library scripts. This line should be inserted <em>after</em>  <code>jquery.js</code> and <em>before</em>  <code>theme.js</code>.</p>
                          <p>Optionally, include the Flickity or Isotope plugin if you are displaying tweets in a slider or masonry layout, these are not required otherwise.</p>
                          <pre><code class="language-html">&lt;!-- TwitterFetcher (displays a feed of tweets from a specified account)--&gt;
&lt;script type="text/javascript" src="assets/js/twitterFetcher_min.js"&gt;&lt;/script&gt;

&lt;!-- OPTIONAL Isotope if arranging tweets in masonry layout --&gt;
&lt;script type="text/javascript" src="assets/js/isotope.pkgd.min.js"&gt;&lt;/script&gt;

&lt;!-- OPTIONAL Flickity if arranging tweets in a slider --&gt;
&lt;script type="text/javascript" src="assets/js/flickity.pkgd.js"&gt;&lt;/script&gt;</code></pre>
                          <p>Alternatively you may wish to load these resources from a CDN to potentially improve page load times.</p>
                          <pre><code class="language-html">&lt;!-- TwitterFetcher (displays a feed of tweets from a specified account)--&gt;
&lt;script type="text/javascript" src="https://unpkg.com/twitter-fetcher@~18.0.2"&gt;&lt;/script&gt;

&lt;!-- OPTIONAL Isotope (masonry layouts and filtering) --&gt;
&lt;script type="text/javascript" src="https://unpkg.com/isotope-layout@~3.0.6"&gt;&lt;/script&gt;

&lt;!-- OPTIONAL Flickity if arranging tweets in a slider --&gt;
&lt;script type="text/javascript" src="https://unpkg.com/flickity@~2.2.0"&gt;&lt;/script&gt;
</code></pre>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <h6>Load the initializer code in <code>index.js</code>
                      </h6>
                      <ul>
                        <li>Declare the following import statement in <code>js/mrare/index.js</code>. This ensures that the initializer code is included in the <code>theme.js</code> bundle.<pre><code class="language-javascript">import mrTwitterFetcher from './twitter-fetcher';
</code></pre>
                        </li>
                      </ul>
                      <p>// OPTIONAL (if using slider or masonry layout for twitter feed) import './flickity'; import mrIsotope from './isotope';</p>
                      <pre><code>
* Ensure the following line appears in the `export` object:
```javascript
export {
 mrTwitterFetcher,
};</code></pre>
                    </li>
                  </ol>

                </div>
              </article>

              <article id="basic-usage" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Basic Usage</p>
                
                <div>
                  <p>Create an empty <code>&lt;div&gt;</code> to house the tweets. Add <code>data-twitter-fetcher</code> and <code>data-username</code> attributes. This will be populated on page load.</p>
                  <p>The first child of the <code>[data-twitter-fetcher]</code> element is used as the tweet template.</p>
                  <p>Create a child element which will serve as the tweet template. Each tweet will be structured using the format of this template.</p>
                  <pre><code class="language-html">&lt;div data-twitter-fetcher data-username="mrareweb"&gt;
  &lt;div&gt;
    &lt;p class="tweet"&gt;&lt;/p&gt;
  &lt;/div&gt;  
&lt;/div&gt;</code></pre>

                </div>
              </article>

              <article id="options" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Options</p>
                
                <div>
                  <p>The following options are permissible on the <code>[data-twitter-fetcher]</code> element.</p>
                  <h5>Options</h5>
                  <table>
                    <thead>
                      <tr>
                        <th>Data attribute</th>
                        <th>Default</th>
                        <th>Type</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>data-username</code>
                        </td>
                        <td>
<code>twitter</code>
                        </td>
                        <td>string</td>
                        <td>Username of the account you want to show tweets from.</td>
                      </tr>
                      <tr>
                        <td>
<code>data-max-tweets</code>
                        </td>
                        <td>
<code>6</code>
                        </td>
                        <td>number</td>
                        <td>Limit the number of tweets displayed. Always uses latest tweets.</td>
                      </tr>
                      <tr>
                        <td>
<code>data-twitter-flickity</code>
                        </td>
                        <td>
<code>null</code>
                        </td>
                        <td>JSON</td>
                        <td>Provide a JSON formatted Flickity options object to initialise the tweets in a slider. See <a href="#flickity-slider-integration">below for details</a>.</td>
                      </tr>
                      <tr>
                        <td>
<code>data-twitter-isotope</code>
                        </td>
                        <td>
<code>false</code>
                        </td>
                        <td>boolean</td>
                        <td>Set <code>"true"</code> for tweets to be initialized in <a href="js-isotope.html" target="_blank">Isotope masonry layout</a>. See <a href="#isotope-integration">below for details</a>. Requires parent to be class <code>row</code> and
                          tweet template to have a column class and <code>data-isotope-item</code> attribute.</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </article>

              <article id="tweet-template" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Tweet Template</p>
                
                <div>
                  <p>The first child of the <code>data-twitter-fetcher</code> element is treated as the template for each tweet. Only write the template once, and Twitter Fetcher will replace the template with a populated copy for each tweet.</p>
                  <p>The following parts can be shown in each tweet:</p>
                  <ul>
                    <li>
<strong>Tweet</strong>. To display the tweet text including links, provide an element with class <code>tweet</code> in the tweet template.</li>
                    <li>
<strong>User Avatar</strong>. To display the user avatar as a link, provide an element with class <code>user</code> in the tweet template.</li>
                    <li>
<strong>Time Posted</strong>. To display the time posted, provide an element with class <code>timePosted</code> in the tweet template.</li>
                    <li>
<strong>Interact links</strong>. (Reply, Retweet, Favourite). To display links for user interaction, provide an element with class <code>interact</code>.</li>
                  </ul>
                  <p>A basic example twitter feed limited to 1 tweet:</p>
                  <ul>
                    <li>
                      <p>HTML</p>
                      <pre><code class="language-html">&lt;div data-twitter-fetcher data-username="mrareweb" data-max-tweets="1"&gt;
  &lt;!-- The following &lt;div&gt; is the "tweet template".  Write it once only. and it will be repeated for each tweet shown in the feed. --&gt;
  &lt;div&gt;
    &lt;h5 class="tweet"&gt;&lt;/h5&gt;
    &lt;p class="interact"&gt;&lt;/p&gt;
    &lt;p class="user"&gt;&lt;/p&gt;
    &lt;p class="timePosted"&gt;&lt;/p&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                    </li>
                    <li>
                      <p>Result</p>
                      <h5>Here is a tweet from Medium Rare!</h5>
                      <p><a href="#tweet-template">Reply</a>  <a href="#tweet-template">Retweet</a>  <a href="#tweet-template">Favorite</a>
                      </p>
                      <p>
                        <img src="https://pbs.twimg.com/profile_images/588890128409473024/6mECDeLZ_bigger.png" alt="Avatar">
                      </p>
                      <p>Posted on Dec 12, 2018</p>
                      <pre><code></code></pre>
                    </li>
                  </ul>

                </div>
              </article>

              <article id="flickity-slider-integration" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Flickity Slider Integration</p>
                
                <div>
                  <p>A twitter feed can be turned into a <a href="js-flickity.html" target="_blank">Flickity slider</a> by adding <code>data-twitter-flickity</code> to the <code>data-twitter-fetcher</code> element.</p>
                  <p>By structuring the Tweet template as a <code>carousel-cell</code>, Flickity can interpret the tweets properly and construct the slider.</p>
                  <p>Use the value of <code>data-twitter-flickity</code> to pass options to Flickity in JSON format.</p>
                  <p>Note the single quotes around the JSON provided in <code>data-twitter-flickity</code>. Do not use quotes on boolean values within the JSON.</p>
                  <pre><code class="language-html">&lt;div data-twitter-fetcher data-username="mrareweb" data-twitter-flickity='{"wrapAround": true, "autoPlay":true}'&gt;
&lt;div class="carousel-cell"&gt;
    &lt;div class="user mb-3"&gt;&lt;/div&gt;
    &lt;span class="h3 tweet d-block"&gt;&lt;/span&gt;
    &lt;span class="text-small timePosted"&gt;&lt;/span&gt;
&lt;/div&gt;</code></pre>
                  <p>This will copy the <code>.carousel-cell</code>  <code>&lt;div&gt;</code> for each tweet then initialise the parent <code>&lt;div&gt;</code> as a Flickity Slider.</p>

                </div>
              </article>

              <article id="isotope-integration" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Isotope Integration</p>
                
                <div>
                  <p>A twitter feed can be turned into a <a href="js-isotope.html" target="_blank">Masonry Layout</a> by adding <code>data-twitter-isotope</code> to the <code>data-twitter-fetcher</code> element.</p>
                  <pre><code class="language-html">&lt;div class="row" data-twitter-fetcher data-username="mrareweb" data-twitter-isotope="true" data-sort-ascending="true"&gt;
  &lt;!-- This is the tweet template --&gt;
  &lt;div class="col-md-4" data-isotope-item&gt;
    &lt;div&gt;
      &lt;p class="tweet w-100"&gt;&lt;/p&gt;
      &lt;span class="timePosted"&gt;&lt;/span&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre>
                  <p>This will copy the <code>[data-isotope-item]</code>  <code>&lt;div&gt;</code> for each tweet then initialise the parent <code>&lt;div&gt;</code> as an Isotope masonry layout.</p>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#about-the-plugin" class="nav-link text-small" data-smooth-scroll>About the Plugin</a>
                </li>

                <li class="nav-item">
                  <a href="#initializing" class="nav-link text-small" data-smooth-scroll>Initializing</a>
                </li>

                <li class="nav-item">
                  <a href="#basic-usage" class="nav-link text-small" data-smooth-scroll>Basic Usage</a>
                </li>

                <li class="nav-item">
                  <a href="#options" class="nav-link text-small" data-smooth-scroll>Options</a>
                </li>

                <li class="nav-item">
                  <a href="#tweet-template" class="nav-link text-small" data-smooth-scroll>Tweet Template</a>
                </li>

                <li class="nav-item">
                  <a href="#flickity-slider-integration" class="nav-link text-small" data-smooth-scroll>Flickity Slider Integration</a>
                </li>

                <li class="nav-item">
                  <a href="#isotope-integration" class="nav-link text-small" data-smooth-scroll>Isotope Integration</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>