<div class="row pt-5 py-5 layer-2">
      <div class="container">
        <div class="container">
        <div class="row">
          <div class="col-xl-8 col-lg-8">
              <h1 class="display-5 mt-3">My Team Name</h1>
              <p class="lead mb-3">Manage your team and get the best out of your people.</p>
            </div>
            <div class="col-xl-4 col-lg-4">

              <div class="card card-sm card-body flex-row align-items-center mt-3">
                  

                  <div class="">
                    <h5 class="mb-0"><i class="fa fa-diamond" aria-hidden="true"></i> 472 Team Credits</h5>
                    <a href="/pages/creditmanager" class="hover-arrow">Manage Team Credit</a>
                  </div>
                </div>
            </div>



            </div>
          </div>
      </div>
</div>

<section class="pt-0">
  <div class="container">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Insights</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">People</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Sub Teams</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-card-tab" data-toggle="pill" href="#pills-card" role="tab" aria-controls="pills-card" aria-selected="false">Give To Team...</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-values-tab" data-toggle="pill" href="#pills-values" role="tab" aria-controls="pills-values" aria-selected="false">Values</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-settings-tab" data-toggle="pill" href="#pills-settings" role="tab" aria-controls="pills-settings" aria-selected="false">Settings</a>
      </li>
    </ul>
    <br>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col col-md-12">
             <%= render 'layouts/filtersinsights' %>

             <div class="row">
               <div class="col col-md-6">
                <a href="/pages/engagement/" class="card card-sm card-body flex-row hover-shadow-3d">

                  <div class="row">
                      <div class="col-xl-12 col-lg-12">
                        <h2>Engagement Score</h2>
                        <div class="justify-content-center">
                          <img src="/insights2.jpg" alt="Volkswagen Australia" class="rounded mb-3 bill">
                        </div>
                      </div>
                      </div>

                  </a>

                </div>

                <div class="col col-md-6">
                  <a href="/pages/recognition2" class="card card-sm card-body flex-row align-items-center hover-shadow-3d">

                      <div class="row">
                          <div class="col-xl-12 col-lg-12">
                            <h2>Recognition Stats</h2>
                              <div class="row">
                                <div class="col-md-3">
                                  <span class="avatar avatar-lg m-1">
                                        <img src="/avatar.png" class="avatar avatar-sm">
                                      </span>
                                </div>
                                <div class="col-md-9">
                                  <p>Person Name <span class="badge badge-pill badge-secondary">2 <i class="fa fa-heart"></i></span></p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-3">
                                  <span class="avatar avatar-lg m-1">
                                        <img src="/avatar.png" class="avatar avatar-sm">
                                      </span>
                                </div>
                                <div class="col-md-9">
                                  <p>Person Name <span class="badge badge-pill badge-secondary">1 <i class="fa fa-heart"></i></span></p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-3">
                                  <span class="avatar avatar-lg m-1">
                                        <img src="/avatar.png" class="avatar avatar-sm">
                                      </span>
                                </div>
                                <div class="col-md-9">
                                  <p>Person Name <span class="badge badge-pill badge-secondary">1 <i class="fa fa-heart"></i></span></p>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-3">
                                  <span class="avatar avatar-lg m-1">
                                        <img src="/avatar.png" class="avatar avatar-sm">
                                      </span>
                                </div>
                                <div class="col-md-9">
                                  <p>Person Name <span class="badge badge-pill badge-secondary">1 <i class="fa fa-heart"></i></span></p>
                                </div>
                              </div>
                          <br>
   
                          </div>
                      </div>
           
                    </a>

                </div>

                <div class="col col-md-6">
                  <a href="#" class="card card-body hover-shadow-3d">

                  <div class="row">
                      <div class="col-xl-12 col-lg-12">
                        <h2>Interests</h2>
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Sport</th>
                                <td><div class="progress mb-3">
              <div class="progress-bar bg-primary-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div></td>

                              </tr>
                              <tr>
                                <th scope="row">Music</th>
                                <td><div class="progress mb-3">
              <div class="progress-bar bg-primary-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div></td>

                              </tr>
                              <tr>
                                <th scope="row">Design</th>
                                <td><div class="progress mb-3">
              <div class="progress-bar bg-primary-3" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
            </div></td>

                              </tr>
                            </tbody>
                          </table>
                      </div>
                  </div>
                  </a>

                </div>

                <div class="col col-md-6">
                  <a href="#" class="card card-body hover-shadow-3d">
                  <div class="row">
                      <div class="col-xl-12 col-lg-12">
                        <h2>Activity</h2>
                        <table class="table">
                            <thead>

                            </thead>
                            <tbody>
                              <tr>
                                <th scope="row">Activated Users</th>
                                <td>24/35</td>

                              </tr>
                              <tr>
                                <th scope="row">Team Hub</th>
                                <td>12 <i class="fa fa-comment"></i> 15 <i class="fa fa-thumbs-up"></i></td>

                              </tr>
                              <tr>
                                <th scope="row">Gifts Claimed</th>
                                <td>201</td>

                              </tr>
                            </tbody>
                          </table>
                      </div>
                      </div>
                  </a>

                </div>
              </div>




                  </div>
                </div>
              </div>


      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="col col-md-12">
             <%= render 'layouts/filterspeople' %>
           
              <div class="col-xl-12 col-lg-12">
                  <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th style="width: 5%" scope="col">
                              <div class="form-check bill">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              </div>
                            </th>
                            <th style="width: 20%" scope="col">Name</th>
                            <th style="width: 14%" scope="col">Role</th>
                            <th style="width: 14%" scope="col">Country</th>
                            <th style="width: 14%" scope="col">Team(s)</th>
                            <th style="width: 14%" scope="col">Values</th>
                            <th style="width: 14%" scope="col">Credit</th>
                            <th style="width: 14%" scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              </div> 
                            </td>
                            <th scope="row"><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"><a href="/pages/profile2"> Adam Smit</a></th>
                            <td class="small">Team Member</td>
                            <td class="small">UK</td>
                            <td class="small">Product</td>
                            <td class="small"><span class="badge badge-pill badge-light small">Work-Life Balance</span></td>
                            <td class="small"><i class="fa fa-diamond" aria-hidden="true"></i> 25</td>
                            <td><div class="m-1 dropdown">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span>Give Adam...</span>
                                  <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                                  </svg>

                                </button>
                                <div class="dropdown-menu dropdown-content dropdown-content-sm" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal7">Shout-Out</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal8">Gift</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal9">Reward</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal10">Incentive</a>
                                </div>
                              </div>

                </td>
                          </tr>
                          <tr>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              </div> 
                            </td>
                            <th scope="row"><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> <a href="#"> Bill Biggins</a></th>
                            <td class="small">Team Member</td>
                            <td class="small">UK</td>
                            <td class="small">Product</td>
                            <td class="small"><span class="badge badge-pill badge-light small">Teamwork</span></td>
                            <td class="small"><i class="fa fa-diamond" aria-hidden="true"></i> 25</td>
                            <td class="small">
                              
                              <div class="m-1 dropdown">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span>Give Bill...</span>
                                  <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                                  </svg>

                                </button>
                                <div class="dropdown-menu dropdown-content dropdown-content-sm" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal7">Shout-Out</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal8">Gift</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal9">Reward</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal10">Incentive</a>
                                </div>
                              </div>



                            </td>
                          </tr>

                           <tr>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              </div> 
                            </td>
                            <th scope="row"><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> <a href="#"> Chris Camo</a></th>
                            <td class="small">Team Member</td>
                            <td class="small">UK</td>
                            <td class="small">Product</td>
                            <td class="small"><span class="badge badge-pill badge-light small">Teamwork</span></td>
                            <td class="small"><i class="fa fa-diamond" aria-hidden="true"></i> 25</td>
                            <td class="small">
                              
                              <div class="m-1 dropdown">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span>Give Chris...</span>
                                  <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                                  </svg>

                                </button>
                                <div class="dropdown-menu dropdown-content dropdown-content-sm" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal7">Shout-Out</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal8">Gift</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal9">Reward</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal10">Incentive</a>
                                </div>
                              </div>



                            </td>
                          </tr>

                           <tr>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              </div> 
                            </td>
                            <th scope="row"><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> <a href="#"> EmJ</a></th>
                            <td class="small">Team Member</td>
                            <td class="small">UK</td>
                            <td class="small">Product</td>
                            <td class="small"><span class="badge badge-pill badge-light small">Growth</span></td>
                            <td class="small"><i class="fa fa-diamond" aria-hidden="true"></i> 25</td>
                            <td class="small">
                              
                              <div class="m-1 dropdown">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span>Give EmJ...</span>
                                  <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                                  </svg>

                                </button>
                                <div class="dropdown-menu dropdown-content dropdown-content-sm" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal7">Shout-Out</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal8">Gift</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal9">Reward</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal10">Incentive</a>
                                </div>
                              </div>



                            </td>
                          </tr>

                           <tr>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              </div> 
                            </td>
                            <th scope="row"><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> <a href="#"> Hannah Broc</a></th>
                            <td class="small">Team Member</td>
                            <td class="small">UK</td>
                            <td class="small">Product</td>
                            <td class="small"><span class="badge badge-pill badge-light small">Communication</span></td>
                            <td class="small"><i class="fa fa-diamond" aria-hidden="true"></i> 25</td>
                            <td class="small">
                              
                              <div class="m-1 dropdown">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span>Give Hannah...</span>
                                  <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                                  </svg>

                                </button>
                                <div class="dropdown-menu dropdown-content dropdown-content-sm" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal7">Shout-Out</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal8">Gift</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal9">Reward</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal10">Incentive</a>
                                </div>
                              </div>



                            </td>
                          </tr>

                          <tr>
                            <td>
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                              </div> 
                            </td>
                            <th scope="row"><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> <a href="#"> Sam Smithe</a></th>
                            <td class="small">Team Member</td>
                            <td class="small">UK</td>
                            <td class="small">Product</td>
                            <td class="small"><span class="badge badge-pill badge-light small">Communication</span></td>
                            <td class="small"><i class="fa fa-diamond" aria-hidden="true"></i> 25</td>
                            <td class="small">
                              
                              <div class="m-1 dropdown">
                                <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span>Give Sam...</span>
                                  <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                                  </svg>

                                </button>
                                <div class="dropdown-menu dropdown-content dropdown-content-sm" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal7">Shout-Out</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal8">Gift</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal9">Reward</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal10">Incentive</a>
                                </div>
                              </div>



                            </td>
                          </tr>

                          
                           
                        </tbody>
                      </table>
                </div>
              </div>
           
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">
          <div class="col col-md-12">
             <div class="row tiny">
  <div class="col col-md-9">
    
    
  </div>
  <div class="col-lg-3">
    <button type="button" class="btn btn-primary float-right" data-toggle="" data-target="#contact-box-modal">
                Create Sub-Team
              </button>
  </div>
</div>
            <p class="lead mb-0">You have no sub-teams created yet</p>
          </div>
        </div>
      </div>

      <div class="tab-pane fade" id="pills-card" role="tabpanel" aria-labelledby="pills-card-tab">
        <div class="row">
          <div class="col col-md-12">
             <div class="row tiny">
  <div class="col col-md-9">
    
    
  </div>
  <div class="col-lg-3">
    <div class="m-1 dropdown">
                                <button class="btn btn-primary dropdown-toggle mb-3 float-right" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  <span>Give Team...</span>
                                  <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
                                  </svg>

                                </button>
                                <div class="dropdown-menu dropdown-content dropdown-content-sm" aria-labelledby="dropdownMenuButton" x-placement="top-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -2px, 0px);">
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal3">Shout-Out</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal4">Gift</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal5">Reward</a>
                                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#sign-in-modal6">Incentive</a>
                                </div>
                                <br>
                <br>
                              </div>
   
  </div>


             <div class="row">

              

            <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Rewarded">
              <a href="">
                <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                <h5 class="mb-0">Asos Giftcard</h5>
                <div class="text-small text-muted">Team Gift</div>
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
              <a href="">
                <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
                <h5 class="mb-0">Netflix Giftcard £30</h5>
                <div class="text-small text-muted">Team Reward <i class="fa fa-trophy" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item="" data-category="Branding">
              <a href="">
                <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
                <h5 class="mb-0">50 Credits</h5>
                <div class="text-small text-muted">Team Incentive <i class="fa fa-lock" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Digital">
                <a href="/pages/holiday3">
                  <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
                  <h5 class="mb-0">10:30 Starts All Week</h5>
                  <div class="text-small text-muted">Team Gift</div>
                </a>
              </div>
                  



            </div>
            
            </div>
          </div>
        </div>
      </div>

       <div class="tab-pane fade" id="pills-values" role="tabpanel" aria-labelledby="pills-values-tab">
         <div class="row">
          <div class="col col-md-12">
             <div class="row tiny">
  <div class="col col-md-9">
    
    
  </div>
  <div class="col-lg-3">
    <button type="button" class="btn btn-primary float-right" data-toggle="" data-target="#contact-box-modal">
                Create Team Values
              </button>
  </div>
</div>

              <div class="col-xl-6 col-lg-8">
                  <p>This is where you can setup your team values. The things that make you unique. These will come in handy when you're looking to reward, recognise and celebrate as a team together.</p>
              </div>
            </div>
       </div>
      </div>


       <div class="tab-pane fade" id="pills-settings" role="tabpanel" aria-labelledby="pills-settings-tab">
         <div class="row">
          <div class="col col-md-12">

              <div class="col-xl-6 col-lg-8">
                  <p>This is where any necessary team settings can go. Logos, colours, setting up Insights surveys etc...</p>
              </div>

        </div>
       </div>
        
          </div>
        </div>
        </div>
    </div>
  </div>
</section>


              



              <div class="modal fade" id="sign-in-modal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="mb-4">
                          <div class="content-container">
                            <div id="content1">
                                <p class="text-muted text-small">Step 1 of 3</p>
                                <h4 class="h3 mb-2">Recognise Hannah</h4>
                                <form>
                                  <div class="form-group">
                                    <label for="exampleFormControlTextarea1">What for?</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                  </div>
                                </form>
                              <a id="link2" class="btn btn-primary" href="#">Next</a>
                            </div>
                            <div id="content2">
                                <p class="text-muted text-small">Step 2 of 3</p>
                                <h4 class="h3 mb-2">Company value and reward?</h4>
                          
                
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">What company value are they embodying?</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>Company value 1</option>
                                      <option>Company value 2</option>
                                      <option>Company value 3</option>
                                      <option>Company value 4</option>
                                      <option>Company value 5</option>
                                    </select>
                                  </div>

                                  <div class="form-check">
                                  <input class="form-check-input" name="cod" value="1" type="checkbox" value="" id="defaultCheck1">
                                  <label class="form-check-label" for="defaultCheck1">
                                    Would you like to include a reward?
                                  </label>

                                  <select class="form-control" id='select'>
                                      <option>Purchase from one of the collection</option>
                                      <option>Create a custom reward from scratch</option>
                                    </select>

                                  
                                </div>
                                <br>
                                  
                                  
                                  <a id="link3" class="btn btn-primary" href="#">Next</a>
                            </div>
                            <div id="content3">
                                <p class="text-muted text-small">Step 3 of 3</p>
                                <h4 class="h3 mb-2">Public or private</h4>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">How would you like to recognise them?</label>

                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>Just send a message privately to them</option>
                                      <option>Publish to the hub for whole team to see</option>
                                      <option>Publish to the hub for whole company to see</option>
                                    </select>
                                  </div>
                                  <p class="text-muted small">Don't worry, we won't display any attached gifts if you publish to the hub, only the message.</p>
                                  <a class="btn btn-primary" href="/pages/manageteam">Send recognition</a>
                            </div>
                        </div>

                          
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="sign-in-modal3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="text-center mb-4">
                          <p class="text-muted text-small">Step 1 of x</p>
                          <h4 class="h3 mb-1">Shout-Out</h4>
                          <span>Give {your team} the shout-out they deserve</span>
                          <br>
                          <br>
                          <a id="link2" class="btn btn-primary" href="#">Let's go</a>
                        </div>
                        <hr>
                        <p class="text-muted text-small">Requirements from flow</p>
                        <ol>
                          <li>What for? (+ Company Value/Employee Driver)</li>
                          <li>Include gift/reward?</li>
                          <li>Send privately or publish to hub for all to celebrate</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="sign-in-modal4" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="text-center mb-4">
                          <p class="text-muted text-small">Step 1 of x</p>
                          <h4 class="h3 mb-1">Gift</h4>
                          <span>A days holiday. The chance to learn a new language. Show you’re listening and that you really care.</span>
                          <br>
                          <br>
                          <a id="link2" class="btn btn-primary" href="#">Let's go</a>
                          <hr>
                        </div>
                        <p class="text-muted text-small">Requirements from flow</p>
                        <ol>
                          <li>What for? (+ Company Value/Employee Driver)</li>
                          <li>Create gift from scratch/give credit/purchase from collection</li>
                          <li>Add message?</li>
                          <li>Send message privately or publish to hub</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


               <div class="modal fade" id="sign-in-modal5" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="text-center mb-4">
                          <p class="text-muted text-small">Step 1 of x</p>
                          <h4 class="h3 mb-1">Reward</h4>
                          <span>Celebrate stand-out achievements</span>
                          <br>
                          <br>
                          <a id="link2" class="btn btn-primary" href="#">Let's go</a>
                          <hr>
                          <p class="text-muted text-small">Requirements from flow</p>
                        </div>
                        <ol>
                          <li>What for? (+ Company Value/Employee Driver)</li>
                          <li>Create reward from scratch/give credit/purchase from collection</li>
                          <li>Add message?</li>
                          <li>Send message privately or publish to hub</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="sign-in-modal6" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="text-center mb-4">
                          <p class="text-muted text-small">Step 1 of x</p>
                          <h4 class="h3 mb-1">Incentive</h4>
                          <span>Inspire the performance and behaviours you want to promote</span>
                          <br>
                          <br>
                          <a id="link2" class="btn btn-primary" href="#">Let's go</a>
                          <hr>
                          <p class="text-muted text-small">Requirements from flow</p>
                        </div>
                        <ol>
                          <li>What for? (+ Company Value/Employee Driver)</li>
                          <li>Create incentive from scratch/give credit/purchase from collection</li>
                          <li>Criteria</li>
                          <li>Add message?</li>
                          <li>Send privately or publish to hub</li>

                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


<div class="modal fade" id="sign-in-modal7" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="text-center mb-4">
                          <p class="text-muted text-small">Step 1 of x</p>
                          <h4 class="h3 mb-1">Shout-Out</h4>
                          <span>Give {person name} the shout-out they deserve</span>
                          <br>
                          <br>
                          <a id="link2" class="btn btn-primary" href="#">Let's go</a>
                          <hr>
                          <p class="text-muted text-small">Requirements from flow</p>
                        </div>
                        <ol>
                          <li>What for? (+ Company Value/Employee Driver)</li>
                          <li>Include gift/reward?</li>
                          <li>Send privately or publish to hub for all to celebrate</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="sign-in-modal8" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="text-center mb-4">
                          <p class="text-muted text-small">Step 1 of x</p>
                          <h4 class="h3 mb-1">Gift</h4>
                          <span>A days holiday. The chance to learn a new language. Show you’re listening and that you really care.</span>
                          <br>
                          <br>
                          <a id="link2" class="btn btn-primary" href="#">Let's go</a>
                          <hr>
                          <p class="text-muted text-small">Requirements from flow</p>
                        </div>
                        <ol>
                          <li>What for? (+ Company Value/Employee Driver)</li>
                          <li>Create gift from scratch/give credit/purchase from collection</li>
                          <li>Add message?</li>
                          <li>Send message privately or publish to hub</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


               <div class="modal fade" id="sign-in-modal9" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="text-center mb-4">
                          <p class="text-muted text-small">Step 1 of x</p>
                          <h4 class="h3 mb-1">Reward</h4>
                          <span>Celebrate stand-out achievements</span>
                          <br>
                          <br>
                          <a id="link2" class="btn btn-primary" href="#">Let's go</a>
                        </div>
                        <hr>
                        <p class="text-muted text-small">Requirements from flow</p>
                        <ol>
                          <li>What for? (+ Company Value/Employee Driver)</li>
                          <li>Create reward from scratch/give credit/purchase from collection</li>
                          <li>Add message?</li>
                          <li>Send message privately or publish to hub</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


              <div class="modal fade" id="sign-in-modal10" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="text-center mb-4">
                          <p class="text-muted text-small">Step 1 of x</p>
                          <h4 class="h3 mb-1">Incentive</h4>
                          <span>Inspire the performance and behaviours you want to promote</span>
                          <br>
                          <br>
                          <a id="link2" class="btn btn-primary" href="#">Let's go</a>
                        </div>
                        <hr>
                        <p class="text-muted text-small">Requirements from flow</p>
                        <ol>
                          <li>What for? (+ Company Value/Employee Driver)</li>
                          <li>Create incentive from scratch/give credit/purchase from collection</li>
                          <li>Criteria</li>
                          <li>Add message?</li>
                          <li>Send privately or publish to hub</li>

                        </ol>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



  