<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">The Collections</h1>
      <p class="lead mb-0">The Collections cover the vast array of tools needed to empower you both in and out of work. Browse and curate to unlock your potential.
</p>
    </div>
  </div>
</div>

      <div class="container">

        <div class="row">
              <div class="col-md-12">
                <div class="card card-body flex-row py-4">
                  <div class="ml-3">
                    <h3>
                      Spotify Extras
                    </h3>
                    <div class="avatar-author d-block">
                      <p>We've curated some bespoke company extras that you're able to purchase with your credit.</p>
                      <a href="/pages/company" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
                </div>

        <div class="row">
          <div class="col-lg-12 col-xl-12">
            <div class="row">
              <div class="col-md-12">
                <div class="card card-body flex-row py-4">
                  <div class="ml-3">
                    <h3>
                      Everyday Offers
                    </h3>
                    <div class="avatar-author d-block">
                      <p>Explore hundreds of everyday offers and make financial savings across a plethora of retailers.</p>
                      <a href="/pages/financial" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="card card-body flex-row py-4">
                  <div class="ml-3">
                    <h3>
                      Learning & Development
                    </h3>
                    <div class="avatar-author d-block">
                      <p>From courses to books and beyond. Keep learning and growing so you can realise your potential.</p>
                      <a href="/pages/learning" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="card card-body flex-row py-4">
                  <div class="ml-3">
                    <h3>
                      Health & Support
                    </h3>
                    <div class="avatar-author d-block">
                      <p>Your health and wellbeing should be you number one. Get support in all the areas that matter most.</p>
                      <a href="/pages/premium" class="btn btn-primary">Explore</a>
                    </div>
                  </div>
                </div>

                
                <br>
<br>
<br>
<br>

              </div>



