<div class="container">
  <div class="row my-5">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/perks">Spotify Gifted</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Mental Health</li>
        </ol>
      </nav>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/placeholder.jpg" alt="Beker EV" class="rounded mb-3">
    </div>
    <div class="col-md-8">
      <h3>Mental Health</h3>
      <p class="text-muted">Gifted by Your Company for <span class="badge badge-pill badge-secondary">Employee Driver</span> <span class="badge badge-pill badge-secondary">Company Value</span></p>

      <div class="border-bottom pb-3 pt-3 mb-3">
        <div data-target="#panel-3" class="accordion-panel-title collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
          <span class="h6 mb-0">Description</span>
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
            <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
          </svg>

        </div>
        <div class="collapse show" id="panel-3" style="">
          <div class="pt-3">
            <p class="mb-0">
              Here's a description of the offer from the marketplace.
            </p>
          </div>
        </div>
      </div>

      <div class="border-bottom pb-3 mb-3">
        <div data-target="#panel-4" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
          <span class="h6 mb-0">How it works</span>
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
            <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
          </svg>

        </div>
        <div class="collapse" id="panel-4">
          <div class="pt-3">
            <p class="mb-0">
              This can explain any detail about how to get access to the offer.
            </p>
          </div>
        </div>
      </div>

      <div class="border-bottom pb-3 mb-3">
        <div data-target="#panel-6" class="accordion-panel-title" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="panel-1">
          <span class="h6 mb-0">Register And Use For Free </span>
          <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19 11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11Z" fill="#212529"></path>
            <path d="M13 19L13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5L11 19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19Z" fill="#212529"></path>
          </svg>

        </div>
        <div class="collapse show" id="panel-6">
          <div class="pt-5">
            <a href="#" class="btn btn-primary">Register Free Now</a>
          </div>
        </div>

    




      


<br>
<br>
<br>
<br>
<br>
<br>