<div class="row pt-5 py-5 layer-2">
      <div class="container">
        <div class="container">
        
        <div class="row">
          <div class="col-xl-8 col-lg-8">
            <h1 class="display-5">Activity & Notifications</h1>
            <p class="lead mb-0">Update your <a href="/pages/profileperks#pills-contact"> notification preferences</a></p>
          </div>
        </div>
      </div>

      </div>
</div>




<section class="narrow">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-12 col-lg-12">
            <ul class="list-group">
              <li class="list-group-item">Colleague name <a href="/pages/recognition#pills-profile"> recognised you</a> <span class="text-small float-right text-muted">10 mins ago</li>
              <li class="list-group-item">You've been gifted <a href="/pages/holiday3"> 1/2 day holiday</a> <span class="text-small float-right text-muted">1 day ago</li></li>
              <li class="list-group-item">New recognition in <a href="/pages/hub#pills-profile">Spotify Hub</a> <span class="text-small float-right text-muted">5 days ago</li></li>

            </ul>
          
            
          </div>
        </div>
      </div>
    </section>
