<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>MailChimp Form Handler</h1>
                <div class="lead">
                  <p>A server-side PHP script to handle adding subscribers to a MailChimp list. Works in tandem with <a href="js-form-email.html" target="_blank">frontend script</a> to provide a seamless experience.</p>
                </div>
              </div>

              <article id="what-is-it" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>What is it?</p>
                
                <div>
                  <p>This script is an interface between the form on your page and the MailChimp API.</p>
                  <p>Data from your form is submitted to this script, which is then processed and sent on to MailChimp.</p>
                  <p>We've taken the hard work out of setting up the API integration. By configuring the settings in the <code>forms/mailchimp.php</code> file you can easily add subscribers to your lists in MailChimp through the forms on your website.</p>
                  <p>Subscribers will be added to your MailChimp account, on a list you specify. MailChimp handles <strong>double opt-in</strong> and provides feedback when the user has already subscribed.</p>
                  <p>You may then do what you wish with the list of subscribers such as send email through MailChimp, or export them to use on another service.</p>

                </div>
              </article>

              <article id="requirements" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Requirements</p>
                
                <div>
                  <p>To use the mailchimp.php form handler you will need the following</p>
                  <ul>
                    <li>A free <a href="https://login.mailchimp.com/signup/" target="_blank">MailChimp account</a>
                    </li>
                    <li>A MailChimp API Key (Get this from your dashboard)</li>
                    <li>A MailChimp List ID (Get this from your dashboard)</li>
                    <li>A PHP server &gt; 5.3</li>
                    <li>Configuration of settings in <code>forms/mailchimp.php</code>
                    </li>
                  </ul>

                </div>
              </article>

              <article id="get-an-api-key" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Obtain Your MailChimp API Key</p>
                
                <div>
                  <p>API keys are easy to create. It only takes a couple minutes and only needs to be done once.</p>
                  <ul>
                    <li>Log in to your MailChimp account</li>
                    <li>Click your name in the top-right corner of the screen. A menu will pop out.</li>
                    <li>Navigate to <strong>[Account]</strong>  <code>&gt;</code>  <strong>[Extras]</strong>  <code>&gt;</code>  <strong>[API Keys]</strong> 
                    </li>
                    <li>Click <strong>Create a Key</strong>
                    </li>
                    <li>A new row should appear on your list of keys</li>
                    <li>A long random string of text is listed under <strong>API Key</strong>. That is your API key.</li>
                  </ul>

                </div>
              </article>

              <article id="get-a-list-id" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Get a List ID</p>
                
                <div>
                  <p>Lists in MailChimp store collections of subscribers. It is necessary to set up a list to store the subscribers you collect from your forms. You will need the ID of the list you want to use.</p>
                  <p>If you have not yet set up a list, follow the instructions below. If you already have a list set up, skip these and move to step 2.</p>
                  <ol>
                    <li>
                      <p>Set up a list (Audience)</p>
                      <ul>
                        <li>Log in to your MailChimp account</li>
                        <li>Click <strong>Audience</strong> on the main menu at the top of the page</li>
                        <li>Click <strong>Switch Audience</strong> and choose <strong>View Audiences</strong> from the dropdown list</li>
                        <li>Click the <strong>Create Audience</strong> button</li>
                        <li>Ignore a message about <strong>Tags</strong> , Click <strong>Create Audience</strong>
                        </li>
                        <li>Fill in the details to your liking</li>
                        <li>Tick the "Enable double opt-in" box</li>
                        <li>Click <strong>Save</strong>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <p>Get the list ID (Audience ID)</p>
                      <ul>
                        <li>Click <strong>Audience</strong> on the main menu at the top of the page</li>
                        <li>Click <strong>Switch Audience</strong> and choose <strong>View Audiences</strong> from the dropdown list</li>
                        <li>Click the list you would like to use to collect your subscribers</li>
                        <li>On the submenu, click <strong>Settings</strong>
                        </li>
                        <li>Choose <strong>Audience Name and Defaults</strong> from the dropdown</li>
                        <li>In the right hand column you will see <strong>Audience ID</strong>
                        </li>
                        <li>Note that list ID for use in your configuration file.</li>
                      </ul>
                    </li>
                  </ol>

                </div>
                <div class="alert alert-info">
                  <p>MailChimp recently started referring to <strong>lists</strong> as <strong>audiences</strong>. Please consider the word <strong>list</strong> and <strong>audience</strong> interchangable.</p>

                </div>
              </article>

              <article id="configure-mailchimpphp" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Configure <code>mailchimp.php</code>
                  </p>
                
                <div>
                  <p>Every setting you need to set up your MailChimp integration is in <code>forms/mailchimp.php</code>.</p>
                  <p>Configuration takes the form of PHP variable declaration. All of the variables are already set up with dummy data.</p>
                  <p>Change the values on the right hand side of the <code>=</code> sign leaving the quotes intact.</p>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$apiKey</code>
                        </td>
                        <td>Copy your API key here from the MailChimp dashboard.</td>
                      </tr>
                      <tr>
                        <td>
<code>$listId</code>
                        </td>
                        <td>Use the Audience ID you gathered using the instructions above.</td>
                      </tr>
                      <tr>
                        <td>
<code>$emailField</code>
                        </td>
                        <td>Enter the name of your form's email field (usually <code>email</code>).</td>
                      </tr>
                      <tr>
                        <td>
<code>$mergeFields</code>
                        </td>
                        <td>Please see section on <strong>$mergeFields configuration</strong> below.</td>
                      </tr>
                      <tr>
                        <td>
<code>$status</code>
                        </td>
                        <td>Specify the user's status when they have submitted the form. Use <code>subscribed</code> for single opt-in. <code>pending</code> will cause the user to receive an opt-in confirmation email from MailChimp.</td>
                      </tr>
                      <tr>
                        <td>
<code>$successMessage</code>
                        </td>
                        <td>This message will be passed back in the server's JSON response to the browser, and will be shown in the <code>data-success-message</code> element.</td>
                      </tr>
                      <tr>
                        <td>
<code>$alreadySubscribed</code>
                        </td>
                        <td>A message to be shown to the user when the provided email is already on the list.</td>
                      </tr>
                      <tr>
                        <td>
<code>$checkConfirmation</code>
                        </td>
                        <td>A message to be shown to the user when they have alredy subscribed (status: pending) but did not yet click the confirmation link in their email inbox.</td>
                      </tr>
                      <tr>
                        <td>
<code>$recaptchaSecretKey</code>
                        </td>
                        <td>Optional. If using reCAPTCHA, place your <code>secret key</code> found on your reCAPTCHA admin page. See our <a href="js-recaptcha-v2.html" target="_blank">reCAPTCHA documentation</a> for more.</td>
                      </tr>
                      <tr>
                        <td>
<code>$recaptchaErrorMessage</code>
                        </td>
                        <td>Optional. If using reCAPTCHA, this is an explanation to the user for when a reCAPTCHA error occurs.</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </article>

              <article id="s-configuration" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p><code>$mergeFields</code> configuration</p>
                
                <div>
                  <p>In configuring <code>forms/mailchimp.php</code> you must fill out the <code>$mergeFields</code> array to match the fields in your MailChimp list with the fields you pass in from your form inputs.</p>
                  <p>This is a more advanced topic, hence why detail is given here.</p>
                  <p><code>$mergeFields</code> is an array containing names of all <strong>other</strong> form inputs you want to send to MailChimp besides the <code>email</code> field.</p>
                  <p>The array is used to match your MailChimp list fields with the data provided in your form fields.</p>
                  <p>The basic steps required to fill the array are as follows:</p>
                  <ul>
                    <li>Copy the existing line and create a new line for each input. This helps keep the code formatting intact.</li>
                    <li>Only change the text within the <code>"</code> double quotes.</li>
                    <li>On the left side of <code>=&gt;</code> Type the MailChimp field name (usually in CAPS).</li>
                    <li>On the right side of <code>=&gt;</code> type the matching input name from your form.</li>
                  </ul>
                  <h5>Example</h5>
                  <p>If your subscribe form takes more fields such as <strong>First Name</strong>, <strong>Last Name</strong> and <strong>Phone</strong> you would add a line for each.</p>
                  <p>On the left of the arrow is the MailChimp field name. On the right of the arrow is the form input name.</p>
                  <pre><code class="language-javascript">$mergeFields = array( 
  "F_NAME" =&gt; $_POST["first-name"],
  "L_NAME" =&gt; $_POST["last-name"],
  "PHONE" =&gt; $_POST["phone"],
);</code></pre>

                </div>
                <div class="alert alert-info">
                  <p>It is not necessary to include the <code>email</code> field as this is collected in the <code>$emailField</code> variable (see table above).</p>

                </div>
              </article>

              <article id="troubleshooting" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Troubleshooting</p>
                
                <div>
                  <p>If the fields provided in your <code>$mergeFields</code> array do not perfectly match the MailChimp list fields, you will receive errors.</p>
                  <p>To make debugging a little easier, the script will pass back the detailed MailChimp API error object via JSON to the browser, which is then displayed in the console. You can open the console to get a detailed report on the MailChimp
                    error as you are testing your form configuration.</p>
                  <h6>Common Errors</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Error</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>mailchimp.php (0 error)</code>
                        </td>
                        <td>Check your web browser console for a javascript error. Ths usually means that the request could not be sent from the browser.</td>
                      </tr>
                      <tr>
                        <td>
<code>Internal Server Error</code>
                        </td>
                        <td>This is a very general error and can be hard to diagnose. Generally this is a syntax error in your <code>mailchimp.php</code> file. You can copy your code to an online PHP code checker to help identify problems in the syntax, or
                          uncomment the first two lines of <code>forms/vendor/mediumrare/mailchimp_subscribe.php</code> to reveal more descriptive PHP error messages. To read the message, open the <strong>network</strong> tab of your web browser developer
                          tools and inspect the <code>mailchimp.php</code> request. The detailed error message will be readable in the <code>response</code> tab.</td>
                      </tr>
                      <tr>
                        <td>
<code>200 JSON Parse error, unexpected '&lt;'</code>
                        </td>
                        <td>The server is not returning JSON, instead it is producing error text in HTML format, so jQuery can't handle it as JSON. Check the <strong>network</strong> tab in your browser developer tools, locate the <code>mailchimp.php</code> request
                          and view the response to read the full error text.</td>
                      </tr>
                      <tr>
                        <td>
<code>There was an error verifying the Google reCaptcha</code>
                        </td>
                        <td>Check that your secret key is properly set in <code>smtp.php</code>.</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#what-is-it" class="nav-link text-small" data-smooth-scroll>What is it?</a>
                </li>

                <li class="nav-item">
                  <a href="#requirements" class="nav-link text-small" data-smooth-scroll>Requirements</a>
                </li>

                <li class="nav-item">
                  <a href="#get-an-api-key" class="nav-link text-small" data-smooth-scroll>Get an API key</a>
                </li>

                <li class="nav-item">
                  <a href="#get-a-list-id" class="nav-link text-small" data-smooth-scroll>Get a List ID</a>
                </li>

                <li class="nav-item">
                  <a href="#configure-mailchimpphp" class="nav-link text-small" data-smooth-scroll>Configure mailchimp.php</a>
                </li>

                <li class="nav-item">
                  <a href="#s-configuration" class="nav-link text-small" data-smooth-scroll>$s configuration</a>
                </li>

                <li class="nav-item">
                  <a href="#troubleshooting" class="nav-link text-small" data-smooth-scroll>Troubleshooting</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>