<button class="btn btn-lg btn-primary btn-block rounded-0 d-md-none" type="button" data-toggle="collapse" data-target="#docs-index" aria-expanded="false" aria-controls="docs-index">
      <svg class="icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3 17C3 17.5523 3.44772 18 4 18H20C20.5523 18 21 17.5523 21 17V17C21 16.4477 20.5523 16 20 16H4C3.44772 16 3 16.4477 3 17V17ZM3 12C3 12.5523 3.44772 13 4 13H20C20.5523 13 21 12.5523 21 12V12C21 11.4477 20.5523 11 20 11H4C3.44772 11 3 11.4477 3 12V12ZM4 6C3.44772 6 3 6.44772 3 7V7C3 7.55228 3.44772 8 4 8H20C20.5523 8 21 7.55228 21 7V7C21 6.44772 20.5523 6 20 6H4Z" fill="#212529"></path>
      </svg>

      <span>Toggle Docs Index</span>
    </button><section class="container-fluid py-0">
      <div class="row">
        <div class="col-12 col-md-3 col-lg-2 border-right pt-3 pt-md-5 docs-sidebar">
          <div id="docs-index" class="collapse">

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Getting Started</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="index.html" class="nav-link text-small">Introduction </a>

                </li>

                <li class="nav-item">
                  <a href="file-structure.html" class="nav-link text-small">File Structure </a>

                </li>

                <li class="nav-item">
                  <a href="gulp.html" class="nav-link text-small">Gulp </a>

                </li>

                <li class="nav-item">
                  <a href="changelog.html" class="nav-link text-small">Changelog </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">How To</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="how-to-edit-color-scheme.html" class="nav-link text-small">Edit Color Scheme </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Graphics</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="graphics-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="graphics-icons.html" class="nav-link text-small">Icons </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">CSS</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="css-avatars.html" class="nav-link text-small">Avatars </a>

                </li>

                <li class="nav-item">
                  <a href="css-decorations.html" class="nav-link text-small">Decorations </a>

                </li>

                <li class="nav-item">
                  <a href="css-dividers.html" class="nav-link text-small">Dividers </a>

                </li>

                <li class="nav-item">
                  <a href="css-icons.html" class="nav-link text-small">Icons </a>

                </li>

                <li class="nav-item">
                  <a href="css-image-backgrounds.html" class="nav-link text-small">Image Backgrounds </a>

                </li>

                <li class="nav-item">
                  <a href="css-utility-classes.html" class="nav-link text-small">Utility Classes </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Javascript</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="js-aos.html" class="nav-link text-small">Animate On Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-countdown.html" class="nav-link text-small">Countdowns </a>

                </li>

                <li class="nav-item">
                  <a href="js-countup.html" class="nav-link text-small">Counters </a>

                </li>

                <li class="nav-item">
                  <a href="js-prism.html" class="nav-link text-small">Code Highlighting </a>

                </li>

                <li class="nav-item">
                  <a href="js-dropdown-grid.html" class="nav-link text-small">Dropdowns (Grid) </a>

                </li>

                <li class="nav-item">
                  <a href="js-fancybox.html" class="nav-link text-small">Fancybox (Lightbox) </a>

                </li>

                <li class="nav-item">
                  <a href="js-flickity.html" class="nav-link text-small">Flickity (Slider) </a>

                </li>

                <li class="nav-item">
                  <a href="#forms-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="forms-collapse">Forms <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="forms-collapse">

                    <li class="nav-item">
                      <a href="js-form-email.html" class="nav-link text-small">Client Side</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-swiftmailer.html" class="nav-link text-small">Send to Email</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-form-mailchimp.html" class="nav-link text-small">Send to MailChimp</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-recaptcha-v2.html" class="nav-link text-small">reCAPTCHA</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-maps.html" class="nav-link text-small">Google Maps </a>

                </li>

                <li class="nav-item">
                  <a href="js-isotope.html" class="nav-link text-small">Isotope (Masonry Layout) </a>

                </li>

                <li class="nav-item">
                  <a href="#navs-bars-collapse" class="nav-link text-small" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="navs-bars-collapse">Navs Bars <svg class="bg-dark icon" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
</svg>
</a>

                  <ul class="nav flex-column collapse pl-3" id="navs-bars-collapse">

                    <li class="nav-item">
                      <a href="js-overlay-nav.html" class="nav-link text-small">Overlay</a>
                    </li>

                    <li class="nav-item">
                      <a href="js-sticky.html" class="nav-link text-small">Sticky</a>
                    </li>

                  </ul>

                </li>

                <li class="nav-item">
                  <a href="js-jarallax.html" class="nav-link text-small">Parallax </a>

                </li>

                <li class="nav-item">
                  <a href="js-loading-animations.html" class="nav-link text-small">Page Load Animations </a>

                </li>

                <li class="nav-item">
                  <a href="js-fade-page.html" class="nav-link text-small">Page Transitions </a>

                </li>

                <li class="nav-item">
                  <a href="js-ion-rangeslider.html" class="nav-link text-small">Range Sliders </a>

                </li>

                <li class="nav-item">
                  <a href="js-reading-position.html" class="nav-link text-small">Scroll Progress Bar </a>

                </li>

                <li class="nav-item">
                  <a href="js-smooth-scroll.html" class="nav-link text-small">Smooth Scroll </a>

                </li>

                <li class="nav-item">
                  <a href="js-twitter-fetcher.html" class="nav-link text-small">Twitter Feeds </a>

                </li>

                <li class="nav-item">
                  <a href="js-typed-text.html" class="nav-link text-small">Typed Text </a>

                </li>

                <li class="nav-item">
                  <a href="js-plyr.html" class="nav-link text-small">Video Players </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">PHP</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="php-mailchimp.html" class="nav-link text-small">Mailchimp Form Handler </a>

                </li>

                <li class="nav-item">
                  <a href="php-swiftmailer.html" class="nav-link text-small">Email Form Handler </a>

                </li>

              </ul>
            </div>

            <div class="mb-3 mb-md-4">
              <h6 class="mb-2">Bootstrap</h6>
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/alerts/" class="nav-link text-small" target="_blank">Alerts </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/badge/" class="nav-link text-small" target="_blank">Badges </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/breadcrumb/" class="nav-link text-small" target="_blank">Breadcrumbs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/buttons/" class="nav-link text-small" target="_blank">Buttons </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/card/" class="nav-link text-small" target="_blank">Cards </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/dropdowns/" class="nav-link text-small" target="_blank">Dropdowns </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/forms/" class="nav-link text-small" target="_blank">Forms </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/layout/grid/" class="nav-link text-small" target="_blank">Grid System </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/modal/" class="nav-link text-small" target="_blank">Modals </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navbar/" class="nav-link text-small" target="_blank">Navbars </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/navs/" class="nav-link text-small" target="_blank">Navs </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/popovers/" class="nav-link text-small" target="_blank">Popovers </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/progress/" class="nav-link text-small" target="_blank">Progress </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/tables/" class="nav-link text-small" target="_blank">Tables </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/components/tooltips/" class="nav-link text-small" target="_blank">Tooltips </a>

                </li>

                <li class="nav-item">
                  <a href="http://getbootstrap.com/docs/4.3/content/typography/" class="nav-link text-small" target="_blank">Typography </a>

                </li>

              </ul>
            </div>

          </div>
        </div>
        <div class="col-md-9 col-lg-10">
          <div class="row">
            <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
              <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
                <h1>Email Form Handler</h1>
                <div class="lead">
                  <p>A server-side PHP script to send emails when a form is submitted. Works in tandem with <a href="js-form-email.html" target="_blank">frontend script</a> to provide a seamless experience.</p>
                </div>
              </div>

              <article id="what-is-it" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>What is it?</p>
                
                <div>
                  <p>This script takes the user's form inputs and sends the details in a templated HTML email to the site admin, and optionally a confirmation email to the user.</p>
                  <p>Data from your form is submitted to this script, which is then processed and sent via the Swiftmailer email library.</p>
                  <p>We've taken the hard work out of setting up contact forms. By configuring settings in the <code>forms/smtp.php</code> file you can easily send rich emails to the site owner and user alike.</p>
                  <p>Forms can be protected by Google reCAPTCHA v2 (Checkbox and Invisible reCAPTCHA). See our <a href="js-recaptcha-v2.html" target="_blank">reCAPTCHA docs</a> for more detail.</p>
                  <p>The script returns JSON data to interface with the form javascript on the browser side.</p>
                  <h5>Features</h5>
                  <ul>
                    <li>Swiftmailer Library</li>
                    <li>SMTP with optional TLS/SSL</li>
                    <li>reCAPTCHA</li>
                    <li>Plain Text + HTML included in emails</li>
                    <li>Save submissions to CSV file</li>
                    <li>HTML templated email to site owner</li>
                    <li>HTML templated confirmation message to user</li>
                    <li>JSON response to interface with form scripts provided with theme.</li>
                  </ul>

                </div>
              </article>

              <article id="requirements" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Requirements</p>
                
                <div>
                  <p>To use the <code>smtp.php</code> form handler you will need the following;</p>
                  <ul>
                    <li>An email account from which to send the email</li>
                    <li>SMTP server details for the email account</li>
                    <li>A PHP server &gt; 5.4</li>
                    <li>Configuration of settings in <code>forms/smtp.php</code>
                    </li>
                  </ul>

                </div>
              </article>

              <article id="how-it-works" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>How it Works</p>
                
                <div>
                  <p>When your user submits a form:</p>
                  <ul>
                    <li>The input is passed to <code>smtp.php</code>.</li>
                    <li>User's input is processed.</li>
                    <li>Inputs are inserted into an HTML template.</li>
                    <li>An email is constructed from the template.</li>
                    <li>Your web server uses Swiftmailer library to connect to an SMTP server and send an email to the specified address.</li>
                    <li>Optionally a templated HTML email can be sent to the user as confirmation.</li>
                    <li>Optionally the submission data can be saved to a CSV file.</li>
                    <li>Success/error feedback is passed back to the browser as JSON.</li>
                  </ul>

                </div>
              </article>

              <article id="choosing-a-sending-server" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Choosing a Sending Server</p>
                
                <div>
                  <p>Set up a new email account on a reliable SMTP server to handle sending emails.</p>
                  <p>We recommend using an SMTP server associated with your hosting account if possible. This is to minimise any potential communication issues between the web server and the SMTP server.</p>
                  <p>Some SMTP servers are difficult to work with. We <strong>don't recommend using Gmail</strong> as your sending server for the following reasons:</p>
                  <ul>
                    <li>Gmail servers are particular about security, and you will need to make adjustments in your account's security settings in order to send the email from a Gmail account.</li>
                    <li>If you use two-factor authentication with your Google account, a <strong>Single App Password</strong> will need to be used.</li>
                    <li>Gmail will refuse to connect to some host's web servers - such as GoDaddy. This may be because the shared hosting server's IP address is blacklisted by Gmail for historical spamming offences.</li>
                  </ul>

                </div>
              </article>

              <article id="configuring-smtpphp" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Configuring settings in <code>smtp.php</code>
                  </p>
                
                <div>
                  <p>All email settings are contained in <code>forms/smtp.php</code>.</p>
                  <p>Configuration takes the form of PHP variable declaration. All of the variables are already set up with dummy data.</p>
                  <p>Change the values on the right hand side of the <code>=</code> sign leaving the quotes intact. Values such as <code>true</code>, <code>false</code> and <code>null</code> should not have quotes.</p>
                  <p>All settings are required.</p>
                  <h6>Server Connection Settings</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$outgoingServerAddress</code>
                        </td>
                        <td>Hostname or IP address of the sending server to use.</td>
                      </tr>
                      <tr>
                        <td>
<code>$outgoingServerPort</code>
                        </td>
                        <td>Port number used to connect to SMTP server. Usually <code>"25"</code> or <code>"587"</code>.</td>
                      </tr>
                      <tr>
                        <td>
<code>$outgoingServerSecurity</code>
                        </td>
                        <td>Security protocol configured on your SMTP server. Supported types are <code>"ssl"</code>, <code>"tls"</code> or <code>null</code>.</td>
                      </tr>
                    </tbody>
                  </table>
                  <h6>Sending Account Settings</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$sendingAccountUsername</code>
                        </td>
                        <td>Username for the email account that will send the email. Often this is the email address itself.</td>
                      </tr>
                      <tr>
                        <td>
<code>$sendingAccountPassword</code>
                        </td>
                        <td>Password for the sending account.</td>
                      </tr>
                    </tbody>
                  </table>
                  <h6>Admin Recipient Settings</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$recipientEmail</code>
                        </td>
                        <td>Email address of the intended recipient - usually the site owner or admin.</td>
                      </tr>
                      <tr>
                        <td>
<code>$recipientName</code>
                        </td>
                        <td>The name for the <code>To:</code> field of the email.</td>
                      </tr>
                    </tbody>
                  </table>
                  <h6>Email to Admin Settings</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$emailSubject</code>
                        </td>
                        <td>Subject of the email that the admin will see.</td>
                      </tr>
                      <tr>
                        <td>
<code>$websiteName</code>
                        </td>
                        <td>Used as the <code>From:</code> name on the email.</td>
                      </tr>
                      <tr>
                        <td>
<code>$adminEmailTemplate</code>
                        </td>
                        <td>Filename of the template to be used for the admin email. Must be a file in the <code>templates</code> folder see <a href="#admin-email-template">Admin Email Template</a> section below.</td>
                      </tr>
                    </tbody>
                  </table>
                  <h6>Feedback Settings</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$successMessage</code>
                        </td>
                        <td>Message to be shown to user when form submission was successfully received and email was successfully sent.</td>
                      </tr>
                    </tbody>
                  </table>
                  <h6>reCAPTCHA Settings</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$recaptchaSecretKey</code>
                        </td>
                        <td>Optional. If your form contains a reCAPTCHA widget, or uses invisible reCAPTCHA, place your secret key here. See <a href="js-recaptcha-v2.html" target="_blank">reCAPTCHA documentation</a> for more detail.</td>
                      </tr>
                      <tr>
                        <td>
<code>$recaptchaErrorMessage</code>
                        </td>
                        <td>Optional. If using reCAPTCHA, this is an explanation to the user for when a reCAPTCHA error occurs.</td>
                      </tr>
                    </tbody>
                  </table>
                  <h6>Confirmation Email Settings</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$sendConfirmationToUser</code>
                        </td>
                        <td>Enable or disable confirmation email to the user. Accepts <code>true</code> or <code>false</code>.</td>
                      </tr>
                      <tr>
                        <td>
<code>$userEmailField</code>
                        </td>
                        <td>Name of the form field which captured the user's email address. Usually <code>"email"</code> or <code>"contact-email"</code>
                        </td>
                      </tr>
                      <tr>
                        <td>
<code>$userNameField</code>
                        </td>
                        <td>Name of the form field which captured the user's name.</td>
                      </tr>
                      <tr>
                        <td>
<code>$confirmationEmailTemplate</code>
                        </td>
                        <td>Filename of the template to be used for the confirmation email. Must be a file in the <code>templates</code> folder see <a href="#confirmation-email-template">Admin Email Template</a> section below.</td>
                      </tr>
                      <tr>
                        <td>
<code>$confirmationSubject</code>
                        </td>
                        <td>Subject of the confirmation email.</td>
                      </tr>
                      <tr>
                        <td>
<code>$confirmationFromName</code>
                        </td>
                        <td>Used in the <code>From:</code> field of the confirmation email.</td>
                      </tr>
                      <tr>
                        <td>
<code>$confirmationReplyTo</code>
                        </td>
                        <td>Input an email address. If the user hits <strong>Reply</strong> on the confirmation email, this is the address where the reply will be sent.</td>
                      </tr>
                      <tr>
                        <td>
<code>$confirmationReplacements</code>
                        </td>
                        <td>Please see <a href="#confirmation-email-template">Confirmation Email Template</a> section below.</td>
                      </tr>
                    </tbody>
                  </table>
                  <h6>CSV Settings</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Variable</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>$saveToCSV</code>
                        </td>
                        <td>Enable or disable saving user input to CSV file. Accepts <code>true</code> or <code>false</code>.</td>
                      </tr>
                      <tr>
                        <td>
<code>$saveToCSVFileName</code>
                        </td>
                        <td>A relative path to a file where the CSV data should be stored eg. <code>"csv/csv_forms_email_1.csv"</code> saves in <code>forms/csv</code> folder. If the file does not exist, it will be created.</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </article>

              <article id="admin-email-template" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Admin Email Template</p>
                
                <div>
                  <p>Located in the <code>forms/templates/email_to_admin.html</code> file is a basic HTML template used as the default content for the email sent out to the site owner.</p>
                  <p>Templates must be located in the <code>templates</code> folder, and you may edit the template however you see fit.</p>
                  <p>The admin template has access to the <code>$_POST</code> variable only. This is the form data sent from the user to the server.</p>
                  <p>Output form data to the email template using tags with double square brackets, which are replaced with the text from the corresponding form input:</p>
                  <pre><code class="language-html">User's email address: [[contact-email]]

outputs:

User's email address: user@domain.com</code></pre>
                  <p>Square brackets must not contain spaces, and must match the name of a form input on the page.</p>
                  <p>Any other text in the template is output as normal. The template should contain valid HTML compatible with an email reader app.</p>
                  <p>The text version of the email will contain a basic readout of the user's inputs listed by name of the input field.</p>

                </div>
              </article>

              <article id="confirmation-email-template" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Confirmation Email Template</p>
                
                <div>
                  <p>Located in the <code>forms/templates/confirmation_to_user.html</code> file is a basic HTML template. This is used as the default content for the confirmation email sent to the user.</p>
                  <p>Templates must be located in the <code>templates</code> folder, and you may edit the template however you see fit.</p>
                  <p>Data for the confirmation template is specified in the <code>$confirmationReplacements</code> array in <code>smtp.php</code>. In the resulting email, the text provided in each <code>key</code> of the array (left of the <code>=&gt;</code> arrow)
                    will be replaced by its value (right side of the <code>=&gt;</code> arrow).</p>
                  <p>Include dynamic data in the email by inserting the tags from the <code>$confirmationReplacements</code> keys where necessary in the template.</p>
                  <p>This example shows how the text <code>[[contact-email]]</code> and <code>[[webAddress]]</code> will be replaced by values in the array.</p>
                  <pre><code class="language-html">// array specified in smtp.php
$confirmationReplacements  = array( 
    "[[contact-email]]"  =&gt; $_POST["contact-email"],
    "[[webAddress]]"     =&gt; 'http://mrare.co',
);


// Template text in forms/templates/confirmation-to-user.html
Thanks for your enquiry, we'll contact you on the following email address: [[contact-email]]
Feel free to contact us any time through our website at [[webAddress]]


// Transformed output sent to the user
Thanks for your enquiry, we'll contact you on the following email address: user@domain.com
Feel free to contact us any time through our website at http://mrare.co</code></pre>
                  <p>Any other text in the template is output as normal. The template should contain valid HTML compatible with an email reader app.</p>
                  <p>The text version of the confirmation email will contain a basic copy of the HTML version with all HTML <code>&lt;tags&gt;</code> stripped.</p>

                </div>
              </article>

              <article id="multiple-forms" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Handling Multiple Forms</p>
                
                <div>
                  <p>In some instances you may have a need for two forms on the same site to submit to two separate addresses using different templates.</p>
                  <p>This is simply a matter of creating two different versions of <code>smtp.php</code> to handle the different cases.</p>
                  <ul>
                    <li>Copy the original <code>smtp.php</code> file and rename it eg. <code>smtp-contact-2.php</code>
                    </li>
                    <li>Point the new form's <code>action</code> attribute to the new file: <code>action="forms/smtp-contact-2.php"</code>
                    </li>
                    <li>Edit the details of <code>smtp-contact-2.php</code> to meet your needs for the second form.</li>
                  </ul>

                </div>
              </article>

              <article id="troubleshooting" class="mb-4 mb-md-6">
                <h3>
                  </h3>
<p>Troubleshooting</p>
                
                <div>
                  <p>Common errors that may arise during configuration of form handlers:</p>
                  <h6>Common Errors</h6>
                  <table>
                    <thead>
                      <tr>
                        <th>Error</th>
                        <th>Description</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
<code>Connection refused</code>
                        </td>
                        <td>Could be caused by the SMTP server rejecting the connection from your web server or your web server may be behind a firewall and cannot reach the outside network. Contact your hosting provider to ascertain if this is the case.</td>
                      </tr>
                      <tr>
                        <td>
<code>Internal Server Error</code>
                        </td>
                        <td>This is a very general error and can be hard to diagnose. Generally this is a syntax error in your <code>smtp.php</code> file. You can copy your code to an online PHP code checker to help identify problems in the syntax, or uncomment
                          the first two lines of <code>smtp.php</code> to reveal more descriptive PHP error messages. Alternatively, check the error logs on your server for detailed information.</td>
                      </tr>
                      <tr>
                        <td>
<code>200 JSON Parse error, unexpected '&lt;'</code>
                        </td>
                        <td>The server is not returning JSON, instead it is producing error text in HTML format, so jQuery can't handle it as JSON. Check the <strong>network</strong> tab in your browser developer tools, locate the <code>smtp.php</code> request
                          and view the response to read the full error text.</td>
                      </tr>
                      <tr>
                        <td>
<code>There was an error verifying the Google reCaptcha</code>
                        </td>
                        <td>Check that your secret key is properly set in <code>smtp.php</code>.</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </article>

            </div>
            <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
              <ul class="nav flex-column">

                <li class="nav-item">
                  <a href="#what-is-it" class="nav-link text-small" data-smooth-scroll>What is it?</a>
                </li>

                <li class="nav-item">
                  <a href="#requirements" class="nav-link text-small" data-smooth-scroll>Requirements</a>
                </li>

                <li class="nav-item">
                  <a href="#how-it-works" class="nav-link text-small" data-smooth-scroll>How it Works</a>
                </li>

                <li class="nav-item">
                  <a href="#choosing-a-sending-server" class="nav-link text-small" data-smooth-scroll>Choosing a Sending Server</a>
                </li>

                <li class="nav-item">
                  <a href="#configuring-smtpphp" class="nav-link text-small" data-smooth-scroll>Configuring smtp.php</a>
                </li>

                <li class="nav-item">
                  <a href="#admin-email-template" class="nav-link text-small" data-smooth-scroll>Admin Email Template</a>
                </li>

                <li class="nav-item">
                  <a href="#confirmation-email-template" class="nav-link text-small" data-smooth-scroll>Confirmation Email Template</a>
                </li>

                <li class="nav-item">
                  <a href="#multiple-forms" class="nav-link text-small" data-smooth-scroll>Multiple Forms</a>
                </li>

                <li class="nav-item">
                  <a href="#troubleshooting" class="nav-link text-small" data-smooth-scroll>Troubleshooting</a>
                </li>

              </ul>
            </div>
          </div>

        </div>
      </div>
    </section>