<section class="bg-primary-3 min-vh-100 jarallax d-flex align-items-center text-light" data-jarallax data-speed="0.7">
      <img src="template-assets/img/portfolio-single-6.jpg" alt="Image" class="jarallax-img">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <h1 class="display-2 mb-0">Go Commerce</h1>
            <span class="lead">Branding &amp; Identity &amp;bullet; Nike</span>
          </div>
        </div>
      </div>
    </section><section class="bg-primary-3 min-vh-100 jarallax" data-overlay data-jarallax data-speed="0.2">
      <img src="template-assets/img/portfolio-single-1.jpg" alt="Image" class="jarallax-img">
    </section><section class="bg-primary-3 min-vh-100 jarallax d-flex align-items-center text-light" data-jarallax data-speed="0.7">
      <img src="template-assets/img/portfolio-single-7.jpg" alt="Image" class="jarallax-img">
      <div class="container">
        <div class="row justify-content-center text-center" data-aos="fade-up">
          <div class="col-xl-9">
            <h3 class="display-4">“The team were totally reponsive and an absolute pleasure to work with”</h3>
            <span class="lead">Annabelle Porter, Founder</span>
          </div>
        </div>
      </div>
    </section><section class="bg-primary-3 min-vh-100 jarallax" data-jarallax data-speed="0.2">
      <img src="template-assets/img/portfolio-single-2.jpg" alt="Image" class="jarallax-img">
    </section><section class="bg-primary-3 min-vh-100 jarallax d-flex align-items-center text-light" data-jarallax data-speed="0.7">
      <img src="template-assets/img/portfolio-single-8.jpg" alt="Image" class="jarallax-img">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-6 mb-3 col-lg-4 mb-lg-0" data-aos="fade-right">
            <h4 class="display-1 d-block mb-1" data-countup data-start="1000" data-end="5000" data-duration="3" data-grouping="true" data-suffix="+"></h4>
            <span class="lead">Unique Signups</span>
          </div>
          <div class="col-md-6 mb-3 col-lg-4 mb-lg-0" data-aos="fade-left">
            <h4 class="display-1 d-block mb-1" data-countup data-start="0" data-end="94" data-duration="3" data-grouping="true" data-suffix="%"></h4>
            <span class="lead">Conversion Increase</span>
          </div>
        </div>
      </div>
    </section><section class="bg-primary-3 min-vh-100 jarallax" data-jarallax data-speed="0.2">
      <img src="template-assets/img/portfolio-single-3.jpg" alt="Image" class="jarallax-img">
    </section><section class="bg-primary-3 min-vh-100 jarallax d-flex align-items-center text-light" data-jarallax data-speed="0.7">
      <img src="template-assets/img/portfolio-single-9.jpg" alt="Image" class="jarallax-img">
      <div class="container">
        <div class="row justify-content-center text-center" data-aos="fade-up">
          <div class="col-xl-9">
            <h3 class="display-4">“The results surpassed our loftiest expectations.”</h3>
            <span class="lead">Camilla Smith, Co-Founder</span>
          </div>
        </div>
      </div>
    </section><section class="bg-primary-3 min-vh-100 jarallax" data-jarallax data-speed="0.2">
      <img src="template-assets/img/portfolio-single-4.jpg" alt="Image" class="jarallax-img">
    </section><section>
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <h3 class="h2">Related Stories</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-lg-4 mb-4">
            <a href="#">
              <img src="template-assets/img/portfolio-item-3.jpg" alt="Beker EV" class="rounded mb-3">
              <h4 class="mb-0">Beker EV</h4>
              <div class="text-small text-muted">Art Direction</div>
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a href="#">
              <img src="template-assets/img/portfolio-item-2.jpg" alt="Oculus Go" class="rounded mb-3">
              <h4 class="mb-0">Oculus Go</h4>
              <div class="text-small text-muted">Branding</div>
            </a>
          </div>
          <div class="col-sm-6 col-lg-4 mb-4">
            <a href="#">
              <img src="template-assets/img/portfolio-item-1.jpg" alt="Leap iOS" class="rounded mb-3">
              <h4 class="mb-0">Leap iOS</h4>
              <div class="text-small text-muted">Digital</div>
            </a>
          </div>
        </div>
      </div>
    </section>