<div class="row pt-5 py-5 layer-2">
      <div class="container">

          <div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/marketplace">Collections</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Health & Support</li>
        </ol>
      </nav>
      <br>
    </div>
  </div>
</div>
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5 mt-3">Health & Support</h1>
      <p class="lead mb-2">Get support in all the areas that matter most.</p>
    </div>
  </div>
</div>

<section class="pt-0">
  <div class="container">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">See All</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Health Promotion</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Employee Support</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-interest-tab" data-toggle="pill" href="#pills-interest" role="tab" aria-controls="pills-contact" aria-selected="false">Insurance Initiatives</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col-sm-12">
            <br>
            <%= render 'layouts/filterspremium' %>
          </div>


      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="/pages/debt">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h5 class="mb-0">Debt Management <i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/medical">
          <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
          <h5 class="mb-0">Medical <i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="/pages/financialadvice">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h5 class="mb-0">Financial Advice</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="/pages/councelling">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Councelling Online<i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="/pages/eap">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">EAP<i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/purchases">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Dental Cashplan <i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">You purchased a 1 year licence</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Insurance">
        <a href="/pages/medinsurance">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Private Medical Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/healthcashplan">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Health Cashplan</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Insurance">
        <a href="/pages/healthinsurance">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Health Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Insurance">
        <a href="/pages/critical">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Critical Illness Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/mental">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Mental Health <i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/physio">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Physiotherapy</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>

        </div>       
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="col-sm-12">
            <br>
            <%= render 'layouts/filterspremium' %>
          </div>

           
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/medical">
          <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
          <h5 class="mb-0">Medical <i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      
      
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/purchases">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Dental Cashplan <i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">You purchased a 1 year licence</div>
        </a>
      </div>
      
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/healthcashplan">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Health Cashplan</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      
      
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/mental">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Mental Health <i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Health">
        <a href="/pages/physio">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Physiotherapy</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">

          <div class="col-sm-12">
            <br>
            <%= render 'layouts/filterspremium' %>
          </div>
          
      
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="/pages/debt">
          <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
          <h5 class="mb-0">Debt Management <i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
     
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="/pages/financialadvice">
          <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
          <h5 class="mb-0">Financial Advice</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="/pages/councelling">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Councelling Online<i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Support">
        <a href="/pages/eap">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">EAP<i class="fa fa-check"></i></h5>
          <div class="text-small text-muted">Gifted by your company</div>
        </a>
      </div>
      
          
        </div>
      </div>
       <div class="tab-pane fade" id="pills-interest" role="tabpanel" aria-labelledby="pills-contact-tab">
         <div class="row">
          <div class="col-sm-12">
            <br>
            <%= render 'layouts/filterspremium' %>
          </div>
          
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Insurance">
        <a href="/pages/medinsurance">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Private Medical Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
     
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Insurance">
        <a href="/pages/healthinsurance">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Health Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Insurance">
        <a href="/pages/critical">
          <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
          <h5 class="mb-0">Critical Illness Insurance</h5>
          <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
        </a>
      </div>
      
          
        </div>
       </div>
        <div class="tab-pane fade" id="pills-card" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="row">
          <div class="col col-md-12">
            <div class="row">
              <div class="col col-md-12">
                <div class="card shadow border-0">
                  <div class="card-body py-5">
                  <div class="col-xl-6 col-lg-8">
                      <h2>My cards</h2>
                      <p>Make your money go further when you spend locally.</p>
<p>Link your bank card, pay full price and earn credit back every time you visit a participating location.</p>

                      <br>
                      <a href="#" class="btn btn-light">Link your card</a>
                      <a href="/pages/financial" class="btn btn-primary">View participating locations</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>

<div class="container">
        <div class="row">
          <div class="col text-center">
            <span class="lead">Want our connected experience? <a href="/pages/premium" class="hover-arrow bill">View our packages</a>
            </span>
          </div>
        </div>
        </div>

        <br>
        <br>


