<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">My Profile</h1>
      <p class="lead mb-0">Manage your settings and customise your experience.</p>
    </div>
  </div>
</div>

<section class="pt-0">
  <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link btn active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">My Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">My Password</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Notification Preferences</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" id="pills-interest-tab" data-toggle="pill" href="#pills-interest" role="tab" aria-controls="pills-contact" aria-selected="false">My Interests & Drivers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" id="pills-card-tab" data-toggle="pill" href="#pills-card" role="tab" aria-controls="pills-contact" aria-selected="false">My Cards</a>
      </li>
    </ul>
    <hr>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-6 col-lg-8">
                  <h2>My Details</h2>
                  <form>
                    <div class="form-group">
                      <label for="">First Name</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="Joe">
                    </div>
                  </form>
                  <div class="form-group">
                      <label for="input-group-example">Last Name</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="Bloggs">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Email Address</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="joe@example.com">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Job Role</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="Job Role">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Gender</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="Male">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Telephone</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="07777 777777">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Data Of Birth</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="22/10">
                    </div>
                  <br>
                  <a href="#" class="btn btn-primary">Update details</a>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-6 col-lg-8">
                  <h2>My Password</h2>
                  <form>
                    <div class="form-group">
                      <label for="">Enter your old password</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="*******">
                    </div>
                  </form>
                  <div class="form-group">
                      <label for="input-group-example">New Password</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" placeholder="">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">New Password</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" placeholder="">
                    </div>
                  
                  <br>
                  
                  <a href="#" class="btn btn-primary">Update password</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-6 col-lg-8">
                  <h2>Notification Preferences</h2>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                      Notify me when...
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck2">
                    <label class="form-check-label" for="defaultCheck2">
                      Notify me when...
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck3">
                    <label class="form-check-label" for="defaultCheck3">
                      Notify me when...
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" checked="checked" id="defaultCheck4">
                    <label class="form-check-label" for="defaultCheck4">
                      Notify me when...
                    </label>
                  </div>
                  
                  
                  
                  <br>
                  
                  <a href="#" class="btn btn-primary">Save preferences</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
       <div class="tab-pane fade" id="pills-interest" role="tabpanel" aria-labelledby="pills-contact-tab">
         <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-12 col-lg-12">
                  <h2>My Interests</h2>
                  <p class="text-muted mt-3">So we can help curate The Collections to suit your interests</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Music</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Technology</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Fashion</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox3">Travel</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                    <label class="form-check-label" for="inlineCheckbox3">Food & Drink</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                    <label class="form-check-label" for="inlineCheckbox3">Health & lifestyle</label>
                  </div>
                  <br>
                  <br>
                  <h2>My Workplace Drivers</h2>
                  <p class="text-muted">The things that get the best out of you at work</p>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Work-life Balance</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Teamwork</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Communication</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox3">Manager Relationships</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox5" value="option5">
                    <label class="form-check-label" for="inlineCheckbox3">Strategy & Leadership</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox6" value="option6">
                    <label class="form-check-label" for="inlineCheckbox3">Health & lifestyle</label>
                  </div>
                  <br>
                  
                  
                  <br>
                  
                  <a href="#" class="btn btn-primary">Save interests & drivers</a>
                </div>
              </div>
            </div>
          </div>
        </div>
       </div>
        <div class="tab-pane fade" id="pills-card" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="row">
          <div class="col col-md-12">
            <div class="row">
              <div class="col col-md-12">
                <div class="card shadow border-0">
                  <div class="card-body py-5">
                  <div class="col-xl-6 col-lg-8">
                      <h2>My cards</h2>
                      <p>Make your money go further when you spend locally.</p>
<p>Link your bank card, pay full price and earn credit back every time you visit a participating location.</p>

                      <br>
                      <a href="#" class="btn btn-light">Link your card</a>
                      <a href="/pages/financial#pills-interest" class="btn btn-primary">View participating locations</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>



  