<div class="row pt-5 py-5 layer-2">
      <div class="container">
        <div class="container">
        <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/manageteam">My Team</a>
          </li>
           <li class="breadcrumb-item">
            <a href="/pages/manageteam#pills-profile">People</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Adam Smith</li>
        </ol>
      </nav>
      <br>
    </div>
  </div>
</div>

  <div class="row">
          <div class="col-xl-8 col-lg-8">
              <h1 class="display-5"><img src="/avatar.png" class="avatar avatar-lg m-1">Adam Smith</h1>
            </div>
            <div class="col-xl-4 col-lg-4">

              <div class="card card-sm card-body flex-row align-items-center">
                  

                  <div class="ml-3">
                    <h5 class="mb-0"><i class="fa fa-diamond" aria-hidden="true"></i> 42 Credits</h5>
                    <a href="#" class="hover-arrow">Manage Adam's Credit</a>
                  </div>
                </div>
            



            </div>
          </div>


<section class="pt-0">
  <div class="container">
    <ul class="nav nav-tabs mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Details</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Reward & Recognition</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Incentives</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-interest-tab" data-toggle="pill" href="#pills-interest" role="tab" aria-controls="pills-contact" aria-selected="false">Gifts</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-6 col-lg-8">
                  <h2>Details</h2>
                  <form>
                    <div class="form-group">
                      <label for="">First Name</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="Joe">
                    </div>
                  </form>
                  <div class="form-group">
                      <label for="input-group-example">Last Name</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="Bloggs">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Email Address</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="joe@example.com">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Job Role</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="Job Role">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Gender</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="Male">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Telephone</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="07777 777777">
                    </div>
                  
                  <div class="form-group">
                      <label for="input-group-example">Data Of Birth</label>
                      <input type="text" class="form-control" id="input-group-example" aria-describedby="input-group-example" value="22/10">
                    </div>
                  <br>
                  <a href="#" class="btn btn-primary">Update details</a>
                  <a href="#" class="btn btn-primary">Deactivate</a>
                  <a href="#" class="btn btn-primary">Delete</a>
                </div>
              </div>
            </div>
          </div>
        </div>       
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-12 col-lg-12">
                  <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th style="width: 20%" scope="col">When</th>
                            <th style="width: 20%" scope="col">Who From</th>
                            <th style="width: 20%" scope="col">Description</th>
                            <th style="width: 20%" scope="col">Company Value</th>
                            <th style="width: 20%" scope="col">Gift/Reward</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Just now</th>
                            <td><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> Your Manager</td>
                            <td>Here's a description of what you've been recognised for...</td>
                            <td>Company Value 1</td>
                            <td>-</td>
                          </tr>
                           <tr>
                            <th scope="row">Just now</th>
                            <td><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> Your Colleague</td>
                            <td>Here's a description of what you've been recognised for...</td>
                            <td>Company Value 2</td>
                            <td>-</td>
                          </tr>
                        </tbody>
                      </table>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">

                <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th style="width: 20%" scope="col">When</th>
                            <th style="width: 20%" scope="col">Who From</th>
                            <th style="width: 20%" scope="col">Incentive</th>
                            <th style="width: 20%" scope="col">Goal</th>
                            <th style="width: 20%" scope="col">Value</th>
                              <th style="width: 20%" scope="col">Expires</th>
                                <th style="width: 20%" scope="col">Status</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Just now</th>
                            <td><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> Your Manager</td>
                            <td>20 Credits</td>
                            <td>Hitting your KPIs</td>
                            <td>20 Credits</td>
                            <td>16/5/19</td>
                            <td>In Progress</td>
                          </tr>
                        </tbody>
                      </table>


                </div>
            </div>
          </div>
        </div>
      </div>
       <div class="tab-pane fade" id="pills-interest" role="tabpanel" aria-labelledby="pills-contact-tab">
         <div class="row">
          <div class="col col-md-12">
            <div class="card shadow border-0">
              <div class="card-body py-5">
              <div class="col-xl-12 col-lg-12">
                <h2>Gifts</h2>
                  <p>Adam has no gifts yet</p>
              
                  </div>
              </div>
            </div>
          </div>
        </div>
       </div>
        <div class="tab-pane fade" id="pills-card" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="row">
          <div class="col col-md-12">
            <div class="row">
              <div class="col col-md-12">
                <div class="card shadow border-0">
                  <div class="card-body py-5">
                    <div class="col-xl-12 col-lg-12">
                <h2>Activity</h2>
                  <p>See all activity this person has had</p>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
    </div>
  </div>
</section>



  