


<div class="row pt-5 py-5 layer-2">
      <div class="container">

        <div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/manageteam">My Team</a>
          </li>
          <li class="breadcrumb-item">
            <a href="/pages/manageteam">Insights</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Recognition Stats</li>
        </ol>
      </nav>
      <br>
    </div>
  </div>
</div>


  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5 mt-3 mb-3">Recognition Stats</h1>
    </div>
  </div>
</div>

<div class="container"> 
              <%= render 'layouts/filtersrecogntion' %>

              <div class="row">
                <div class="col-md-12">
                  <img src="/company2.png" alt="Volkswagen Australia" class="rounded mb-3">
                </div>
              </div>

    

              </div>