<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">My Rewards & Recognition</h1>
      <p class="lead mb-0">It's important to celebrate your successes. Keep track of your rewards and all the great things you've done.</p>
    </div>
  </div>
</div>

<section class="pt-0">
  <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link btn active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">My Rewards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">My Recognition</a>
      </li>
    </ul>
    <hr>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="row">
              

            <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Rewarded">
              <a href="/pages/asos">
                <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                <h5 class="mb-0">Asos Giftcard</h5>
                <div class="text-small text-muted"><i class="fa fa-trophy" aria-hidden="true"></i> Rewarded by your manager</div>
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
              <a href="/pages/netflix">
                <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
                <h5 class="mb-0">Netflix Giftcard £30</h5>
                <div class="text-small text-muted">Rewarded by your manager <i class="fa fa-trophy" aria-hidden="true"></i></div>
              </a>
            </div>
            <div class="col-sm-6 col-lg-3 mb-4" data-isotope-item data-category="Branding">
              <a href="/pages/netflix">
                <img src="/placeholder.jpg" alt="Oculus Go" class="rounded mb-3">
                <h5 class="mb-0">50 Credits</h5>
                <div class="text-small text-muted">Rewarded by Team Manager <i class="fa fa-trophy" aria-hidden="true"></i></div>
              </a>
            </div>
          



            </div>   
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="row">
          <div class="col col-md-12">
              <div class="col-xl-12 col-lg-12">
                  <div class="container">
                    <div class="row">
                      <div class="col-xl-12 col-lg-12">
                      <table class="table table-responsive">
                        <thead>
                          <tr>
                            <th style="width: 20%" scope="col">When</th>
                            <th style="width: 20%" scope="col">Who By</th>
                            <th style="width: 20%" scope="col">Description</th>
                            <th style="width: 20%" scope="col">Company Value</th>
                            <th style="width: 20%" scope="col">Gift</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Just now</th>
                            <td><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> Your Manager</td>
                            <td>Here's a description of what you've been recognised for...</td>
                            <td>Company Value 1</td>
                            <td>-</td>
                          </tr>
                           <tr>
                            <th scope="row">Just now</th>
                            <td><img src="/avatar.png" alt="User" class="avatar avatar-sm dropdown-toggle"> Your Colleague</td>
                            <td>Here's a description of what you've been recognised for...</td>
                            <td>Company Value 2</td>
                            <td>-</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
      