<div class="row pt-5 py-5 layer-2">
      <div class="container">
  <div class="col-xl-8 col-lg-10">
      <h1 class="display-5">My Redeemed Perks</h1>
      <p class="lead mb-0">Browse your previously redeemed perks and get access to them when you're on the go.</p>
    </div>
  </div>
</div>



<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="card shadow border-0">
        <div class="card-body py-5">
        <div class="col-xl-12 col-lg-12">
            <table class="table able-responsive">
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Title</th>
                  <th scope="col">Code</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">22/3/2019</th>
                  <td>Perk/Discount Name</td>
                  <td>12427</td>
                  <td><div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                <label class="custom-control-label" for="customSwitch1">Mark as used</label>
              </div></td>
                  </tr>
                 <tr>
                  <th scope="row">22/3/2019</th>
                  <td>Perk/Discount Name</td>
                  <td>12427</td>
                  <td><div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                <label class="custom-control-label" for="customSwitch2">Mark as used</label>
              </div></td>
                  </tr>
                <tr>
                  <th scope="row">22/3/2019</th>
                  <td>Perk/Discount Name</td>
                  <td>12427</td>
                  <td><div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                <label class="custom-control-label" for="customSwitch3">Mark as used</label>
              </div></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
      

              

              



            
          </div>
        </div>