<div class="row pt-5 py-5 layer-2">
      <div class="container">
        <div class="container">
        
        <div class="row">
          <div class="col-xl-8 col-lg-8">
            <h1 class="display-5">Welcome, Joe</h1>
            <p class="lead mb-0">You have <a href="/pages/credit"><i class="fa fa-diamond" aria-hidden="true"></i> 150 Credits</a> to use in the Marketplace.</p>
            <br>
            <p class="lead mb-0">Based on your <a href="/pages/profile#pills-interest">interests and drivers</a> here are some picks for you to get started.</p>
          </div>
          <div class="col-xl-4 col-lg-4">
            
          </div>

        </div>
      </div>

      </div>
</div>




<section class="narrow">
      <div class="container">
        <div class="row mb-4">
          <div class="col-md-8 col-lg-8">
            <section class="narrow">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <a href="/pages/asos/">
                        <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                        <h4 class="mb-0">Asos Giftcard £50</h4>
                        <div class="text-small text-muted"><i class="fa fa-trophy" aria-hidden="true"></i> Rewarded by your manager</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <a href="/pages/holiday2/">
                        <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
                        <h4 class="mb-0">2 Days Holiday</h4>
                        <div class="text-small text-muted">Gifted By Your Company</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <a href="/pages/peer">
                        <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
                        <h4 class="mb-0">Team Lunch</h4>
                        <div class="text-small text-muted"><i class="fa fa-lock" aria-hidden="true"></i> Incentive from your manager</div>
                      </a>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <a href="/pages/perks" class="hover-arrow float-right">View My Perks</a>
                  </div>
                </div>
              </div>
            </section>

            
            <section class="narrow">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <a href="/pages/asos/">
                        <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                        <h4 class="mb-0">Asos Giftcard £50</h4>
                        <div class="text-small text-muted"><i class="fa fa-trophy" aria-hidden="true"></i> Rewarded by your manager</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <a href="/pages/holiday2/">
                        <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
                        <h4 class="mb-0">2 Days Holiday</h4>
                        <div class="text-small text-muted">Gifted By Your Company</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <a href="/pages/peer">
                        <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
                        <h4 class="mb-0">Team Lunch</h4>
                        <div class="text-small text-muted"><i class="fa fa-lock" aria-hidden="true"></i> Incentive from your manager</div>
                      </a>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <a href="/pages/perks" class="hover-arrow float-right">View My Perks</a>
                  </div>
                </div>
              </div>
            </section>

            <section class="narrow">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <a href="/pages/lynda">
                        <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                        <h4 class="mb-0">Lynda.com</h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <a href="/pages/skillshare">
                        <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
                        <h4 class="mb-0">Skillshare.com</h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <a href="/pages/udemy">
                        <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
                        <h4 class="mb-0">Udemy.com</h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
                      </a>
                  </div>
                </div>
                <div class="row gap">
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <a href="/pages/apple">
                        <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                        <h4 class="mb-0">Apple <span class="discount float-right">20% Off</span></h4>
                        <div class="text-small text-muted">Free Discount Code</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <a href="/pages/tesco">
                        <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
                        <h4 class="mb-0">Tesco <span class="discount float-right">20% Off</span></h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 8 Credits/£</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <a href="/pages/asos2">
                        <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
                        <h4 class="mb-0">Asos <span class="discount float-right">10% Off</span></h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 9 Credits/£</div>
                      </a>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <a href="/pages/marketplace" class="hover-arrow float-right">Browse Marketplace</a>
                  </div>
                </div>
              </div>
            </section>


            
          </div>

          <div class="col-md-4 col-lg-4">

              <div class="card-body">
                <h4 class="text-default">Onboarding Tasks</h4>
                <p class="mt-3">Here's some things you can do to get the most out of Perkbox.</p>
                <ol>
                  <li><a class="text-default" href="/pages/credit"><u>Learn about how credit works</u></a></li><a class="text-default" href="">
                  <li><a class="text-default" href="/pages/marketplace"><u>Explore our marketplace</u></a></li>
                  <li><a class="text-default" href="/pages/profile"><u>Complete your profile</u></a></li>
                </ol>
            </div>
            <hr>
          <div class="sticky-top">
            <div class="card-body">
                <h4 class="text-default">Have your say</h4>
                <p class="mt-3">Send anonymous feedback to help make your company a better place to work</p>
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact-box-modal">
                      Send feedback
                    </button>
            </div>
            <hr>
            <div class="card-body">
                <h4 class="text-default">Recognise Someone</h4>
                <p class="description">Time to make a colleague's day!</p>

                  <ul class="avatars">
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                    <li>
                      <img src="/avatar.png" alt="Avatar" class="avatar">
                    </li>
                  </ul>
                  <br>

                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sign-in-modal">
                    Recognise Someone
                  </button>


            </div>
          </div>
        </div>
      </div>
    </section>





    

                       

          <div class="modal fade" id="sign-in-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-xl-4 m-3">
                        <div class="mb-4">
                          <div class="content-container">
                            <div id="content1">
                                <p class="text-muted text-small">Step 1 of 3</p>
                                <h4 class="h3 mb-2">Recognise Someone</h4>
                                <form>
                                  <div class="form-group">
                                    <label for="exampleFormControlInput1">Who would you like to recognise?</label>
                                    <input type="input" class="form-control" id="exampleFormControlInput1" placeholder="start typing the name">
                                  </div>
                                  <div class="form-group">
                                    <label for="exampleFormControlTextarea1">What for?</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                  </div>
                                </form>
                              <a id="link2" class="btn btn-primary" href="#">Next</a>
                            </div>
                            <div id="content2">
                                <p class="text-muted text-small">Step 2 of 3</p>
                                <h4 class="h3 mb-2">Company value and gift</h4>
                          
                
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">What company value are they embodying?</label>
                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>Company value 1</option>
                                      <option>Company value 2</option>
                                      <option>Company value 3</option>
                                      <option>Company value 4</option>
                                      <option>Company value 5</option>
                                    </select>
                                  </div>

                                  <div class="form-check">
                                  <input class="form-check-input" name="cod" value="1" type="checkbox" value="" id="defaultCheck1">
                                  <label class="form-check-label" for="defaultCheck1">
                                    Would you like to include a gift?
                                  </label>

                                  <div class="form-group">
                                    <select class="form-control" id='select'>
                                      <option>Send one of your own gifted perks</option>
                                      <option>Purchase a gift from the marketplace</option>
                                      <option>Create a custom gift</option>
                                    </select>
                                  </div>

                                  
                                </div>
                                <br>
                                  
                                  
                                  <a id="link3" class="btn btn-primary" href="#">Next</a>
                            </div>
                            <div id="content3">
                                <p class="text-muted text-small">Step 3 of 3</p>
                                <h4 class="h3 mb-2">Public or private</h4>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">How would you like to recognise them?</label>

                                    <select class="form-control" id="exampleFormControlSelect1">
                                      <option>Just send a message privately to them</option>
                                      <option>Publish to the hub for whole team to see</option>
                                      <option>Publish to the hub for whole company to see</option>
                                    </select>
                                  </div>
                                  <p class="text-muted small">Don't worry, we won't display any attached gifts if you publish to the hub, only the message.</p>
                                  <a class="btn btn-primary" href="/pages/home">Send recognition</a>
                            </div>
                        </div>

                          
                        </div>
                        
                      </div>
                    </div>
                  </div>
                </div>
              </div>
      

<div class="m-1">
  
              <div class="modal fade" id="contact-box-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                          <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
                        </svg>

                      </button>
                      <div class="m-3">
                        <div class="my-3">

                            <div id = "div1" style="display:block">
                              <h4 class="h3 mb-2">Have your say</h4>
                              <p>
                                We'd love your feedback so we know what's working and what's not, so we know how to improve.
                              </p>
                              <button class="btn btn-primary" onclick="replace();return false"/>Let's go</button>
                            </div>

                            <div id = "div2" style="display:none">

                              <h4 class="h3 mb-2">How would you like to give feedback?</h4>
                              <hr>
                              <div class="row">
                                <div class="col-lg-12 col-xl-12">
                                  <div class="row">
                                        <div class="ml-3">
                                          <h5>
                                            Open Feedback
                                          </h5>
                                          <div class="avatar-author d-block">
                                            <p>Give us feedback on whatever area you'd like.</p>
                                            <a href="/pages/home" class="btn btn-primary">Open feedback</a>
                                          </div>
                                        </div>
                                  </div>
                                  <hr>
                                  <div class="row">
                                        <div class="ml-3">
                                          <h5>
                                            Short survey
                                          </h5>
                                          <div class="avatar-author d-block">
                                            <p>Answer just 5 quick questions.</p>
                                            <a href="/pages/home" class="btn btn-primary">Start survey</a>
                                          </div>
                                          <br>
                                        </div>

                                  </div>

                            </div> 
                          </div>
                        </div>

        

            