<div class="row pt-5 py-5 layer-2">
      <div class="container">
        <div class="container">
        
        <div class="row">
          <div class="col-xl-8 col-lg-8">
            <h1 class="display-5">Welcome, Joe</h1>
            <p class="lead mb-0">Based on your <a href="/pages/profile#pills-interest">interests and drivers</a> here are some picks for you to get started.</p>
          </div>
          <div class="col-xl-4 col-lg-4">
            
          </div>

        </div>
      </div>

      </div>
</div>



            

            
            <section class="narrow">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <a href="/pages/asos/">
                        <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                        <h4 class="mb-0">Asos Giftcard £50</h4>
                        <div class="text-small text-muted"><i class="fa fa-trophy" aria-hidden="true"></i> Rewarded by your manager</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <a href="/pages/holiday2/">
                        <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
                        <h4 class="mb-0">2 Days Holiday</h4>
                        <div class="text-small text-muted">Gifted By Your Company</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <a href="/pages/peer">
                        <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
                        <h4 class="mb-0">Team Lunch</h4>
                        <div class="text-small text-muted"><i class="fa fa-lock" aria-hidden="true"></i> Incentive from your manager</div>
                      </a>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <a href="/pages/perks" class="hover-arrow float-right">View Spotify Gifts</a>
                  </div>
                </div>
              </div>
            </section>

            <section class="narrow">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <a href="/pages/lynda">
                        <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                        <h4 class="mb-0">Lynda.com</h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <a href="/pages/skillshare">
                        <img src="/placeholder.jpg" alt="Go Commerce" class="rounded mb-3">
                        <h4 class="mb-0">Skillshare.com</h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <a href="/pages/udemy">
                        <img src="/placeholder.jpg" alt="Tribe" class="rounded mb-3">
                        <h4 class="mb-0">Udemy.com</h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 10 Credits/£</div>
                      </a>
                  </div>
                </div>
                <div class="row gap">
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <a href="/pages/apple">
                        <img src="/placeholder.jpg" alt="Volkswagen Australia" class="rounded mb-3">
                        <h4 class="mb-0">Apple <span class="discount float-right">20% Off</span></h4>
                        <div class="text-small text-muted">Free Discount Code</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <a href="/pages/tesco">
                        <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
                        <h4 class="mb-0">Tesco <span class="discount float-right">20% Off</span></h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 8 Credits/£</div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-4 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                      <a href="/pages/asos2">
                        <img src="/placeholder.jpg" alt="Leap iOS" class="rounded mb-3">
                        <h4 class="mb-0">Asos <span class="discount float-right">10% Off</span></h4>
                        <div class="text-small text-muted">From <i class="fa fa-diamond" aria-hidden="true"></i> 9 Credits/£</div>
                      </a>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <a href="/pages/marketplace" class="hover-arrow float-right">Browse The Collections</a>
                  </div>
                </div>
              </div>
            </section>

            <section class="narrow">
              <div class="container">
                <div class="row">
                  <div class="col-md-6 col-lg-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <a href="/pages/hub/" class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-md-12">
                              <h4>1/2 Day Holiday</h4>
                              <p class="text-muted small">Gifted by Team Manager · Just Now for <span class="badge badge-pill badge-secondary small">Employee Driver</span> <span class="badge badge-pill badge-secondary small">Team Value</span></p>
                              <p class="">
                                I've been getting a lot of feedback recently (from insights but also just the general vibe in the office) that ...
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                  </div>
                  <div class="col-md-6 col-lg-6 d-flex aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                      <a href="/pages/hub#pills-profile" class="card shadow border-0">
                        <div class="card-body py-5">
                          <div class="row">
                            <div class="col-md-12">
                              <h4>What an event!</h4>
                              <p class="text-muted small">Recognition From HR Manager · Just now for <span class="badge badge-pill badge-secondary small">Company Value</span></p>
                              <p class="">
                                A massive shout out to @Maddie for the marketing event last week. The biggest turn out we've ever had and ...
                              </p>
                            </div>
                          </div>
                        </div>
                      </a>
                  </div>
                </div>
                <br>
                <div class="row">
                  <div class="col">
                    <a href="/pages/hub" class="hover-arrow float-right bill">View Spotify Hub</a>
                  </div>
                </div>
              </div>
            </section>


            
          </div>

          

            