<section class="min-vh-100 py-5">
      <div class="container">
        <div class="row justify-content-center mb-md-6">
          <div class="col-auto">
          </div>
        </div>
        <div class="row justify-content-center pt-1">
          <div class="col-xl-4 col-lg-5 col-md-6">
            <div class="text-center mb-4">
              <p class="text-muted">Step 3 of 3</p>
              <h1 class="mb-1">Your workplace drivers</h1>
              <span>Our goal is to help us make your experience at work as good as it can be. Help us understand what you value most at work.</span>
            </div>
            
            <div class="row justify-content-center pt-1">
              <div class="col-xl-12 col-lg-12 col-md-12">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">Work-life balance</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">Good Teamwork</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option3">
                    <label class="form-check-label" for="inlineCheckbox3">Peer-Peer</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox4" value="option4">
                    <label class="form-check-label" for="inlineCheckbox3">Manager Relationships</label>
                  </div>
                </div>
              </div>
              <br>
              <div class="form-group">
                <a href="/pages/signup4" class="btn btn-primary btn-block">Save Drivers</a>
              </div>
              <div class="form-group">
                <a href="/pages/signup4" class="btn btn-light btn-block">Skip</a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>