<section class="min-vh-100 py-5 o-hidden">
      <div class="container position-relative layer-2">
      
        <div class="row justify-content-center py-6">
          <div class="col">
            <h2 class="">Perkbox Prototype</h2>
            <p class="text-muted">Click "logout" to restart prototype</p>
            <p>Bits we're still working on:</p>
            <ol>
              <li>Positioning/naming of Gift. Gift = A thing of value given to improve your employee experience</li>
            </ol>
            
          </div>
        </div>

        <a href="/pages/splashemployee" class="btn btn-primary btn-lg">Employee</a>

        

        
        