<section class="min-vh-100 py-5 o-hidden">
      <div class="container">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="/pages/splash">Perkbox Prototype</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Employee</li>
        </ol>
      </nav>
      <br>
    </div>
  </div>
</div>


        <div class="row justify-content-center py-6">
          <div class="container">
        <h2 class="">Employee</h2>

        <p class="text-muted">Medical + L&D* - these have conceptual "homes" within the platform. Further discussions necessary as to the exact business models.</p>
      
        <div class="row">

          <table class="table table-responsive">
              <thead>
                <tr class="text-light">
                  <th style="width: 20%" scope="col">Role</th>
                  <th style="width: 20%" scope="col">Scenario</th>
                  <th style="width: 20%" scope="col">Prototype</th>
                  <th style="width: 20%" scope="col">Notes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><strong>Employee</strong></td>
                  <td>1st Time User</td>
                  <td class="text-small"><a href="/pages/signup1" class="btn btn-primary">View</a></td>
                  <td class="text-small">This prototype shows an indicative onboarding flow. The goal is to capture key information for us to help customise the experience, and set the tone for the platform.</td>
                </tr>
                <tr>
                  <td><strong>Employee</strong></td>
                  <td>Returning user</td>
                  <td><a href="/pages/home" class="btn btn-primary">View</a></td>
                  <td class="text-small">This prototype shows how we could craft a seamless experience between all of our products in one platform.</td>
                </tr>
              </tbody>
            </table>
        
        </div>
      </div>
      <div class="decoration-wrapper d-none d-sm-block">
        <div class="decoration bottom middle-y scale-5">
          

        </div>
        <div class="decoration bottom right scale-5">
          

        </div>
      </div>
    </section>