<div class="row">
      <div class="col-xl-10 col-lg-9 px-xl-6 px-lg-4 px-md-3 py-md-5">
        <div class="card card-body card-lg shadow-3d rounded-sm mb-4 mb-md-5">
          <h1>Updating Leap</h1>
          <div class="lead">
            <p>How to update your project when a new version of Leap is released.</p>
          </div>
        </div>

        <article id="-" class="mb-4 mb-md-6">
          <h3>
            </h3>
<p>Updating to a new version</p>
          
          <div>
            <p>Updates will be released periodically to add new features, provide fixes where necessary and maintain compatibility.</p>
            <p>Most often, the updated files are javascript or CSS and your project should need little adjustment in order to stay up to date.</p>
            <p>The <a href="changelog.html">changelog</a> is be updated with each release and lists the updated files.</p>
            <p>To bring your project up to date with the latest version of Leap, simply download the latest version, unzip the files and replace the old version in your project with the updated version of each Leap file.</p>
            <p>Any breaking changes that affect compatibility with older versions of Leap will be noted, and further instructions on updating will be provided in the changelog.</p>

          </div>
        </article>

      </div>
      <div class="col-xl-2 col-lg-3 d-none d-lg-block py-md-5 docs-sidebar">
        <ul class="nav flex-column">

          <li class="nav-item">
            <a href="#-" class="nav-link text-small" data-smooth-scroll></a>
          </li>

        </ul>
      </div>
    </div>