<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#contact-box-modal">
  Send feedback
</button>

<div class="m-1">
    <div class="modal fade" id="contact-box-modal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <svg class="icon bg-dark" width="24" height="24" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M16.2426 6.34311L6.34309 16.2426C5.95257 16.6331 5.95257 17.2663 6.34309 17.6568C6.73362 18.0473 7.36678 18.0473 7.75731 17.6568L17.6568 7.75732C18.0473 7.36679 18.0473 6.73363 17.6568 6.34311C17.2663 5.95258 16.6331 5.95258 16.2426 6.34311Z" fill="#212529"></path>
                <path d="M17.6568 16.2426L7.75734 6.34309C7.36681 5.95257 6.73365 5.95257 6.34313 6.34309C5.9526 6.73362 5.9526 7.36678 6.34313 7.75731L16.2426 17.6568C16.6331 18.0473 17.2663 18.0473 17.6568 17.6568C18.0474 17.2663 18.0474 16.6331 17.6568 16.2426Z" fill="#212529"></path>
              </svg>

            </button>
            <div class="m-3">
              <div class="my-3">

                  <div id = "div1" style="display:block">
                    <h4 class="h3 mb-2">Have your say</h4>
                    <p>
                      We'd love your feedback so we know what's working and what's not, so we know how to improve.
                    </p>
                    <button class="btn btn-primary" onclick="replace();return false"/>Let's go</button>
                  </div>

                  <div id = "div2" style="display:none">

                    <h4 class="h3 mb-2">How would you like to give feedback?</h4>
                    <hr>
                    <div class="row">
                      <div class="col-lg-12 col-xl-12">
                        <div class="row">
                              <div class="ml-3">
                                <h5>
                                  Open Feedback
                                </h5>
                                <div class="avatar-author d-block">
                                  <p>Give us feedback on whatever area you'd like.</p>
                                  <a href="/pages/home" class="btn btn-primary">Open feedback</a>
                                </div>
                              </div>
                        </div>
                        <hr>
                        <div class="row">
                              <div class="ml-3">
                                <h5>
                                  Short survey
                                </h5>
                                <div class="avatar-author d-block">
                                  <p>Answer just 5 quick questions.</p>
                                  <a href="/pages/home" class="btn btn-primary">Start survey</a>
                                </div>
                                <br>
                              </div>

                        </div>

                  </div> 

              </div>
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>