<div class="row tiny">
  <div class="col col-md-9">
    <a class="m-1 btn btn-light collapsed" data-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
      All Categories
    </a>
   
    <a class="m-1 btn btn-light collapsed" data-toggle="collapse" href="#collapseExample3" role="button" aria-expanded="false" aria-controls="collapseExample3">
      In-store/Online
    </a>
    <a class="m-1 btn btn-light collapsed" data-toggle="collapse" href="#collapseExample4" role="button" aria-expanded="false" aria-controls="collapseExample4">
      Credit/£ Value
    </a>
  </div>
  <div class="col-lg-3">
    <div class="dropdown">
      <button class="btn btn-light dropdown-toggle float-right" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Recommended For You
        <svg class="icon" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M14.4444 8.41358C14.7776 8.2281 15.1875 8.46907 15.1875 8.85048V15.1495C15.1875 15.5309 14.7776 15.7719 14.4444 15.5864L8.78505 12.4369C8.44258 12.2463 8.44258 11.7537 8.78505 11.5631L14.4444 8.41358Z" fill="#212529"></path>
        </svg>

      </button>
      <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 41px, 0px);">
        <div class="dropdown-content">
          <a class="dropdown-item" href="#">Recently Added</a>
          <a class="dropdown-item" href="#">Nearest Me</a>
          <a class="dropdown-item" href="#">Highest % Discount</a>
          <a class="dropdown-item" href="#">From A - Z</a>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="row tiny">
      <div class="col col-md-5">
        <div class="collapse" id="collapseExample1" style="">
          <div class="card shadow border-0">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck6" type="checkbox">
                      <label class="custom-control-label" for="customCheck6">Leisure</label>
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck7" type="checkbox">
                      <label class="custom-control-label" for="customCheck7">Retail</label>
                      
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck8" type="checkbox">
                      <label class="custom-control-label" for="customCheck8">Fitness</label>
                    
                    </div>
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck9" type="checkbox">
                      <label class="custom-control-label" for="customCheck9">Food</label>
                      
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck11" type="checkbox">
                      <label class="custom-control-label" for="customCheck11">Delivery</label>
                       
                    </div>

                  </div>

                  <div class="col-lg-6">
                    
                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck10" type="checkbox">
                      <label class="custom-control-label" for="customCheck10">Education</label>
                       
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck11" type="checkbox">
                      <label class="custom-control-label" for="customCheck11">Home</label>
                       
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck12" type="checkbox">
                      <label class="custom-control-label" for="customCheck12">Pet</label>
                       
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck13" type="checkbox">
                      <label class="custom-control-label" for="customCheck13">Family</label>
                       
                    </div>

                    <div class="custom-control custom-checkbox mb-3">
                      <input class="custom-control-input" id="customCheck14" type="checkbox">
                      <label class="custom-control-label" for="customCheck14">Transportation</label>
                       
                    </div>
                </div>
              </div>
              <br>
              <a href="#" class="float-left btn btn-seconary text-default">Clear</a>
              <a href="#" class="btn btn-primary float-right">Apply</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row tiny">
      <div class="col col-md-5">

          <div class="collapse" id="collapseExample2" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">Discount Codes</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Discounted Gift Cards</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Gift Cards</label>
                                          
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Earn Back Credit (Link your card)</label>
                                          
                                        </div>
                                      </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-seconary text-default">Clear</a>
                                  <a href="#" class="btn btn-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>

      </div>
    </div>

    <div class="row tiny">
      <div class="col col-md-5">

          <div class="collapse" id="collapseExample3" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck6" type="checkbox">
                                          <label class="custom-control-label" for="customCheck6">In-Store Codes</label>
                                        </div>
                                        <div class="custom-control custom-checkbox mb-3">
                                          <input class="custom-control-input" id="customCheck7" type="checkbox">
                                          <label class="custom-control-label" for="customCheck7">Online Codes</label>
                                          
                                        </div>
                      
                                      </div>

                                      <div class="col-lg-12">
                                        
                                  
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-seconary text-default">Clear</a>
                                  <a href="#" class="btn btn-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>

      </div>
    </div>

    <div class="row tiny">
      <div class="col col-md-5">

          <div class="collapse" id="collapseExample4" style="">
                              <div class="card shadow border-0">
                                <div class="card-body py-5">
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <form>
                                          <div>
                                            <input type="range" class="custom-range" id="custom-range-example-1" min="0" max="10" value="6">
                                          </div>
                                          <div class="custom-range-labels">
                                            <span>0 Credits/£</span>
                                            <span>500 Credits/£</span>
                                          </div>
                                        </form>
                                      </div>

                                      <div class="col-lg-12">
                                        
                                  
                                    </div>
                                  </div>
                                  <br>
                                  <a href="#" class="float-left btn btn-seconary text-default">Clear</a>
                                  <a href="#" class="btn btn-primary float-right">Apply</a>
                                </div>
                              </div>
                            </div>

      </div>
    </div>



